{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 


<section>
    <div class="text-center mb-5">
        <h1 class="mt-3">Preparation, preparation, preparation</h1>
    </div>
    <div class="container">
        <div class="col-md-12 mb-2">
            <p id="p_blog">
            From the 1st August 2023 Iz had schedules to stick to, no need for alarms, no paid work or exams to revise for. Four whole months to get ready for an adventure. Chilling. Right?  
            </p>
            <p id="p_blog">
            Note to any budding cycle tourers or adventurers – there is always more to do than you think!
            </p>
            <p id="p_blog">
            Zoe had two months to get ready – and still thought that would be loads of time – how wrong we were! 
            </p>
            <p id="p_blog">
            We quickly found we had multiple new part time jobs I needed to juggle. Iz simply couldn’t fit in being a doctor as well! This included: 
            </p>
            <ul>
                <li id="li_notes_tool">Bike fitting – getting the right parts and dimensions on my bike specifically for us to prevent injury from long term cycling; </li>
                <li id="li_notes_tool">Research into how best to carry all our luggage on small bikes; </li>
                <li id="li_notes_tool">Research and buying all the stuff we will need for us and our bikes for a year; </li>
                <li id="li_notes_tool">Getting our bike mechanic skills up to speed, including Iz attending a 2 week Cytech Level 2 course in Surrey (shout out to Danny and Lili from Warm Showers for hosting me when 
                    I had to evacuate the campsite!); 
                </li>
                <li id="li_notes_tool">Planning the route and logistics;</li>
                <li id="li_notes_tool">Arranging all the vaccinations we need for Morocco and other necessary health appointments before setting off; </li>
                <li id="li_notes_tool">Liaising with, and visiting, the Swedish embassy (only neccessary due to Brexit)</li>
                <li id="li_notes_tool">Attempting to learn multiple languages (currently learning four! French, Portuguese, Spanish, and Arabic); </li>
                <li id="li_notes_tool">Spending time with important people to us across the country and at home – in the last month this was our full time job! ; </li>
                <li id="li_notes_tool">Combining this with cycling to visit these people and places to keep our fitness up.</li>
            </ul>
        </div>
        <p id="p_blog">
        And in amongst this Iz fit in a couple of conferences, protests, and building a pond in the back garden! In the three weeks before setting off they found themself waking up at around 
        5am most mornings with the urge to resume the preparations.
        </p>
</section>
{% endblock content %}