{% extends 'base/base_registered.html' %}
<!--To load the Django library to translate your text.-->
{% load i18n %}

{% load static %}

{% block content %} 
<style>
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
}

.modal-content {
  margin: 0 auto;/* Center horizontally */
  display: block;
  max-width: 80%;
  max-height: 80vh;
  position: relative; /* Set the position to relative */
  top: 50%; /* Move the image down by 50% of its height */
  transform: translateY(-50%); /* Adjust for vertical centering */
}

.close {
  top: 6%;
  right: 3%;
  color: white;
  font-size: 50px;
  cursor: pointer;
  position: absolute; /* Set the position to relative */
}

.close:hover {
  text-decoration: none;
  color: rgb(83, 158, 138);
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.prev {
  left: 10px;
  text-decoration: none;
}

.next {
  right: 10px;
  text-decoration: none;
}

.prev:hover, .next:hover {
  text-decoration: none;
  color: rgb(83, 158, 138);
}
</style>
 
<body>
  <main id="main" data-aos="fade" data-aos-delay="1500"></main>
    <!-- =======Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        {% for country, file_name in country_dict_html.items %}
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-lg-6 text-center mb-4">
            <!-- O lower é para facer a variable "country" en minúscula e non me de problemas á hora de renderizar a imaxe na web -->
            <h2><img src="{% static 'country_flags/'|add:country|lower|add:'-flag.gif' %}" width="75" height="30"><strong>{{country}}</strong></h2>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div>
        <div class="row gy-4 justify-content-center">
          {% for name_jpg in file_name %}
          <div id="picture" class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="gallery-item" style="color: white;">
              {% if request.get_host == '127.0.0.1:8000' %}
              <!-- Use local URL for the image during local development -->
              <img src="/media/media_files/{{country}}/{{name_jpg}}" class="img-fluid" alt="" id="pictures">
              {% else %}
              <img src="https://terrameiga.s3.eu-west-3.amazonaws.com/media_files/{{country}}/{{name_jpg}}" class="img-fluid" alt="" id="pictures">
              {% endif %}
            </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endfor %}
    <!-- End Gallery Section -->

    <!-- ========== Modal ====== -->
    <!--With this code, the image goes in a modal type, and it displays big in the center of the image-->
    <!--Moreover, it also contains arrows to go upward or forward-->
    <div id="myModal" class="modal">
      <span class="close" id="close-modal">&times;</span>
      <img class="modal-content" id="modal-image">
      <!-- Navigation arrows -->
      <a class="prev" id="prev-image">&#9665;</a>
      <a class="next" id="next-image">&#9655;</a>
    </div>
    <!-- ====End Modal ===== -->

  </main><!-- End #main -->
</body>


<script>
var modal = document.getElementById('myModal');
var modalImg = document.getElementById('modal-image');
var closeBtn = document.getElementById('close-modal');
var prevBtn = document.getElementById('prev-image');
var nextBtn = document.getElementById('next-image');

var images = document.querySelectorAll('.img-fluid');
var currentImageIndex = 0;

// Open the modal when an image is clicked
images.forEach(function(image, index) {
  image.addEventListener('click', function() {
    modal.style.display = 'block';
    modalImg.src = this.src;
    currentImageIndex = index;
  });
});

// Close the modal when the close button is clicked
closeBtn.addEventListener('click', function() {
  modal.style.display = 'none';
});

// Navigate to the previous image
prevBtn.addEventListener('click', function() {
  currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
  modalImg.src = images[currentImageIndex].src;
});

// Navigate to the next image
nextBtn.addEventListener('click', function() {
  currentImageIndex = (currentImageIndex + 1) % images.length;
  modalImg.src = images[currentImageIndex].src;
});

// Close the modal when clicking outside the image
window.addEventListener('click', function(event) {
  if (event.target == modal) {
    modal.style.display = 'none';
  }
});
</script>


{% endblock %}