{% extends 'base/base_non_registered.html' %}
<!--To load the Django library to translate your text.-->
{% load i18n %}

{% load static %}

<!--Esto utilízase para imprimir as mensaxes de cando unha acción foi completada-->
<div id="content" class="mt-5 fixed-top">
  {% if messages %}
  {% for m in messages %}
  <!--Esto é para que me imprima solo a última mensaxe das alertas que é a que se corresponde coa mensaxe de sucess-->
  <!--As Primeriras mensaxes son relativas a errores que pudo haber no formulario de sign in-->
    {% if forloop.last %}
    <div class="alert alert-{{ m.tags }} m-2 mt-1" id="msg" role="alert">
      <strong>{{ m }}</strong>
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
</div>
<!--Eiqui estou decindo canto tempo ten que estar a alerta unha vez que se completou a acción-->
<!--O 9000 está a endicar o tempo que está a alerta visible. Despois a alerta desaparece.-->
<script>
  setTimeout(function(){
      if ($('#msg').length > 0) {
          $('#msg').remove();
      }
  }, 7000)
</script>

{% block content %} 

<style>
  #body_sign_in {
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
/*Con esto o que conseguín foi que o footer esté sempre ao fondo da pantalla indendentemente se é grande ou máis pequena*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
</style>

<body id="body_sign_in">
    <div id="wrapper" class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-left h1 fw-bold mx-1 mt-2">{% trans "Sign in" %}
                  </p>
                  <form class=" mx-md-4" method="post" novalidate>
                    {% csrf_token %}
                      {% for field in sign_in_form.visible_fields %}
                        <tr>
                          <td>
                            <br>
                            {% if forloop.counter == 1 %}
                            <label>Email</label>
                            {% elif forloop.counter == 2 %}
                            <label>Password</label>
                            {% endif %}
                            <!--O div métollo para que me quede a barra de meter o texto debaixo da label-->
                            <div>
                            {{ field }}
                            </div>
                            <!--Co "if messages" solo imprimo o error se hai alerta,se non hai non imprimo o erro. Vouno comentar porque non quero que aparezca texto debaixo do cajetín-->
                            <!--
                            {% if messages %}
                            <label style="color: red;">{{ field.errors }}</label>
                            {% endif %}
                            -->
                          </td>
                        </tr>
                      {% endfor %}
                    
                    <div class="d-flex flex-row align-items-left">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                      </div>
                    </div>

                    <div class="d-flex justify-content-left mb-lg-4 mt-1">
                      <button id="sign_in_button" type="submit" class="btn-lg mt-2" href="#" type="submit">
                        <strong>{% trans "Sign in" %}</strong>
                      </button>
                    </div>
 
                    <div class="form-check d-flex justify-content-left">
                      <label class="form-check-label mt-2" for="form2Example3">
                        <a href="{% url 'reset_password' %}" class="text-dark"><p><strong>{% trans "Did you forget your password?" %}</strong></p></a>
                      </label>
                    </div>

                    <div class="form-check d-flex justify-content-left">
                      <label class="form-check-label text-dark" for="form2Example3">
                        <a href="{% url 'sign_up' %}" class="text-dark"><p><strong>{% trans "Create a new TerraMeiga account" %}</strong></p></a>
                      </label>
                    </div>
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-left order-1 order-lg-2">
  
                  <img src='{% static "imaxes/sign_in.jpg" %}'
                    class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </body>
{% endblock content %}