{% extends 'base/base_non_registered.html' %}
<!--To load the Django library to translate your text.-->
{% load i18n %}

<!--Esto é para a autenticación en Google-->
{% load socialaccount %}

{% load static %}

{% block content %} 

<body id="body_sign_up">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card-body p-md-5">
              <div class="row justify-content-left">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-left h3 fw-bold mx-1 mt-5">
                    {% trans "Account Creation" %}
                  </p>
                  <form class="mx-1 mx-md-4" method="POST" action="" novalidate>
                    {% csrf_token %}
                      {% for field in sign_up_form.visible_fields %}
                        <tr>
                          <td>
                            <br>
                            {% if forloop.counter == 1 %}
                            <label>{% trans "Name" %}</label>
                              <div>
                                {{ field }}
                              </div>
                            {% elif forloop.counter == 2 %}
                            <label>Email</label>
                              <div>
                                {{ field }}
                              </div>
                            {% elif forloop.counter == 3 %}
                            <label>{% trans "Password" %}</label>
                              <span class="input-group-text" style="padding: 0; padding-right: 5px;">
                                {{ field }}
                                &nbsp;
                                <i id="eye_password" style="font-size: 20px;" class="toggle-password far fa-eye" onclick="togglePasswordVisibility(this)"></i>
                              </span>
                            {% elif forloop.counter == 4 %}
                            <label>{% trans "Repeat Password" %}</label>
                              <span class="input-group-text" style="padding: 0; padding-right: 5px;">
                                {{ field }}
                                &nbsp;
                                <i id="eye_password" style="font-size: 20px;" class="toggle-password far fa-eye" onclick="togglePasswordVisibility(this)"></i>
                              </span>
                            {% endif %}
                            <!--Co "if messages" solo imprimo o error se hai alerta,se non hai non imprimo o erro-->
                            {% if messages %}
                              <label id="label_error" style="color: red;">{{ field.errors }}</label>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}   
                      <div class="d-flex">
                        <p class="mt-3">
                          {% trans "Creating the account, you are accepting the" %} <a href="#" data-toggle="modal" data-target="#exampleModalLong" id="privacy_policy">{% trans "Privacy Policy" %}</a>
                        <p>
                          <!-- Button trigger modal -->

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 id="modal_title"><strong>{% trans "Privacy Policy" %}</strong></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {% include 'privacy_policy.html' %}
                            </div>
                            <div class="modal-footer">
                              <button id="privacy_policy_close_button" type="button" class="btn" data-dismiss="modal"><strong>{% trans "Close" %}</strong></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>

                      <div class="justify-content-left">
                        <button id="sign_up_button" type="submit" class="btn-lg" href="#" type="submit">
                          <strong>{% trans "Sign Up" %}</strong>
                        </button>
                      </div>

                      <!--Google sign up button-->
                      <div class="justify-content-left mt-4">
                        <a id="sign_up_button" type="submit" class="btn fab fa-google" type="submit" href="{% provider_login_url 'google' %}" style="text-decoration: none; ">
                          <strong style="font-family: sans-serif;">{% trans "Continue with Google" %}</strong>
                        </a>
                    </div>

                  </form>
                    <div class="form-check d-flex justify-content-left mt-3">
                      <label class="form-check-label" for="form2Example3">
                        <a href="{% url 'sign_in' %}" class="text-dark" style="text-decoration: none;"><p><strong>{% trans "Do you have already an account? sign in into your account" %}</strong></p></a>
                      </label>
                    </div>
                </div>
                <!--C d-none e o d-md-flex o que fago e non mostrar a imaxe cando a pantalla é pequena. Esto son propiedades do Bootstrap-->
                <div class="col-md-10 col-lg-6 col-xl-7 d-none d-md-flex align-items-center justify-content-center order-1 order-lg-2 mt-4">
                  <img src='{% static "imaxes/sign_up.jpg" %}'
                    class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>

{% endblock content %}