<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Terra Meiga - Password Recovery</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; background-color: #f2f2f2; margin: 0;">
    <table cellpadding="0" cellspacing="0" width="600" style="margin: 0 auto;">
        <tr>
            <td style="padding: 10px 10px 10px 0; text-align: center; background-color: black;">
                <img src="https://terrameiga.s3.eu-west-3.amazonaws.com/favicon.jpeg" alt="TerraMeiga" width="75" height="75" style="display: block; margin: 0 auto;">
                <h3 style="color: white; margin-top: 20px;">Email Confirmation</h3>
            </td>
        </tr>
        <tr>
            <td style="padding: 40px 30px; background-color: #ffffff;">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <p>Hello!</p>
                            <p>Thank you for signing up with TerraMeiga and supporting me on this adventure. To complete your registration, please click the following link to confirm your email:</p>
                            <!--IMPORTANTE: As imaxes non se van a renderizar no email porque o dominio (127.0.0.1:8000), é un dominio local. No momento que metas o dominio
                            as imaxes deberíanse renderizar no email que lle chega ao user porque é un dominio seguro é hotmail/gmail/apple non o bloquea.-->
                            <a href="http://127.0.0.1:8000/account_confirmation_email_done/{uidb64}/{token}/" style="color: rgb(83, 158, 138)"><strong>Confirm Your Email</strong></a>
                            <p style="margin-top: 10px;">If you did not register on TerraMeiga, you can safely ignore this email.</p>
                            <p>Happy biking!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0; background-color: black;">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <a href="https://www.instagram.com/bikepacking" style="color: #ffffff; text-decoration: none; margin: 0 10px;"><img src="https://terrameiga.s3.eu-west-3.amazonaws.com/you_tube_email.png" alt="YouTube" width="18" height="18"></a>
                            <a href="https://www.twitter.com/bikepacking" style="color: #ffffff; text-decoration: none; margin: 0 10px;"><img src="https://terrameiga.s3.eu-west-3.amazonaws.com/instagram_email.png" alt="Instagram" width="18" height="18"></a>
                            <a href="https://www.facebook.com/bikepacking" style="color: #ffffff; text-decoration: none; margin: 0 10px;"><img src="https://terrameiga.s3.eu-west-3.amazonaws.com/facebook_email.png" alt="Facebook" width="18" height="18"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>


