{% extends 'base/base_non_registered.html' %}
<!--To load the Django library to translate your text.-->
{% load i18n %}

<!--Esto é para a autenticación en Google-->
{% load socialaccount %}

{% load static %}

{% block content %}


<body id = "body_privacy_policy">
<p class="mb-3">{% trans "Effective Date: 01-Jan-2024" %}</p>

<h5>{% trans "1. Introduction" %}</h5>
   <p>
      {% trans "This Privacy Policy outlines how terrameiga.bike collects, uses, shares, and protects personal data as required by the General Data Protection Regulation (GDPR). By using our website terrameiga.bike, you consent to the practices described in this Privacy Policy." %}
   </p>
<h5>{% trans "2. Definitions" %}</h5>
   <p>
      {% trans "a. 'Personal Data' means any information that relates to an identified or identifiable natural person." %}
   </p>
   <p>
      {% trans "b. 'Data Processing' includes any operation or set of operations performed on personal data, such as collection, recording, organization, structuring, storage, adaptation, alteration, retrieval, consultation, use, disclosure, dissemination, alignment, combination, restriction, erasure, or destruction." %}
   </p>
<h5>{% trans "3. Information We Collect" %}</h5>
   <p>
      {% trans "a. Personal Data: We may collect personal data, including but not limited to your name and email address." %}
   </p>
   <p>
      {% trans "b. Usage Information: We automatically collect information about your usage of the Website, including browser type, device information, and pages visited." %}
   </p>
   <p>
      {% trans "c. Cookies: On this site we do not use cookies." %}
   </p>
<h5>{% trans "4. Legal Basis for Data Processing" %}</h5>
   <p>
      {% trans "We may process personal data based on one or more of the following legal bases:" %}
   </p>
   <p>
      {% trans "a. Consent: We may process data with your explicit consent." %}
   </p>
   <p>
      {% trans "b. Legal Obligation: We may process data to comply with legal obligations." %}
   </p>
   <p>
      {% trans "c. Legitimate Interests: We may process data based on our legitimate interests, provided they do not override your rights and interests." %}
   </p>
<h5>{% trans "5. Data Use" %}</h5>
   <p>
      {% trans "We may use personal data for the following purposes:" %}
   </p>
   <p>
      {% trans "a. To analyze usage patterns and conduct research." %}
   </p>
   <p>
      {% trans "b. To comply with legal obligations." %}
   </p>
<h5>{% trans "6. Data Sharing" %}</h5>
   <p>
      {% trans "We do not sell or rent your personal data to third parties. However, we may share your data with:" %}
   </p>
   <p>
      {% trans "a. Service Providers: We may share data with service providers who help us operate the Website and provide our services." %}
   </p>
   <p>
      {% trans "b. Legal Compliance: We may disclose data to comply with legal requirements, protect our rights, or respond to a legal request." %}
   </p>
<h5>{% trans "7. Data Transfer" %}</h5>
   <p>
      {% trans "Your data may be transferred to, processed in, and stored in countries outside the European Economic Area (EEA). We ensure that such transfers comply with GDPR requirements and protect your data." %}
   </p>
<h5>{% trans "8. Data Retention" %}</h5>
<p>
   {% trans "We will retain your personal data for as long as you have an active account with us. Once you delete your account, we will delete all your Personal Identifiable Information (PII)." %}
</p>
<h5>{% trans "9. Data Security" %}</h5>
<p>
   {% trans "We implement appropriate security measures to protect your personal data from unauthorized access and disclosure. However, no data transmission or storage is entirely secure." %}
</p>
<h5>{% trans "10. Your Rights" %}</h5>
<p>
   {% trans "Under GDPR, you have rights regarding your personal data, including:" %}
</p>
<p>
   {% trans "a. Right to Access: You can request access to your personal data." %}
</p>
<p>
   {% trans "b. Right to Rectification: You can request the correction of inaccurate data." %}
</p>
<p>
   {% trans "c. Right to Erasure: You can request the deletion of your data." %}
</p>
<p>
   {% trans "d. Right to Restriction of Processing: You can request limitations on data processing." %}
</p>
<p>
   {% trans "e. Right to Data Portability: You can request your data in a structured, commonly used format." %}
</p>
<p>
   {% trans "f. Right to Object: You can object to the processing of your data." %}
</p>
<p>
   {% trans "g. Right to Withdraw Consent: If processing is based on consent, you can withdraw it at any time." %}
</p>
<p>
   {% trans "To exercise your rights, please contact us at paquinho89@gmail.com." %}
</p>
<h5>{% trans "11. Contact Us" %}</h5>
<p>
   {% trans "If you have questions or concerns about this Privacy Policy or our data practices, please contact us at paquinho89@gmail.com." %}
</p>
<h5>{% trans "12. Changes to this Privacy Policy" %}</h5>
<p>
   {% trans "We reserve the right to modify this Privacy Policy at any time. Please review it periodically for updates." %}
</p>
<p>{% trans "This Privacy Policy was last updated on 01-Jan-2024." %}</p>
</body>

{% endblock content %}
