{% load static %}

<!doctype html>
<html lang="en">

<!-- Bootstrap CSS --> <!--Esto é o css qie está cargado en internet. Se te fixas é unha stylesheet onde todos os formatos css-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
  .carousel {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  width: 100vw;
}
.carousel-inner {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  width: 100vw;
}
.carousel-item {
  object-fit: cover;
  object-position: center;
  height: 35vh;
  width: 100vw;
}
</style>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>TerraMeiga</strong></a>
        <form class="d-flex-danger" role="search">
          <a type="button" class="btn btn-secondary btn-sm" href="{% url 'route' %}">GL</a>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}" style = "margin-left: 10px;">Inicio</a>
            </li>
            <li class="nav-item">
              <a type="button" class="nav-link" href="{% url 'route' %}" style = "margin-left: 10px;">Percorrido</a>
            </li>
          </ul>
          <form class="d-flex-danger" role="search">
            <a class="btn btn-outline-light" href="{% url 'sign_in' %}" type="submit"><strong>Área Persoal</strong></a>
            <a class="btn btn-outline-danger" href="{% url 'sign_up' %}" type="submit"><strong>Rexístrarse</strong></a>
          </form>
          
        </div>
      </div>
    </nav>
  </header>

  <!-- Page content-->
  
    <div class="text-left mt-5">
        <ul class="lead">DAY: {{ journey_day_html }}
            <li>Km completed: {{ total_km_html }} km </li>
            <!--As bandeiras quítoas do seguinte link: https://www.quackit.com/html/html_editors/scratchpad/?app=charset_ref&hexadecimal=1F1E6,1F1E9&decimal=127462,127465&unicodeName=Andorra-->
            <li>Country: {{ current_country_html }} &#x1F1E6;&#x1F1E9; </li>
            <li>{{flag_url_html}}</li>
            <li>Country Number: <strong>{{country_number_html}}</strong></li>
            <!--Para poder meterlle a variable country teño que escribir a url deste xeito-->
            <li><img class="d-block w-10" width="200" height="150" src='{{flag_url_html}}' alt="First slide"></li>
            <li>Visa required: {{ visa_required_html }} ({{ visa_price_html }} Euros) </li>
            <li>Capital: {{ capital_city_html }} </li>
            <li>Surface: {{ surface_html }} </li>
            <li>Population: {{ population_html }} </li>
            <li>Density population: {{ density_population_html }} </li>
            <li>Renta per capita: {{ rent_per_capita_html }} </li>
            <li>Currency: {{ currency_html }} </li>
            <li>Local Time: <label id="current-time"></label> </li>
            <li>Comparison: Na comparación vou por os datos de España sen facer ningún calculo e pista. Así a xente pode contrastar os datos por si sola </li>
            
        </ul>
    </div>
  <!--ESTO É CÓDIGO DE JAVASCRIPT PARA CREAR UN RELOXO-->
  <!--The timezones are get from this page (zone ID column): https://nodatime.org/TimeZones-->
  <script>
    let time = document.getElementById("current-time");
    setInterval(()=>{
      let d = new Date();
      time.innerHTML = d.toLocaleTimeString('en-US', {timeZone: "{{time_zone_html}}", timeZoneName: "short", hour12: false })
    },1000)
  </script>
  
  <!-- How to embed a koomot map into html: https://www.komoot.es/b2b/embed-->
  <div>
    <iframe src="https://www.komoot.es/tour/947537380/embed?profile=1" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>


<h1>Pepe</h1>

  <!-- Three columns of text -->
<div class="row">
  <div class="col-lg-3">
    <!--CHART 1-->
    <div class="container-fluid">
      <h2>Money spent per day</h2>
      <canvas id="money_per_day"  class="chart-container" width="400" height="400"></canvas>
    </div>
    <!--CHART 5-->
    <div class="container-fluid">
      <h2>Km e desnivel done per day</h2>
      <canvas id="km_altitude_per_day"  class="chart-container" width="400" height="400"></canvas>
    </div>
  </div>

  <!--CHART 2-->
  <div class="col-lg-3">
    <div class="container-fluid">
      <h2>Total money spent in each country</h2>
      <canvas id="money_per_country"  class="chart-container" width="400" height="400"></canvas>
    </div>
  <!--CHART 6-->
    <div class="container-fluid">
      <h2>Total Km e desnivel per country</h2>
      <canvas id="km_altitude_per_country"  class="chart-container" width="400" height="400"></canvas>
    </div>
  </div>

  <!--CHART 3-->
  <div class="col-lg-3">
    <div class="container-fluid">
      <h2>How the money was spent?</h2>
      <canvas id="spent_type"  class="chart-container" width="400" height="400"></canvas>
    </div>
  </div>
  <!--CHART 4-->
  <div class="col-lg-3">
    <div class="container-fluid">
      <h2>Total money spent so far (€)</h2>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{graph_total_money_html}}</h5>
          </div>
        </div>
    </div>
  </div>
</div>
 


<!--Script CHART 1-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const var_money_per_day = document.getElementById('money_per_day');
  new Chart(var_money_per_day, {
    type: 'bar',
    data: {
      labels: [{% for day in graph_money_per_day_html %} '{{day.journey_day}}', {% endfor %}],
      datasets: [{
        label: 'Euros - €',
        data: [{% for money in graph_money_per_day_html %} '{{money.expense_euros__sum}}', {% endfor %}],
        borderWidth: 1,
        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ]
      }]
    },
    options: {
      responsive: false,
      scales: {
        x:{
          title:{
            display: true,
            text: 'Day'
          } 
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Euros - €'
          }
        }
      }
    }
  })
</script>

<!--Script CHART 2-->
<script>
  const graph_money_per_country = document.getElementById('money_per_country');
  new Chart(graph_money_per_country, {
    type: 'bar',
    data: {
      labels: [{% for country in graph_money_per_country_html %} '{{country.country_name}}', {% endfor %}],
      datasets: [{
        label: 'Euros - €',
        data: [{% for money in graph_money_per_country_html %} '{{money.expense_euros__sum}}', {% endfor %}],
        borderWidth: 1,
        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ]
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Euros - €'
          }
        }
      }
    }
  })
</script>

<!--Script CHART 3-->
<script>
  const graph_spent_type = document.getElementById('spent_type');
  new Chart(graph_spent_type, {
    type: 'doughnut',
    data: {
      labels: [{% for type in graph_money_per_type_html %} '{{type.expense_type}}', {% endfor %}],
      datasets: [{
        label: 'Euros - € ',
        data: [{% for money in graph_money_per_type_html %} '{{money.expense_euros__sum}}', {% endfor %}],
        borderWidth: 1,
        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ]
      }]
    }
  })
</script>


<!--Script CHART 5-->
<script>
  const graph_km_altitude_per_day = document.getElementById('km_altitude_per_day');
  new Chart(graph_km_altitude_per_day, {
    data: {
      labels: [{% for day in graph_km_altitud_per_day_html %} '{{day.journey_day}}', {% endfor %}],
      datasets: [
        {
          label: 'Km per day',
          data: [{% for km in graph_km_altitud_per_day_html %} '{{km.km_day__sum}}', {% endfor %}],
          type: 'bar',
          yAxisID: 'y',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        },
        {
          label: 'Meters of climbing',
          data: [{% for altitude in graph_km_altitud_per_day_html %} '{{altitude.altitude_day__sum}}', {% endfor %}],
          type: 'line',
          yAxisID: 'y1',
          backgroundColor: 'rgba(54, 162, 235, 1)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }
      ]
    },
    options: {
      responsive: false,
      scales: {
        x:{
          title:{
            display: true,
            text: 'Day'
          } 
        },
        y: {
            type: 'linear',
            position: 'left',
            beginAtZero: true,
            title: {
              display: true,
              text: 'quilómetros'
              }
          },
          y1:{
            type: 'linear',
            grid: {
              display: false
              },
            position: 'right',
            beginAtZero: true,
            title: {
              display: true,
              text: 'metros de ascenso'
              }
          }
      }
    }
  });
</script>

<!--Script CHART 6-->
<script>
  const graph_km_altitude_per_country = document.getElementById('km_altitude_per_country');
  new Chart(graph_km_altitude_per_country, {
    data: {
      labels: [{% for country in graph_km_altitud_per_country_html %} '{{country.country_name}}', {% endfor %}],
      datasets: [
        {
          label: 'Km per day',
          data: [{% for km in graph_km_altitud_per_country_html %} '{{km.km_day__sum}}', {% endfor %}],
          type: 'bar',
          yAxisID: 'y',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        },
        {
          label: 'Meters of climbing',
          data: [{% for altitude in graph_km_altitud_per_country_html %} '{{altitude.altitude_day__sum}}', {% endfor %}],
          type: 'line',
          yAxisID: 'y1',
          backgroundColor: 'rgba(54, 162, 235, 1)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }
      ]
    },
    options: {
      responsive: false,
      scales: {
        y: {
            type: 'linear',
            position: 'left',
            beginAtZero: true,
            title: {
              display: true,
              text: 'quilómetros'
              }
          },
          y1:{
            type: 'linear',
            grid: {
              display: false
              },
            position: 'right',
            beginAtZero: true,
            title: {
              display: true,
              text: 'metros de ascenso'
              }
          }
        
      }
    }
  });
</script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>