{% extends 'base/base_registered.html' %}
<!--To load the Django library to translate your text.-->
{% load i18n %}
{% load static %}
{% block content %} 


<style>
  h4{
    color: rgb(255, 255, 255, 0.8);
  }
  p{
    color: rgb(255, 255, 255, 0.8);
  }
  #add_reply_button {
    color: white;
    background-color: rgb(83, 158, 138);
  }
  #add_reply_button:hover {
    background-color: rgb(246, 158, 138);
  }
</style>

<body>
<!-- Page content-->
<div class="row">
  <div class="text-left card col-lg-3">
    <ul>
    <h4 class="mt-2">
      <!--Para poder meterlle a variable country teño que escribir a url deste xeito-->
      WEEK {{current_week_html}} - Day {{ journey_day_html }}<img style="float: right;" width="75" height="37" src='{{flag_url_html}}' alt="First slide">
    </h4>
    <hr>
      <li id="data_home_page">Km completed: <strong>{{ total_km_html }} km </strong></li>
      <li id="data_home_page" class="mt-2">Total Expenses: <strong>{{ graph_total_money_html }} € </strong></li>
      <li id="data_home_page" class="mt-2">Country: <strong>{{ current_country_html }} (#{{country_number_html}})</strong></li>
      <li id="data_home_page" class="mt-2">Capital: <strong>{{ capital_city_html }}</strong></li>
      <li id="data_home_page" class="mt-2">Visa required: <strong>{{ visa_required_html }} ({{ visa_price_html }} Euros)</strong></li>
    <hr>
    <h5>Country Information:</h5>
    <hr>
      <li id="data_home_page" class="mt-3">Surface: <strong>{{ surface_html }} km2 </strong><br> 
        <label style="font-style: italic;">(Spain: 505.994 km2)</label></li>
      <li id="data_home_page" class="mt-2">Population: <strong>{{ population_html }} people </strong> <br>
        <label style="font-style: italic;">(Spain: 48.300.000 people)</label></li>
      <li id="data_home_page" class="mt-2">Density population: <strong>{{ density_population_html }} km2 </strong> <br>
        <label style="font-style: italic;">(Spain: 94 people per km2)</label> </li>
      <li id="data_home_page" class="mt-2">Renta per capita: <strong>{{ rent_per_capita_html }} €</strong> <br>
        <label style="font-style: italic;">(Spain: 27.870 €)</label> </li>
      <li id="data_home_page" class="mt-2">Currency: <strong>{{ currency_html }}</strong> </li>
      <li id="data_home_page" class="mt-2">Local Time: <strong><label id="current-time"></label></strong> </li>
      <li id="data_home_page" class="mt-2">The most listen song on Spotify</li>
    </ul>
  </div>
  <div class="col-lg-9">
    <iframe src="https://www.komoot.es/tour/947537380/embed?profile=1" width="100%" height="650" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
  <!--ESTO É CÓDIGO DE JAVASCRIPT PARA CREAR UN RELOXO-->
  <!--The timezones are get from this page (zone ID column): https://nodatime.org/TimeZones-->
  <script>
    let time = document.getElementById("current-time");
    setInterval(()=>{
      let d = new Date();
      time.innerHTML = d.toLocaleTimeString('en-US', {timeZone: "{{time_zone_html}}", timeZoneName: "short", hour12: false })
    },1000)
  </script>
<!--CHAT AREA-->
<!-- Main Body -->
<section>
  <div class="container mt-12">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-12 pb-12 mt-4">
        <!--<form method="post" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <h3 style="color: white">Anything you want to say or ask me?</h3>
              {{ chat_form_html.comentario }}
              {% if messages %}
                <label id="label_error" style="color: red;">{{ chat_form_html.comentario.errors }}</label>
              {% endif %}
          </div>
          <div class="form-group">
            <input type="hidden" name="form_type" value="comment">
            <button type="submit" class="btn btn-outline-light mt-2" id="button_postcomment" href=""><strong>Post Comment</strong></button>
          </div>
        </form>-->
        <h4>
          Highlights ({{chat_number_comments_html}})
        </h4>
        {% for chat_comments in chat_comments_all_html %}
        <ul class="list-unstyled" id="comments">
          <li class="justify-content-between">
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <!--<p class=" mb-0">
                  {{ chat_comments.username_comment }}
                </p>-->
                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 
                  {{ chat_comments.date_added }}
                </p>
              </div>
              <div class="card-body">
                <p class="fw-bold mb-0">
                  {{ chat_comments.comentario }}
                </p>
                <!--When the button is clicked, the input field in the modal section (id=comment-pk) is going to be auto-populated with the chat_comments.pk
                thanks to the function created in javascript (setCommentPK)-->
                <button onclick="toggleComments({{ chat_comments.pk }}); setCommentPK( {{chat_comments.pk}} )" id="showCommentsBtn_{{ chat_comments.pk }}" class="text-decoration-underline mb-0 mt-2 btn btn-link" style="color: rgb(255, 255, 255, 0.8);">
                  Add Comment / View Comments ({{chat_comments.number_of_replies}})
                </button>
              </div>
            </div>
            <ul class="list-unstyled" id="comments">
              <div id="commentsSection_{{ chat_comments.pk }}" style="display: none;" class="card">
                <li class="justify-content-between">
                  <form class="mx-1 mx-md-4 mt-3" method="POST" action="" novalidate>
                    {% csrf_token %}
                    <!--IMPORTANTE: o que está facendo o input eiqui é autopopulando o 'pk_original_comment' field do formulario 'chat_replies_form'
                      Ten type='hidden' porque non quero que se mostre. Esto autopulase coa función de javascript (setCommentPK)-->
                    <input type="hidden" name="pk_original_comment" id="comment-pk-{{ chat_comments.pk }}">
                    <!--Deixo o {{ form_chat_reply_html.pk_original_comment }} comentado para que sepas que o chat_comments.pk estase a gardar aí.-->
                    <!--{{ form_chat_reply_html.pk_original_comment }}-->
                    {{ form_chat_reply_html.reply_text }}
                    <input type="hidden" name="form_type" value="reply">
                    <button id="add_reply_button" type="submit" class="btn mt-3">Add Reply</button>
                    {% for reply in replies_comments_all_html %}
                    <div class="card" style="background-color:black; border: 1px;">
                      <!--string format is to convert and ensure both values are strings, because if they do not have the same type, a igualdade non funciona-->
                      {% if chat_comments.pk|stringformat:"s" == reply.pk_original_comment|stringformat:"s" %}
                      <div class="card-header d-flex justify-content-between p-2" style="background-color: #28231D;">
                      </div>
                      <div class="card-header d-flex justify-content-between p-2">
                        <p class="fw-bold mb-0">
                          <strong>{{ reply.username_reply }}</strong>
                        </p>
                        <p class="text-muted small mb-0"><i class="far fa-clock"></i> 
                            {{ reply.date_added }}
                        </p>
                      </div>
                      <div class="card-body">
                        <p class="mb-0">
                          {{ reply.reply_text }}
                        </p>
                      </div>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </form>
                </li>
              </div>
            </ul>
          </li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
            
</body>

<!--This is the javascript function which captures the chat_comments.pk when the "Reply" button is clicked.-->
<script>
  function setCommentPK(pk) {
      document.getElementById('comment-pk-' + pk).value = pk; //Con esta función asígnolle ao valor input(<input name="pk_original_comment" id="comment-pk-{{ chat_comments.pk }}">), o pk do comentario cando se clica no botón "Reply/Show comments"
  }

  function toggleComments(chatCommentId) { //Con esto fago que ao clicar no botón the "reply/shos all commentes" me mostre os replies correspondientes a sección do comentario que estou clicando.
        var commentsSection = document.getElementById('commentsSection_' + chatCommentId);
        if (commentsSection.style.display === 'none') {
            commentsSection.style.display = 'block';
        } else {
            commentsSection.style.display = 'none';
        }
    }
</script>

{% endblock content %}