
/*Esto é para darlle formato aos message.ERRORS porque por defecto non traen formato*/
.alert-error {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
position:absolute;
position: sticky;
}
/*Esto é para darlle formato ao botón da cruz que pecha a alerta da mensaxe de error*/
.alert-error .close {
position: absolute;
top: 0;
right: 5px;
padding: 5px;
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
font-size: 30px; /* Adjust the font size as needed */
    }
/*Esto é para darlle formato ao botón da cruz que pecha a alerta do mensxe de success*/
.alert-success .close {
position: absolute;
top: 0;
right: 5px;
padding: 5px;
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
font-size: 30px; /* Adjust the font size as needed */
    }
#body_sign_in {
background-color: black;
margin-top: 0;
margin-bottom: 0;
height: auto;
/*Con esto o que conseguín foi que o footer esté sempre ao fondo da pantalla indendentemente se é grande ou máis pequena*/
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#body_sign_up {
background-color: black;
margin-top: 0;
margin-bottom: 0;
height: auto;
/*Con esto o que conseguín foi que o footer esté sempre ao fondo da pantalla indendentemente se é grande ou máis pequena*/
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
/*Con esto fago que o footer non se sobrepoña sobre o formulario que suele ocurrir nalgúns móbiles*/
padding-bottom: 100px;
}
/*Para asegurarme que o footer sempre se posiciona na parte inferior*/
footer {
    padding: 10px;
    text-align: center;
}
ul{
    color: white;
    }
/*É vermello porque os erros que teñen que aparecer debaixo do cajetín son do tipo "li" e teñen que ser vermellos*/
li{
    color: red;
    list-style-type: none;
    }

#li_project_description{
    color: rgba(191, 191, 191, 1);
    list-style: circle;
    font-size: 1.1em;
    }

#copyright_text{
    color: white;
}
a{
    color: white;
    }
i{
    color: white;
    }
    
#home_page_card{
        background-color: #28282B;
    }

hr{
    color: white;
    }
#button_area_persoal {
    color: rgb(83, 158, 138);
    border-color: rgb(83, 158, 138);  
    }
#button_area_persoal:hover {
    color: white;
    background-color: rgb(83, 158, 138);
    }
#button_rexistro {
    color: rgb(246, 158, 138);
    border-color: rgb(246, 158, 138);
    }
#button_rexistro:hover {
    color: white;
    background-color: rgb(246, 158, 138);
    }
#map {
    filter: blur(10px);
    }
/*Esto é para posicionar o texto no medio e medio do mapa que está difuminado*/
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    }
    
/*Con esto limito o número de comentarios que se poden ver*/
#chat_box {
    max-height: 600px;
    overflow: auto;
}
#button_postcomment {
    color: white;
    background-color: rgb(246, 158, 138);
}
#button_postcomment:hover {
    background-color: rgb(83, 158, 138);
}
/*Con esto oculta a barra horizontal*/
/*body{
    background-color: black;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    /*Con esto o que conseguín foi que o footer esté sempre ao fondo da pantalla indendentemente se é grande ou máis pequena*/
    /*min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/
#background_sign_in {
    background-color: black;
}

p { 
    color: white;
    font-size: 1.1em; 
}

#p_blog{
    color: rgba(191, 191, 191, 1);
    font-size: 1.1em; 
}

label { 
    color: rgba(191, 191, 191, 1); 
}
/*Estes botós son da páxina de sign in*/
#sign_in_button {
    color: black;
    background-color: rgb(246, 158, 138);
    white-space: nowrap; /*This is to mantain the text within the button in 1 line*/
    }
#sign_in_button:hover {
    color: black;
    background-color: rgb(83, 158, 138);
    }
#sign_up_button{
    color: black;
    background-color: rgb(246, 158, 138);
}
#sign_up_button:hover{
    color: black;
    background-color: rgb(83, 158, 138);
}
/*Formato da ventana emerxente*/
.modal-header {
    background-color:rgb(246, 158, 138);
    color: rgb(83, 158, 138);
}
/*Esto é para darlle formato ao botón de pechar a ventana emerxente da "Privacy Policy" na páxina Sign Up*/
.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px; /* Adjust the font size as needed */
}
.modal-body {
    background-color:#28231D;
}
.modal-footer {
    background-color:#28231D;
}
#privacy_policy_close_button{
    color: white;
    background-color: rgb(246, 158, 138);
}
#privacy_policy_close_button:hover{
    color: white;
    background-color: rgb(83, 158, 138);
}

/*Esto é para darlle formato aos message.ERRORS porque por defecto non traen formato*/
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position:absolute;
    position: sticky;
    top: 0
    }
/*Esto é para darlle formato ao botón da cruz que pecha a alerta da mensaxe de error*/
.alert-error .close {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 5px;
    background-color: transparent;
    color:red;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px; /* Adjust the font size as needed */
    }
/*Esto é para darlle formato ao botón da cruz que pecha a alerta do mensxe de success*/
.alert-success .close {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 5px;
    background-color: transparent;
    color: green;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px; /* Adjust the font size as needed */
    }
body{
    background-color:black;
    overflow-x: hidden; /*Con esto oculto a barra de scroll down horizontal*/
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
	overflow-x: hidden;
/*Con esto o que conseguín foi que o footer esté sempre ao fondo da pantalla indendentemente se é grande ou máis pequena*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul{
    color: white;
}
/*Esto é para que as alertas de cando o formulario non se completa ben aparezcan en vermello*/
li{
    color: red;
    list-style-type: none;
}
#data_home_page{
    color: rgb(255, 255, 255, 0.8);
}
a{
    color: white;
}
h4{
    color: white;
    }
h5{
    color: white;
    }
    
h1{
    color: white;
}

hr{
    color: white;
}

#add_reply_button {
    color: black;
    background-color: rgb(246, 158, 138);
}

#add_reply_button:hover {
    color: white;
    background-color: rgb(83, 158, 138);
}

#add_comment_box{
    color: white;
    border-color: rgb(255,255,255,0.2);
}

.close {
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px; /* Adjust the font size as needed */
    color: white
  }

.card{
    background-color: black;
    border-color: rgb(255,255,255,0.2);
}

#comment_text_white{
    color: white !important;
}

.card_replies{
    background-color: black;
    }

.card-header{
    background-color: #28282B;
}

#button_area_persoal {
    color: rgb(83, 158, 138);
    border-color: rgb(83, 158, 138);  
}
#button_area_persoal:hover {
    color: white;
    background-color: rgb(83, 158, 138);
}
#button_rexistro {
    color: rgb(246, 158, 138);
    border-color: rgb(246, 158, 138);
}
#button_rexistro:hover {
    color: white;
    background-color: rgb(246, 158, 138);
}
#button_postcomment {
    color: white;
    background-color: rgb(83, 158, 138);
}
#button_postcomment:hover {
    background-color: rgb(246, 158, 138);
}
/*Esto é para cabmiar o color do toggler button (ou tamén chamado hamburguesa). Para cambiar o icono (as ralliñas), como é un svg teño que pillarme a ruta da imaxe e despois
no STROKE configuro o color que me parece. O díxito final é a transparecia que lle queiras aplicar*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246,197,190, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
/*E esto é para cambiar o borde do botón. Neste caso, como non é unha imaxe svg, incido sobre o elemento do css*/
.navbar-toggler{
    border: 1px solid rgb(246, 158, 138) !important;
}
/*Con esto oculto a barra vertical do container do chat*/
#chat_box{
    overflow-y: hidden;
}
#personal_data_section{
	background-color: #28282B;
	color: white;
}
#access_data_section{
	background-color: #28282B;
	color: white;
}
#delete_account_section{
	background-color: #28282B;
	color: white;
}
#navigation_personal_area_section{
	background-color: #28282B;
	color: white;
}
/*Esto é para darlle formato ao botón de pechar a ventana emerxente do modal de eliminar a conta*/
.modal-header .close {
	position: absolute;
	color: white;
	top: -10px;
	right: 0;
	padding: 10px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 40px; /* Adjust the font size as needed */
    }
/*Estes botós son os botós para actualizar a información persoal*/
#update_personal_data_button {
	color: white;
	background-color: rgb(246, 158, 138);
	}
#update_personal_data_button:hover {
	background-color: rgb(83, 158, 138);
	}
/*Estes botós son os botós para actualizar a password*/
#update_password_button {
	color: white;
	background-color: rgb(83, 158, 138);
	}
#update_password_button:hover {
	background-color: rgb(246, 158, 138);
	}
/*Formatting the tab buttons of the personal area*/
#personal_area_tab.active {
    color: white;
    background-color: rgb(246, 158, 138);
}
#personal_area_tab {
    color: rgb(246, 158, 138);
}
/*Esto é para os tamaños das fotos no html de bicicleteiros_fotos.html*/
#picture {
        margin: 0;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
      }
#picture_object{
        width: 100%;
        height: 200px;
        object-fit: cover; /*Con esto a imaxe queda mellor e non se estira nin se estreita. Queda do se tamaño*/
}   
h2 { 
    color: rgba(191, 191, 191, 1); 
}
/*Esto é para darlle tamaño ao vídeos*/
#iframe_videos{
    width: 100%;
    height: 200px;
}
/*Esto é para o tamaño do mapa*/
#iframe_mapa{
    width: 100%;
    height: 800px;
}
/*Esto é para darlle un tamaño as fotos*/
#pictures{
    width:  100%;
    height: 200px;
}

/*Eye password:*/
#eye_password{
    color: black;
    font-size: 20px;
}

/*Footer*/
#social_media_div{
    background-color: #28282B;
    margin: 0;
    padding: 0;
}

#footer_page{
    background-color:black;
}

#footer{
    background-color:black;
}

#footer_text{
    color: rgb(246, 158, 138);
}

#body_privacy_policy{
    color: white;
}

#email_icon{
    color: white;
    background-color: black;
}

#email_icon:hover{
    color: white;
    background-color: rgb(246, 158, 138);
}

#personal_area{
    background-color: #28282B;
}

/*--------------HOME_PAGE_NO_REGISTRATION-------------------------------*/
#button_sign_in_carossell{
    color: white;
    border-color: white;
    background-color: rgb(83, 158, 138);
}

#button_sign_in_carossell:hover {
    color: white;
    background-color: transparent;
    }

#button_sign_up_carossell{
    color: white;
    border-color: white;
    background-color: rgb(246, 158, 138);
}

#button_sign_up_carossell:hover {
    color: white;
    background-color: transparent;
    }

.carousel {
    object-fit: cover;
    object-position: center;
    height: 35vh;
    width: 100vw;
    }
/* Con esto axustamos a altura dos obxetos do caroussel cando a pantalla é grande */
@media screen and (min-width: 768px) {
.carousel {
    height: 50vh; 
}
}
.carousel-inner {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    width: 100vw;
    }
.carousel-item {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    width: 100vw;
    }
.carousel-caption {
    object-fit: cover;
    object-position: center;
    height: 47vh;
    }
/* Con esto axústase as marxes do texto cando a pantalla é grande. Cando a pantalla é grande o marxe por cima e máis e cando a pantalla é pequena a marxe por cima é menor  */
@media screen and (min-width: 768px) {
.carousel-caption {
    height: 30vh; /* Adjust the height as needed */
}
}

#home_page_no_registration_card{
    background-color: black;
}

#home_page_no_registration_card_text{
    color: rgb(246, 158, 138);
}

#h2_home_page_no_registration{
    color: rgb(246, 158, 138);
}

/*---Language form of the home_page_no_registration---------*/
#language_form_home_page_no_registration{
    color: rgb(246, 158, 138);
    background-color: transparent;
    border: none;
}

#language_form_home_page_no_registration option {
    color: black;
}

#background_graphs{
    color: black;
}

#ul_notes_tool {
    color: rgba(191, 191, 191, 1);
}

#li_notes_tool{
    color: rgba(191, 191, 191, 1);
    list-style-type: disc;
    font-size: 1.1em; 
}

.table th {
    border-right: 1px solid #28282B; /* Add a vertical line to all th elements */
    color: white;
    
}
.table tr {
    border-bottom: 1px solid #28282B;
    color: rgba(191, 191, 191, 1);
}
.table td {
    border-right: 1px solid #28282B;
    color: rgba(191, 191, 191, 1);
}

#li_table{
    color: rgba(191, 191, 191, 1);
}

#text_google_auth{
    color: black;
}
                






