{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

<section>
    <div class="text-center mb-5">
        <h2>The Journey to the Journey</h2>
    </div>
    <div class="container">
        <strong><h4 class="text-center"><strong>Bon Voyage! ¡Buen Viaje!</strong></h4></strong>
        <div class="col-md-12 mb-2">
            <p>
            Before setting off Iz’s family spent an early Christmas weekend together – neither Iz, their brother or his partner were going to be in the country for Christmas day after all. 
            Snow settled down on the Sunday morning and they went sledging down the hill at Wollaton Park. A true White Christmas! 
            </p>
            <p>
            When Iz was at school, they always spent the last day of the summer holidays with their mum together doing something fun. The 6th December was a very frosty day, 
            but had that end of the summer holidays feel. We spent the day walking through Wollaton Park for the last time, marvelling at the rime which coated the landscape, and visited my favourite tree. 
            A very beautiful and special day! 
            </p>
            <p>
            Zoe arrived that evening having had a variety of transport and logistics disasters, including a car break down in the middle of nowhere just before she was meant to be moving her belongings back 
            to Halifax. We had a very nourishing “Last Supper” with my parents (my mum was wanting to feed us for a year in an evening!). 
            </p>
            <p>
            The morning of our departure Iz woke again at 5am and went straight to the garage to finish off last minute bike maintenance, cleaning, final packing etc. 
            The whole morning was a blur and soon it was time to cycle off to the station.
            </p>
            <p>
            Wow this is it! It suddenly hit me after all the busyness. Iz gave tearful goodbyes to their parents. We made our first pedal strokes on our heavily laden bikes – Iz’s mum ran to the end of 
            the road and waved until we were out of sight. Cycling through my beloved Wollaton Park to the station Iz was very tearful. But soon the excitement started taking over. 
            This was the beginning of an adventure!
            </p>
        </div>
        <strong><h4 class="text-center"><strong>Train cancellations, traffic jams, and sea sickness!</strong></h4></strong>
        <div class="col-md-12 mb-2">
            <p>
            Inevitably our travel couldn’t be plain sailing! We arrived at the station to find our train to London had been cancelled. Thankfully we had left many hours of leeway before our ferry 
            set off so it wasn’t a problem. Furthermore, a delayed parcel has been delivered for Iz a minute after we cycled off and it gave time for their mum to very kindly dash to the station to 
            deliver it to me before the next train (a second good bye!). 
            </p>
            <p>
            The cycle between St Pancras and Waterloo stations in London was meant to take 15 minutes; we had 1 hour for the connection. All the roads were snared up with traffic and parked cars, 
            and we found ourselves getting stuck or walking for long periods. With 2 minutes spare we crammed ourselves and our bikes onto the carriage.
            </p>
            <p>
            The train to Portsmouth was absolutely rammed. The train company had put folding seats where the bike spaces were. Understandably the people sitting in them didn’t want to give them up for 
            our bikes. However this meant everyone around us and our bikes were even more crushed. 
            </p>
            <p>
            We met Matt (our first special guest!) in Portsmouth and we idled away several hours at the harbour. Finally we boarded at 11pm. 
            </p>
            <p>
            The ferry was calm and spacious. My Uncle Rich had given us the tip off to call the day before to see if there were any spare cabins (we had originally just reserved a “seat” for the 36 hour 
            journey). Thankfully they had a four berth cabin left at a reasonable price when split between three people. 
            </p>
            <p>
            The first night Iz awoke to the swaying of the boat and was suddenly filled with such excitement they struggled to get back to sleep again. Zoe struggled to sleep due to Iz’s snoring and 
            had to bail out onto the deck with her sleeping bag. 🤣
            </p>
            <p>
            In the morning we explored the outer deck – the great expanse of sea, blue sky, and even a couple of rainbows. The air already felt warmer than where we had left the UK. 
            </p>
            <p>
            The excitement was soon lost to waves of sea sickness. Iz found themselves unable to do anything for several hours. Meanwhile glasses and crockery were crashing onto the floor every couple
            of minutes: we were in the Bay of Biscay. Thankfully by the afternoon the seas had calmed down. We made the most of the onboard art gallery, wildlife photography exhibition, and interactive 
            games designed for kids!  
            </p>
            <p>
            The next morning we gathered up our kit and made our way back down to our bikes. The sun was rising as we left the ferry to the port of Santander. The air was warm. Our whole bodies felt
            like they were unwinding, defrosting, from months of uncomfortably cold British weather. To start our journey we found a beach and enjoyed the reflections on the water as we ate our first 
            breakfast in Spain.
            </p>
        </div>
    </div>
</section>
{% endblock content %}