{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

    <div class="container">
      <!--Section: Content 1-->
      <h1 class="text-center mt-3">Let the cycling begin!</h1>
      <section>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_portada.webp" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <p id="p_blog">
            On the 7th December 2023 we set off from Nottingham railway station and took a 36 hour ferry from Portsmouth to Santander. 
            Joining us for the first week, Matt (our first special guest!) met us in Portsmouth.
            We zig zagged between the coast and inland, depending on where we could find Warm Showers1 hosts.
            </p>
            <p id="p_blog">
            Our original plan was to simply follow the coast line along the Camino de Santiago Norte, then follow the West coast down to Portugal. 
           </p>
           <p id="p_blog">
            However from our second host’s recommendation, we instead followed the Rio Sella heading up into the Picos de Europa. Matt joined us until Riaño, just after our highest point at 1280 metres. 
            Zoe and I continued onto León, then picking up gravel farm tracks for miles to Galicia.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
          <p id="p_blog">
            Was the deviation worth it? From Iz’s perspective, no – they became very unwell. In their medical opinion (!) this is entirely related to camping three nights 
            in a row in a damply frozen tent at -6°C temperatures having packed for “Spain”2. Not the mention the additional “warm up” night preceding these at Riaño at -8°C, 
            possibly less as this was the temperature after the sun had risen.
          </p>
          <p id="p_blog">
            At the time of writing we are now in Puebla de Sanabria figuring out our options. For Iz, escaping this winter wonderland back to the coast is probably 
            the best solution for restoring health! 
          </p>
        </div>
      </section>
      <!--Section: Content 1-->
      <!--Section: Content 2-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-1">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center"><strong>Week one – with our first special guest</strong></h4></strong>
            </a>
            <p id="p_blog">
            We were delighted to spend our first week of cycling with our dear friend Matt. I am not sure how delighted he was… the offer still stands to join us for another week,
            Matt!
            </p>
           <p id="p_blog">
            The first day was somewhat anticlimatic, having spent most of the morning bumbing our way around Santander on various errands. 
            We even managed to lose Zoe in the process when she went in search of an ATM. Eventually we cycled out of the city traffic and found a field overlooking the sea. 
            The grass was green and shiny and jewelled with meadow flowers. We felt we had been transported to a British summer having been in winter only a few days before.
            </p>
            <p id="p_blog">
            The gravel route we had planned took us up a steep muddy track through a eucalyptus forest. It had started raining heavily. It became impossible to pedal, and only 
            slightly less impossible to push our incredibly heavy bikes up the hill. The sun was beginning to set on our first day. We found a side track to put up our tents which
            we wet before we even got inside them. We couldnt bring ourselves to go outside again into the showers so all three of us (including 6 foot 7 Matt!) ate a picnic dinner
            inside Iz’s tent. The need for a clean living space was immediately out of the window – Iz’s sleeping bag lying in between clumps of mud, rice, and lentils. We told stories 
            and played games, like a primary school sleepover, until we all felt sleepy. It was muggy, wet, and somewhat uncomfortable. This was day one of three hundred.
            </p>
            <p id="p_blog">
            We gave up the unpedelable track within 10 minutes of setting off the next morning. Iz had fallen over in the mud and the heavy bike had fallen on top of me. 
            The next few days we spent along undulating smooth roads, passing through small villages with Christmas decorations in amongst lemon trees.     
            </p>
          </div>
          <div class="col-md-6 gx-5 mb-2 order-1 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_1.jpg" %}' class="img-fluid" />
                  <div class="caption text-center">
                    <label style="font-style: italic">At Portsmouth harbour</label>
                  </div>
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_2.jpg" %}' class="img-fluid mt-3" />
                  <div class="caption text-center">
                    <label style="font-style: italic">Slipping about on the steep mud track – day one</label>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </section>
      <!--Section: Content 2-->
      <!--Section: Content 3-->
      <section>
        <div class="col-md-12 mb-12">
            <p id="p_blog">
            On night 3 was stayed with our first Warm Showers host, Rebeca, in Ojedo. This was a reasonable deviation, but one we were willing to make for a bed to sleep in, 
            a washing machine, and good conversation.
            </p>
            <p id="p_blog">
            She recommended us to visit a beautiful bay with a series of caves the next day – this for me remains one of my highlights. We went for our first swim of the trip. 
            It was amazing how tranquil it was for several minutes, then without warning the peace would be shattered by water crashing out through cracks in the rock above.
            </p>
        </div>
      </section>
      <section>
        <div class="row mb-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/blog_2_photo_3.jpeg" %}' class="img-fluid" />
                <div class="caption text-center">
                  <label style="font-style: italic">With our first Warm Showers host, Rebeca</label>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src='{% static "imaxes/blog_photos/blog_2_photo_4.webp" %}' class="img-fluid" />
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_5.webp" %}' class="img-fluid" />
                </a>
                </div>
                <div style="background-color: rgba(251, 251, 251, 0.15);" class="mt-5">
                <a href="" class="mt-2">
                    <img src='{% static "imaxes/blog_photos/blog_2_photo_6.webp" %}' class="img-fluid" />
                  </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <p id="p_blog">
            The journey to our second Warm Showers host was, as Matt put it in a very British way, “not the nicest day”. Strong headwinds, horizontal rain, tedious major roads. 
            The final 15 kilometers of land were steep up, down, up, down on repeat (my emergency Kendal Mint Cake had to be cracked out). We arrived at Sergio´s in Sevares late 
            in the evening with thousand yard stares. 
            </p>
            <p id="p_blog">
            Sergio was an entertaining host. He enjoyed telling us “horror stories” about the kind of food his British colleagues would take for lunch during his time in the UK, 
            most notably the “chip buttie”! He had made a delicious salad for us, with fresh bread for our dinner. I complimented Sergio on his excellent chilli to go with the 
            salad. Embarrassingly this was actually a ready meal Matt had heated up for me and Zoe because we weren’t eating the egg – the only thing Sergio hadn’t made! 
            He will probably add this story to his collection about English peoples poor taste in food. 
           </p>
           <p id="p_blog">
            According to him, our original route along the coast would be far less interesting to us than his alternative – following the Selle River up through the Picos de Europa to Riaño, and then continueing to Leon, and then to the Portuguese coast. We took his advice, and took the windy gradual incline over the next following days until our highest point of the trip at that point – 1280m – just before Riaño. Here Matt departed from us, back down to the coast, to warmer weather. Here, Zoe and I spent our first -8C night under canvas.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-1">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center"><strong>Week two – we didn´t sign up to weather like this!</strong></h4></strong>
            </a>
            <p id="p_blog">
            The mountains were unmistakably beautiful – sharp dramatic peaks, crisp blue skies, sparkling frost. I had been mistaken in thinking the next time I would see frost would be on my return 
            to the UK. How wrong I had been!
            </p>
           <p id="p_blog">
            We awoke in Riaño to a real “winter wonderland”. Tent zips won´t open, our fuel won´t light, all our water is solid. Everything takes twice as long and no amount of star jumps seems to get
            the circulatio back to the extremities. Back on our bikes, it was downhill all the way. We had all our layers on – three pairs of trousers, seven tops, three pairs of socks, thick gloves, 
            a snood, a balaclava! No match for the icy cold!
            </p>
            <p id="p_blog">
            We found our third host, Javier, in Valdealcon. He is a big name in the cycle touring world, having cycled around the world for 10 years earning a living as a photographer. 
            He now does motivational speaches and features as “number two” in the book “50 Ways the Cycle the World”. 
            </p>
          </div>
          <div class="col-md-6 gx-5 mb-2 order-1 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_7.jpg" %}' class="img-fluid" />
                </a>
              </div>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
          <p id="p_blog">
          Onwards to Leon, the first time we have had to spend any money on accomodation. We also treated ourselves to our first tapas – thanks to Happy Cow we found a place with several vegan options.
          </p>
          <p id="p_blog">
          When planning this trip we scheduled in two days a week as “rest days”. I suppose we assumed any time off of the bike is “rest”, but there is always work to be done! Bike maintainence, 
          sewing and mending, washing and drying, shopping. Leon was one of these days. For most of this I tried to stay inside to avoid the bitter cold. 
          </p>
        </div>
      </section>
      <section>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_8.jpg" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <p id="p_blog">
              We had six nights until Christmas day, with no Warm Showers hosts available in the route between. The days were bright, even warm in the sunshine, and following gentle wide gravel farm tracks 
              where we could cycle side by side. But I came to dread the setting off the sun, as the warmth left the air and the landscape froze. We camped for the first three of these nights. In this time my 
              health took a turn for the worse, which I am not surprised by at all!  
            </p>
            <p id="p_blog">
            The Winter Solstice was a practice for the bike mechanic in us. A frosty start with a puncture repair for Zoe. We had a brief 10km spell of cycling before we landed on a claggy farm track. 
            One hundred metres along here, my pedals jammed. I got off my bike to inspect – it looked like the bike equivalent of an exorcism! Game over. My gear hanger was broken, my derrailier bent, 
            and the jockey wheels jammed into the spokes.
            </p>
            <p id="p_blog">
            Thankfully, it was free wheeling down to the nearest village where we spent the entire rest of the day. The kindness of strangers – the local shop keeper lent us a hose to clean off the 
            muck from our bikes, an elderly man came along with a basket of apples whilst we were repairing our bikes, and many other people came to offer their well wishes. With many hours of fiddling, 
            a bit of lateral thinking, and a cable tie I got my bike back on the road (albeit with only two functioning gears!). Meanwhile Zoe discovered she had been cycling with only one brake pad on 
            the back! As the sun set, we dropped out of the village to find a camping spot for the night. 
           </p>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
          <p id="p_blog">
          In the middle of the night I awoke again surrounded by crystals of ice, where my breath had condensed on the walls of the tent inner and frozen. In another situation I would have amazed at 
          the sparkling beauty of this frozen world. But not then. My roll mat had deflated, and I couldn´t bring myself to get out of my four-season sleeping bag to reinflate it. When the morning 
          finally came, I found myself covered in a cold sweat, with a splitting headache, feeling like the world was spinning as I took down my tent with painfully cold fingers. But the real indicator 
          for Zoe that something was desperately wrong was when I could only stomach half of my breakfast. We made the executive decision that we had to draw a line under the camping, at least for the 
          time being. The fun trip we had imagined was turning into a form of pergatory.
          </p>
          <p id="p_blog">
          In a semi-automatic state I managed to cycle 65km, sticking to the only rear gear which I had managed to work perfectly. We arrived at a small bungalow outside a town which hosted a bicycle 
          repair shop which we visited the next day. I have never been so grateful to have a roof over my head. 
          </p>
          <p id="p_blog">
          We had planned to reach Francisco, our fourth Warm Showers host in Verin, for Christmas day. However, it seemed I would not be able to wait that long in the state I was in. 
          We rearranged with him to arrive the next day, using the railway to cut out some of the journey, after visiting the bike shop. 
          </p>
          <p id="p_blog">
          A new twenty Euro derrailier and a restraightened and bolted gear hanger for me, a hydraullic bleed and new cable hosing for Zoe. We left the bike shop feeling as if we had brand new bikes.
          At the railway station we waited for a train which never arrived. Time for Plan C.  
          </p>
          <p id="p_blog">
          We returned to the town centre and stocked up on food for the coming days. It was the 23rd of December, and all shops would be closed. Between Puebla de Sanabria and Verin there was no 
          accomodation we could find online without a significant detour. Back to poles and canvas for two nights more.
          </p>
          <p id="p_blog">
          Thankfully that night was somewhat warmer and my mat hadn´t deflated this time. The water was frozen in the morning but not quite so solid. And the cycling over to Verin hosted the best views 
          of the trip so far. We climbed up to 1400m, and bombed down silent roads, and then back up again to repeat. Perhaps the train cancellation was a blessing in disguise.
          </p>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-1">
            <p id="p_blog">
            We spent Christmas eve night camping above the beautiful Encoro das Portas. The moonlight was bright enough to cast shaddows. I didn’t even need to use my head torch outside.
            </p>
           <p id="p_blog">
            Christmas Day morning we awoke at 7am, an hour or so before sunrise to give plenty of time to pack away our tents and get ready for the day. We had miscalculated how much oats to pack, 
            so our boiled river water porridge that morning was looking a little thin. A weak breakfast, I decided, on Christmas day is an emergency. I cracked open my survival ration 
            (almond butter, cocoa powder, sugar) to supplement our porridge. The pack was design to last 24 hours (24 portions in one pack “Do not eat more than one portion an hour”). 
            We had finished the lot within 120 minutes. I mean, it´s a poor design if survival food tastes so good!
            </p>
            <p id="p_blog">
            We took a refreshing Christmas Day swim in the Encoro das Portas (only our second swim of the trip so far!) – no wet suit, just my little water shoes to protect my feet when getting in and out. 
            I always enjoy the swimming part, even the temperature feels nice and I could comfortably stay in for 10 minutes. It´s the getting out and dry again which is the problem. 
            Thankfully I still had some battery left in my ELECTRIC SOCKS. 
            </p>
            <p id="p_blog">
            Side note on the ELECTRIC SOCKS. I don´t know how I´ve written so much without giving them a mention so far. They are what they say on the tin. Think – electric blanket…but in a sock form. 
            With a portable battery on each sock. An absolute game changer. A neccessity for the poor souls, like myself, with Raynauds. How have I survived so long without them? I estimate 
            I have gained 16 hours more sleep in just the 8 days of camping we have done so far (calculation based upon the usual two hours a night waiting for my feet to warm before I can sleep3). 
            Transformational. Thank you Rob and Kayleigh. Anyway, enough for now about the electric socks.  
            </p>
          </div>
          <div class="col-md-6 gx-5 mb-2 order-1 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_9.webp" %}' class="img-fluid" />
                  <div class="text-center">
                    <img src='{% static "imaxes/blog_photos/blog_2_photo_10.jpeg" %}' class="img-fluid mt-3" style="width: 150px;"/>
                  </div>
                </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
          <p id="p_blog">
          Another phenomenal day of cycling. We were gliding through blue skies and soaring high above a thick blanket of cloud which cushioned the valley. I couldn´t beleive my eyes. 
          After a week of cold tense muscles, in a constant drive to try and get cold, I had been struggling to see the beauty in it all. Grinning from ear to ear, I thought “Okay, 
          this is why we are doing this”.
          </p>
          <div class="col-md-12 gx-12 mb-2 order-1 order-md-2 text-center">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src='{% static "imaxes/blog_photos/blog_2_photo_11.jpeg" %}' class="img-fluid mt-3" style="width: 700px; height: 500px;"/>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
          <p id="p_blog">
          Or a home away from home. We had a long descent down – about 600m drop over 10 km. Soon we were nestled thick into the fog we had been looking down onto. 
          Our eyelashes were jewelled with water droplets. Cold hands on the brakes made for a cold journey down into the town of Verin. 
          </p>
          <p id="p_blog">
          Open arms welcomed us in as we arrived at Francisco’s house. Coridna, Francisco’s mum, had prepared a delicious traditional Galician soup (Caldo Gallego) with pinto beans, 
          homegrown cabbage from their garden, carrots and potato. Best of all for hungry cyclist, she brought out a massive bowl of chips! We followed these down with locally baked bread, 
          and (accidentally vegan!) traditional Galician sweets: little cakes in wrappers, and dark chocolate coated dried orange segments. After lunch we enjoyed a shower and Coridna fussed over us both, 
          bringing us more and more layers (“Hace muy frio, ¿no?). She even insisted on blow drying my hair. I have never felt so happy in my life4. Moreover, I could barely recognise my reflection! 
          </p>
        </div>
      </section>
      <section>
        <strong><h4 class="text-center"><strong>Cycling Home for Christmas</strong></h4></strong>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_photos/blog_2_photo_12.webp" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <p id="p_blog">
            Fran took us a tour of the town in the afternoon, embellishing the walk with local history. In Verin here is a festival at the beginning of February where people dress as these menacing 
            characters: with large bells on their back, a masked face, and carrying a whip. It comes from a time when the Catholic church tried to collect their taxes every year, sending anonymous 
            masked men to beat money out of the village people. Even now during the festival they will use the whips. 
            </p>
            <p id="p_blog">
            Francisco is very proud of his Galician identity. He is part of a traditional band where he plays gaita (Galician bag pipes - <a target="_blank" href="https://novaera.gal">Nova Era pipe band</a>) and Galician tambourine.
            He can speak Spanish, and English fluently and some Portuguese, but chooses to speak Galician to everyone from here (despite several of his friends replying back to him in Spanish). 
           </p>
           <p id="p_blog">
            On Boxing Day (or just el 26 de diciembre here), Fran took on a tour to the castle. He and Zoe went on to view an ancient chapel from the 4th Century, and I turned back home. 
            I slept for the entire afternoon. After I emerged, Corinda found me downstairs and said I looked like a “jamon”. I must have been looking particuarly sorry for myself. 
            She gave me a big hug which I gratefully accepted. They offered to let us stay another night. The next day came and they offered us to stay another night again. 
            I am writing this now on the 28th of December and I am glad to announce I am feeling almost back to full health. One more night and I will be as right as rain, raring to go perhaps. 
            But for now – I am just going to relax on the sofa and stay away from the rain outside. 
            </p>
          </div>
        </div>
      </section>
    </div>

{% endblock content %}

  