{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

<div class="container">
    <!--Section: Content 1-->
    <h1 class="text-center mt-3">New Year, new country, new plans</h1>
    <section>
        <div class="container">
            <div class="col-md-12 mb-2">
                <p id="p_blog">
                Welcome back to our blog! A big thank you first of all to Francisco for giving us a space on his site. We can now put pictures on without having to pay extra to WordPress. 
                Pictures like this one here - my view right now as I am writing this January update from Praia de Vilamoura. 
                </p>
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 text-center" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/january_photo_1.jpg" %}' class="img-fluid" />
                </div>
                <p id="p_blog" class="mt-4">
                If anyone was concerned from reading our last post in the depths of Winter that <span class="highlight-text_1" id="home_page_no_registration_card_text"><strong>we were not living the cycle touring dream we hoped for, please fear not (1). </strong></span>
                We are now basking in sunshine and living the dream - separately for now! Due to injury we've had to make a few changes to the original plans. 
                But soon we will reconvene at Tarifa, ready to make the voyage over to Morocco. 
                </p>
                <!-- Hidden Popup Box -->
                <div id="popupBox_1" class="hidden">
                    <div class="modal-body">
                        <p id="p_blog">(1) I was certainly concerned!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class="row mb-4 mt-4">
        <div class="col-md-4 gx-5">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src='{% static "imaxes/blog_photos/january_photo_2.jpg" %}' class="img-fluid" />
            <div class="caption text-center">
                <label style="font-style: italic">Setting off from Fran's house in Verín</label>
            </div>
        </div>
        </div>
        <div class="col-md-8 mb-2">
            <h4 class="text-center"><strong>Twixmas and the Last Frost</strong></h4>
            <p id="p_blog">
            After a five day rest with Francisco and his fantastic family, I finally felt ready to attempt the cold again, and had a week's worth of food sitting in my belly. 
            I am so grateful to them all for letting us stay so long! <span class="highlight-text_2" id="home_page_no_registration_card_text"><strong>I am also very grateful for the coat Fran gave to me - it was waterproof enough to see through to Lisbon! (2)</strong></span>
            </p>
            <!-- Hidden Popup Box -->
            <div id="popupBox_2" class="hidden">
                <div class="modal-body">
                    <p id="p_blog">(2) The most significant fatality of the trip so far has been my brand new GORE waterproof cycling jacket. I don't want to think about how much I spent on this jacket, probably more than what I could sell my bike for! On one of the days I was feeling feverish, I was taking my layers off and on all the time so decided to strap them onto the top of my duffle bag to save time opening the panniers. I will not make this mistake again! Maybe it was found by someone in need of a fluorescent yellow waterproof. Or maybe it is trashed in a previously pristine natural reserve…</p>
                </div>
            </div>
            <p id="p_blog">
            Fran set off with us up and out of Verín. The long and continuous climb passed quickly and I was relieved my lungs were back up to the job. 
            </p>
        </div>
    </div>
    </section>
    <!--Section: Content 1-->
    <!--Section: Content 2-->
    <section>
    <div class="row">
        <div class="col-md-8 gx-5 mb-2 order-2 order-md-1 d-flex align-items-center">
        <p id="p_blog">
        Our last night camping in Galicia (Spain) saw our last frost of the trip so far. Nonetheless, to us it felt like a warm night - we even had a layer or two which we weren't wearing. And just before we crossed
        the border (keeping northern Spain in my good books!) we enjoyed the natural hot springs by the Río Caldo. It was a lovely atmosphere; people had travelled from miles around to get to this pool, many from Portugal. 
        There were some parts where we couldn't stay for more than a few seconds due to the heat. We stayed around here for several hours, having a pre and post lunch bathe. 
        A highlight of 2023 for us.
        </p>
        </div>
        <div class="col-md-4 gx-5 mb-2 order-1 order-md-2">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 text-center" data-mdb-ripple-color="light">
            <img src='{% static "imaxes/blog_photos/january_photo_3.jpg" %}' class="img-fluid" />
                <div class="caption text-center">
                    <label style="font-style: italic">Thermal springs at Os Baños</label>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--Section: Content 2-->
    <!--Section: Content 3-->
    <section>
    <div class="row mb-4 mt-4">
        <div class="col-md-4 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_4.jpg" %}' class="img-fluid" />
                <div class="caption text-center">
                    <label style="font-style: italic">Stanleyslav - the legend. You may just be able to see the full sized track pump bungee corded to his pannier rack!</label>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-2 d-flex align-items-center">
        <p id="p_blog">
        We met our first fellow cycle tourer on this day also - Stanleyslav from Russia! A lot of excitement from both parties. We all stopped for a chat, initially in Spanish until we 
        realised we are all fluent in English (one of eight languages he speaks). We told him our plans to cycle to Morocco and he immediately asked if he could take a photo with us, 
        as if we were celebrities. He now lives in the south of France and has given us an invitation to stay on our way to Sweden. We all left in very high spirits from the chance meeting.
        </p>
        </div>
    </div>
    </section>
    <section>
        <div class="row mb-12 mt-12">
            <p id="p_blog">
                Later that day, New Year’s Eve’s Eve, we crossed the border into Portugal through the National Park of Gerês. 
                A beautiful entrance to the country, through forests, mountain views, and past waterfalls. 
            </p>
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 text-center" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_5.jpg" %}' class="img-fluid" />
                <div class="caption text-center">
                    <label style="font-style: italic">Waterfalls by the roadside on the long and twisty descent down into Gerês</label>
                </div>
            </div>
    </section>
    <section>
        <div class="row mt-4">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-1 d-flex align-items-center">
            <p id="p_blog">
            Zoe's knee had been causing some issues before in the trip, but the big climbs with heavy loads was taking its toll by now. Massaging seemed to help temporarily, 
            but wasn't the solution. We set up camp that evening and figured out an alternative plan to cut out some miles to our next Warm Showers location. The closest railway 
            station was Braga, still a good 50km away with plenty of hills, but could deliver her a stone's throw away from our destination just outside of Porto.
            </p>
            </div>
            <div class="col-md-6 gx-5 mb-2 order-1 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_6.jpg" %}' class="img-fluid" />
                <label style="font-style: italic">Our first sunrise in Portugal. Here we are nestled on a tiny forested hill, just out of view from the traffic and shops metres below us</label>
            </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-3">
            <h4 class="text-center"><strong>Staying safe when travelling</strong></h4>
            <div class="col-md-12 mb-2">
                <p id="p_blog">
                This bit is a bit more serious (we're all fine, don't worry) - feel free to skip ahead. There's some nice photos at the end!
                </p>
                <p id="p_blog">
                I write this experience into the blog because keeping safe is the number one skill of cycle touring. And helping to keep future travellers safe is skill number two. 
                Feelings of discomfort are pointers to say this may not be a safe place. It is really important to listen to feelings - <span class="highlight-text_3" id="home_page_no_registration_card_text"><strong>and no amount of free food will let me ignore them. 
                This is takeaway number one for me! (3)</strong></span>
                </p>
                <!-- Hidden Popup Box -->
                <div id="popupBox_3" class="hidden">
                    <div class="modal-body">
                        <p id="p_blog">(3) Free vegan food is my personal weakness. I'm trusting you not to share this secret with any nefarious individuals.</p>
                    </div>
                </div>
                <p id="p_blog">
                We celebrated the New Year in Porto itself. A fairly random way to end the year: Zoe and I sat on a bench overlooking the river and watching tipsy partygoers staggering 
                past with “2024” hats on their heads. 
                </p>
                <p id="p_blog">
                The host we were staying at was happy for us to stay as long as we liked. It was on a small plot of land in the suburbs of Porto, and also hosted tree sleeping chickens, 
                kiwi vines, and many citrus fruits. We were happy to stay here for a while whilst Zoe's knee recovered. 
                </p>
                <p id="p_blog">
                By day two, we decided we needed to leave - too many red flags. We arranged for another Warm Showers host to take us in for the next night. 
                </p>
                <p id="p_blog">
                In the meantime, we decided to raise our concerns with our host. It would have been easier to have left without saying anything, but I was reminded of my very wise friend 
                Amy Schoff’s saying <span class="highlight-text_4" id="home_page_no_registration_card_text"><strong>“Think of the next person” (4).</strong></span> He had been very hospitable in many ways (cooking us food, taking us to the beach and to Porto). 
                He might not be aware that guests like ourselves would feel uncomfortable about other parts of the stay. 
                </p>
                <!-- Hidden Popup Box -->
                <div id="popupBox_4" class="hidden">
                    <div class="modal-body">
                        <p id="p_blog">(4) I know you heard this from a podcast but it's your phrase in my books!</p>
                    </div>
                </div>
                <p id="p_blog">
                Unfortunately, he wasn't in a space to receive our suggestions! 
                </p>
                <p id="p_blog">
                In the philosophy around Non Violent Communication, you can make requests of others that they may help you meet your needs better; but it is their choice to accept this request. Looking back, this could have been realised within the first five minutes as he was clear he didn't wish to change. The several hours of debate could have been used instead to vacate the premises earlier. The discussion finally came to a head when he requested us to promise not to leave a bad review on Warm Showers. We declined and made our way out of the door. He said he would have to ask us to leave in this case; yet we had already decided it was time to go. 
                </p>
                <p id="p_blog">
                It was 10pm and raining heavily. We packed our bags as swiftly as we could, and headed for the train station with no plans on where we would go. We debriefed under the platform shelter whilst tucking into packets of crackers and plain tofu. Just after midnight we arrived at a budget hotel. The long cycle there wasn't ideal for Zoe's knee, and the short sleep wasn't ideal for either of us - next morning Zoe had a physiotherapy appointment in Porto she needed to get to.  
                </p>
                <p id="p_blog">
                I had a yucky feeling for a while after, and felt very confused. But I know these feelings are common from learning from other dear friends who have been unfortunate to be in far worse situations than this. Now I'm feeling fine. In fact I am very proud of us. We listened to our instincts, kept calm and kept ourselves safe. 
                </p>
                <p id="p_blog">
                And yes we did leave a bad review! 
                </p>
                <p id="p_blog">
                We told our next host about our experience. She recalled another cyclist she hosted telling her about another host outside of Porto who she didn't feel comfortable with. But the guest felt too guilty to leave a bad review for him - after all he had been a good host in other ways. 
                I understand this very well.
                </p>
                <p id="p_blog">
                On the other hand, had she written about how she actually had felt, we could have saved ourselves this whole saga. So we are paying it forward for future travellers.
                Takeaway two - don't be afraid to leave a bad review!
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h4 class="text-center"><strong>The Portuguese Coast</strong></h4>
            <div class="col-md-12 mb-2">
                <p id="p_blog">
                After Zoe's physiotherapy appointment, we made our way to the coast where our delightful host Jacqueline was more than happy to take us in. Her little apartment was on the foot of the beach. She cooked millet for us in the mornings. She was a vegan ecotoxicologist. Had she been in Sheffield at the same time as us, I am confident she would be in our circle of friends! We are so happy to have stayed with her.
                We stayed here several days to give Zoe's knee some more rest.   
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="row mb-12 mt-12">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 text-center" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_7.jpg" %}' class="img-fluid" />
                <div class="caption text-center">
                    <label style="font-style: italic">With Jacqui and her lively hound in her beachside abode </label>
                </div>
            </div>
    </section>
    <section>
        <div class="row mb-4 mt-4">
            <div class="col-md-4 gx-5">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/january_photo_8.jpg" %}' class="img-fluid" />
                </div>
            </div>
            <div class="col-md-8 mb-2">
                <p id="p_blog">
                I had fallen ill again and was perhaps more keen for rest than Zoe. I wondered if my body was telling me something - something still wasn't right. 
                After al I hadn't been ill enough to hold me back for eighteen months and I had been working as a doctor!
                </p>
                <p id="p_blog">
                In the coldest times, in the pouring rain in the middle of the night, I had my eyes on a future where we were laughing as we ran into the waves under a friendly and warm sky. 
                And finally here I was, paradise delivered. Why wasn't I laughing and smiling? In a meditation course I went on, they described the “double arrow” - 
                how you can make <span class="highlight-text_5" id="home_page_no_registration_card_text"><strong>a painful experience even more painful through your thoughts which follow (5).</strong></span>
                </p>
                <!-- Hidden Popup Box -->
                <div id="popupBox_5" class="hidden">
                    <div class="modal-body">
                        <p id="p_blog">(5) Another example of this would be my reaction to losing my GORE coat!</p>
                    </div>
                </div>
                <p id="p_blog">
                My friends, I am here now. The laughter is back, and I can tell you it is glorious. 
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-1">
            <h4 class="text-center"><strong>Changing plans</strong></h4>
            <p id="p_blog">
            We set off again after three nights with Jacqui, a flat ride following the coast. The next day the hills were coming back, and so was the pain in Zoe's knee. 
            Back to the drawing board, we found a nearby railway station with direct links to Caldas da Rainha, our next destination. Carlos left us his apartment whilst he stayed upstairs
            with his partner Manuela. I cycled this section to go via a Decathlon to seek out a massage gun for Zoe before rejoining them all. They took fed us incredibly well, and took us a beautiful castle and historic village on one of the evenings.
            </p>
            </div>
            <div class="col-md-6 gx-5 mb-2 order-1 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_9.jpg" %}' class="img-fluid" />
                <label style="font-style: italic">An evening stroll around Castle de Óbidos with Carlos and Manuela</label>
            </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-7 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
            <p id="p_blog">
            Zoe got the train to Lisbon to stay with another amazing Warm Showers host - Giacomo and Marta, helped also by their neighbour “John from New York” who housed me in his living room.
            It felt like staying with friends - we ate our meals together, they invited us out with their pals, we even went to a protest together. We felt incredibly fortunate to stay with them.
            Giacomo and Marta clearly love having cycling guests to stay, but they have had to disable warm showers intermittently because of getting so many requests from people to stay with them
            in Lisbon. Giacomo said it was feeling like a full time job. Nonetheless they couldn't have been better hosts. Giacomo even helped to package Zoe's bike up ready to take the coach.
            </p>
            </div>
            <div class="col-md-5 gx-5 mb-2 order-1 order-md-1">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_10.jpg" %}' class="img-fluid" />
                <label style="font-style: italic">Sharing dinner with Giacomo and Marta in Lisbon</label>
            </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-7 gx-5 mb-2 order-2 order-md-2">
            <h4 class="text-center"><strong>Different roads to Tarifa</strong></h4>
            <p id="p_blog">
            I went solo again to cycle to Lisbon. My mood was improving and the solitude felt like a long forgotten friend who had by my side all along. We laugh and sing together and share jokes. Being alone comes very naturally to me - I am grateful for this! 
            </p>
            <p id="p_blog">
            I have seen the landscape changing as I have travelled south. The cliffs overlooking the Atlantic coast with determined blue waves, the cork oak forests around Sintra, the long spit of land hosting Europe's longest beach at Comporta. Now I am in off peak tourist central of the Algarve, long flat sandy beaches lined with bars, restaurants, and British tourists sporting January sun burns.    
            </p>
            </div>
            <div class="col-md-5 gx-5 mb-2 order-1 order-md-1">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src='{% static "imaxes/blog_photos/january_photo_11.jpg" %}' class="img-fluid" />
                <label style="font-style: italic">A remarkably flat sea at Nazaré</label>
            </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-3">
            <div class="col-md-12 mb-2">
                <p id="p_blog">There are also a number of things I haven't seen which I had been hoping to:</p>
                <ul>
                    <li id="li_project_description" class="mb-2">The legends of Nazaré - host to the world's largest waves. I arrived expectantly to a pancake flat sea, not a wave in sight. I learnt later I had gone to the wrong spot! Nonetheless the waves on that day even at the right location we're only three metres, rather than thirty.</li>
                    <li id="li_project_description" class="mb-2">The mostly Westley point in Europe. I kept cycling looking out for the signs (surely such a place would have signs all over it). Eventually I got out my phone to check when I would get to it. Turns out I had passed it unassumingly three hours before!</li>
                    <li id="li_project_description">The corner of Portugal - as it turns out I saw this not from my saddle but from the sky?</li>
                </ul>
                <p id="p_blog">But the unexpected experiences have more than made up for these! Here are a handful:</p>
                <ul>
                    <li id="li_project_description" class="mb-2">Staying with a wonderful community in Sintra on a beautiful plot of land. The flowers were in bloom, including Red Hot Pokers and arbutilon. On site was a yoga studio and I took part in one of the classes delivered by a resident teacher. The volunteers shared dinner with me and invited me to a community lunch they hosted nearby every Friday - all vegan - for a small contribution which went to the cook and the worker’s co-op who hosted the space. I had two portions before setting off the finish the last section to Lisbon.</li>
                    <li id="li_project_description" class="mb-2">My last stop on my journey down the West coast is always going to be a highlight. I was hosted with Kasper, a hardcore hitchhiker and co-creater of the platform Trust Roots for hosts and travellers. Staying also were two friends of his who I hope to meet again on my travels! I spontaneously took a rest day to join Linda and Calum - it didn't take much persuading at the offer of going paragliding! <span class="highlight-text_6" id="home_page_no_registration_card_text"><strong>We travelled down the same road I was going to cycle (6).</strong></span></li>
                    <!-- Hidden Popup Box -->
                    <div id="popupBox_6" class="hidden">
                        <div class="modal-body">
                            <p id="p_blog">(6) And thus I decided to cut the corner off of Portugal so I could spend more time in Vilamoura!</p>
                        </div>
                    </div>
                    <li id="li_project_description">Staying a whole week in this lovely apartment in Vilamoura - I had only planned to stay two days! Each day I have decided it can't be my last. How could I cycle away so quickly from a spacious duplex with an outdoor pool and a beautiful beach just a stone's throw away? Thank you so much Nick and Annabel! It is glorious.</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_12.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Arbutilon in bloom in Sintra's January sun</label>
                    </div>
                </div>
                <div class="col-md-7 gx-5 mb-2 order-2 order-md-2">
                    <iframe width="600" height="315" src="https://www.youtube.com/embed/lHqFTfC9a8o?si=RDZDuJKD42iOvTps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 text-center" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_13.jpg" %}' class="img-fluid" />
                        <br>
                        <label style="font-style: italic">Living a luxurious life in Vilamoura. I haven't been able to trade this back in for a life under canvas yet!</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_14.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">The view from the Orange House in Spain</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_15.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Reunited with Jodi and vegan tuppaware grub!</label>
                    </div>
                </div>
                <p id="p_blog">
                Zoe took an overnight coach to the east of Spain to join our dear friend Jodi at The Orange House climbing hostel. She has been on the rocks and thankfully her knee has been happier since being off the bike.    
                </p>
            </div>
            </div>
        </div>
    </section>
    <!--Section for Pictures-->
    <section>
        <div class="container">
            <h4 class="text-center mt-4"><strong>A few more highlights in pictures!</strong></h4>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_16.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Saying goodbye to Fran, Corinda, and Juan. A beautiful family! </label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_17.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">At the top of the ascent from Verín. Fran tucks into an orange to fuel him back down the hill (!)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_18.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Risking a selfie in the thermal springs</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_19.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">At the Portuguese border later in the day</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_20.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Braving the waves for a New Year's day dip</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_21.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Red sky at night, cyclist’s delight. After the ferry crossing at São Jacinto</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_22.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">There are cycle lanes nearly everywhere, especially around the Eurovelo 1. If only it weren't for the Portuguese drivers completely ignoring any cycle infrastructure. Or speed limits. And maybe could stop texting behind the wheel.</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_23.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic"><strong>To the left</strong> - a German ultralight bike packer, kitted out with the Ortleib trilogy of handlebar, frame, and saddle bags</label>
                        <label style="font-style: italic"><strong>To the right</strong> - carrying all eleven bags, my beloved Mavis. He doesn't have an easy life.</label>
                        <label style="font-style: italic">In fairness this guy is going for a ten day holiday in Portugal. I'm ready for a year around Europe and North Africa.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_24.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">A stunning lunch spot at Peniche</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_25.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Living the hecking dream. Staying in a little cabin with semi-outdoors “en suite”, next to the on site yoga studio.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_26.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Taking one of the frequent ferry crossings from Lisbon</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_27.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">If hitch hiking all the way from Germany carrying four gliders wasn't enough. Marcel, our paragliding pilot, had a full sized piano in his van.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_28.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">The view from Kasper’s doorstep</label>
                    </div>
                </div>
                <div class="col-md-7 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <iframe width="600" height="415" src="https://www.youtube.com/embed/lHqFTfC9a8o?si=RDZDuJKD42iOvTps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <h4 class="text-center mt-4"><strong>And finally - the culinary highlights and lowlights (you choose which is which!)</strong></h4>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_29.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Millet porridge, banana, PB, hemp seeds, and linseed oil</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_30.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Community supper club at Sitra - all vegan</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_31.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Veganeats Café in Lisbon - sharing a granola soya yoghurt, cinnamon cake, and quiche</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_32.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Marta’s legendary beetroot hummus</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_33.jpg" %}' class="img-fluid" />
                        <br>
                        <label style="font-style: italic">Protein powder polenta</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_34.jpg" %}' class="img-fluid" />
                        <br>
                        <label style="font-style: italic">Delicious green porridge</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_35.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Vegan buckwheat pizza - this was incredibly exciting!</label>
                    </div>
                </div>
                <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src='{% static "imaxes/blog_photos/january_photo_36.jpg" %}' class="img-fluid" />
                        <label style="font-style: italic">Last but not least, Falafel bowl in the sublime Raiza vegan café here in Algarve
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class="text-center mt-4">Until next time folks!</h1>
</div>

<!--This is some script to display some extra text in a pop-up-->
<script>
    // Get the highlighted text element
    var highlightText_1 = document.querySelector('.highlight-text_1');
    var highlightText_2 = document.querySelector('.highlight-text_2');
    var highlightText_3 = document.querySelector('.highlight-text_3');
    var highlightText_4 = document.querySelector('.highlight-text_4');
    var highlightText_5 = document.querySelector('.highlight-text_5');
    var highlightText_6 = document.querySelector('.highlight-text_6');
    // Get the popup box element
    var popupBox_1 = document.getElementById('popupBox_1');
    var popupBox_2 = document.getElementById('popupBox_2');
    var popupBox_3 = document.getElementById('popupBox_3');
    var popupBox_4 = document.getElementById('popupBox_4');
    var popupBox_5 = document.getElementById('popupBox_5');
    var popupBox_6 = document.getElementById('popupBox_6');

    // Show the popup box when the highlighted text is clicked
    highlightText_1.addEventListener('click', function() {
        popupBox_1.style.display = 'block';
    });
    highlightText_2.addEventListener('click', function() {
        popupBox_2.style.display = 'block';
    });
    highlightText_3.addEventListener('click', function() {
        popupBox_3.style.display = 'block';
    });
    highlightText_4.addEventListener('click', function() {
        popupBox_4.style.display = 'block';
    });
    highlightText_5.addEventListener('click', function() {
        popupBox_5.style.display = 'block';
    });
    highlightText_6.addEventListener('click', function() {
        popupBox_6.style.display = 'block';
    });
    // Hide the popup box when clicked outside of it
    window.addEventListener('click', function(event) {
        if (event.target == popupBox) {
            popupBox_1.style.display = 'none';
        }
    });
    window.addEventListener('click', function(event) {
        if (event.target == popupBox) {
            popupBox_2.style.display = 'none';
        }
    });
    window.addEventListener('click', function(event) {
        if (event.target == popupBox) {
            popupBox_3.style.display = 'none';
        }
    });
    window.addEventListener('click', function(event) {
        if (event.target == popupBox) {
            popupBox_4.style.display = 'none';
        }
    });
    window.addEventListener('click', function(event) {
        if (event.target == popupBox) {
            popupBox_5.style.display = 'none';
        }
    });
    window.addEventListener('click', function(event) {
        if (event.target == popupBox) {
            popupBox_6.style.display = 'none';
        }
    });

    // Alternatively, you can use hover to show the popup box
    highlightText_1.addEventListener('mouseenter', function() {
        popupBox_1.style.display = 'block';
    });
    highlightText_1.addEventListener('mouseleave', function() {
        popupBox_1.style.display = 'none';
    });
    highlightText_2.addEventListener('mouseenter', function() {
        popupBox_2.style.display = 'block';
    });
    highlightText_2.addEventListener('mouseleave', function() {
        popupBox_2.style.display = 'none';
    });
    highlightText_3.addEventListener('mouseenter', function() {
        popupBox_3.style.display = 'block';
    });
    highlightText_3.addEventListener('mouseleave', function() {
        popupBox_3.style.display = 'none';
    });
    highlightText_4.addEventListener('mouseenter', function() {
        popupBox_4.style.display = 'block';
    });
    highlightText_4.addEventListener('mouseleave', function() {
        popupBox_4.style.display = 'none';
    });
    highlightText_5.addEventListener('mouseenter', function() {
        popupBox_5.style.display = 'block';
    });
    highlightText_5.addEventListener('mouseleave', function() {
        popupBox_5.style.display = 'none';
    });
    highlightText_6.addEventListener('mouseenter', function() {
        popupBox_6.style.display = 'block';
    });
    highlightText_6.addEventListener('mouseleave', function() {
        popupBox_6.style.display = 'none';
    });
</script>

{% endblock content %}

  