{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

    <div class="container">
      <!--Section: Content 1-->
      <h1 class="text-center">Let the cycling begin!</h1>
      <section>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_2_photo_1.webp" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <p>
            On the 7th December 2023 we set off from Nottingham railway station and took a 36 hour ferry from Portsmouth to Santander. 
            Joining us for the first week, Matt (our first special guest!) met us in Portsmouth.
            We zig zagged between the coast and inland, depending on where we could find Warm Showers1 hosts.
            </p>
            <p>
            Our original plan was to simply follow the coast line along the Camino de Santiago Norte, then follow the West coast down to Portugal. 
           </p>
           <p>
            However from our second host’s recommendation, we instead followed the Rio Sella heading up into the Picos de Europa. Matt joined us until Riaño, just after our highest point at 1280 metres. 
            Zoe and I continued onto León, then picking up gravel farm tracks for miles to Galicia.
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
            <p>
            At the time of writing we are now in Puebla de Sanabria figuring out our options. For Iz, escaping this winter wonderland back to the coast is probably 
            the best solution for restoring health! 
            </p>
            <p>
            Was the deviation worth it? From Iz’s perspective, no – they became very unwell. In their medical opinion (!) this is entirely related to camping three nights 
            in a row in a damply frozen tent at -6°C temperatures having packed for “Spain”2. Not the mention the additional “warm up” night preceding these at Riaño at -8°C, 
            possibly less as this was the temperature after the sun had risen.
            </p>
        </div>
      </section>
      <!--Section: Content 1-->
      <!--Section: Content 2-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-1">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center"><strong>Week one – with our first special guest</strong></h4></strong>
            </a>
            <p>
            We were delighted to spend our first week of cycling with our dear friend Matt. I am not sure how delighted he was… the offer still stands to join us for another week,
            Matt!
            </p>
           <p>
            The first day was somewhat anticlimatic, having spent most of the morning bumbing our way around Santander on various errands. 
            We even managed to lose Zoe in the process when she went in search of an ATM. Eventually we cycled out of the city traffic and found a field overlooking the sea. 
            The grass was green and shiny and jewelled with meadow flowers. We felt we had been transported to a British summer having been in winter only a few days before.
            </p>
            <p>
            The gravel route we had planned took us up a steep muddy track through a eucalyptus forest. It had started raining heavily. It became impossible to pedal, and only 
            slightly less impossible to push our incredibly heavy bikes up the hill. The sun was beginning to set on our first day. We found a side track to put up our tents which
            we wet before we even got inside them. We couldnt bring ourselves to go outside again into the showers so all three of us (including 6 foot 7 Matt!) ate a picnic dinner
            inside Iz’s tent. The need for a clean living space was immediately out of the window – Iz’s sleeping bag lying in between clumps of mud, rice, and lentils. We told stories 
            and played games, like a primary school sleepover, until we all felt sleepy. It was muggy, wet, and somewhat uncomfortable. This was day one of three hundred.
            </p>
            <p>
            We gave up the unpedelable track within 10 minutes of setting off the next morning. Iz had fallen over in the mud and the heavy bike had fallen on top of me. 
            The next few days we spent along undulating smooth roads, passing through small villages with Christmas decorations in amongst lemon trees.     
            </p>
          </div>
          <div class="col-md-6 gx-5 mb-2 order-1 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/blog_2_phot_2.webp" %}' class="img-fluid" />
                </a>
              </div>
          </div>
        </div>
      </section>
      <!--Section: Content 2-->
      <!--Section: Content 3-->
      <section>
        <div class="row mb-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_2_photo_3.jpeg" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_2_photo_4.webp" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="col-md-12 mb-12">
            <p>
            On night 3 was stayed with our first Warm Showers host, Rebeca, in Ojedo. This was a reasonable deviation, but one we were willing to make for a bed to sleep in, 
            a washing machine, and good conversation.
            </p>
            <p>
            She recommended us to visit a beautiful bay with a series of caves the next day – this for me remains one of my highlights. We went for our first swim of the trip. 
            It was amazing how tranquil it was for several minutes, then without warning the peace would be shattered by water crashing out through cracks in the rock above.
            </p>
        </div>
      </section>
      <section>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/blog_2_photo_5.webp" %}' class="img-fluid" />
                </a>
                </div>
                <div style="background-color: rgba(251, 251, 251, 0.15);" class="mt-5">
                <a href="" class="mt-2">
                    <img src='{% static "imaxes/blog_2_photo_6.webp" %}' class="img-fluid" />
                  </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <p>
            The journey to our second Warm Showers host was, as Matt put it in a very British way, “not the nicest day”. Strong headwinds, horizontal rain, tedious major roads. 
            The final 15 kilometers of land were steep up, down, up, down on repeat (my emergency Kendal Mint Cake had to be cracked out). We arrived at Sergio´s in Sevares late 
            in the evening with thousand yard stares. 
            </p>
            <p>
            Sergio was an entertaining host. He enjoyed telling us “horror stories” about the kind of food his British colleagues would take for lunch during his time in the UK, 
            most notably the “chip buttie”! He had made a delicious salad for us, with fresh bread for our dinner. I complimented Sergio on his excellent chilli to go with the 
            salad. Embarrassingly this was actually a ready meal Matt had heated up for me and Zoe because we weren’t eating the egg – the only thing Sergio hadn’t made! 
            He will probably add this story to his collection about English peoples poor taste in food. 
           </p>
           <p>
            According to him, our original route along the coast would be far less interesting to us than his alternative – following the Selle River up through the Picos de Europa to Riaño, and then continueing to Leon, and then to the Portuguese coast. We took his advice, and took the windy gradual incline over the next following days until our highest point of the trip at that point – 1280m – just before Riaño. Here Matt departed from us, back down to the coast, to warmer weather. Here, Zoe and I spent our first -8C night under canvas.
            </p>
          </div>
        </div>
      </section>
      <!--End Section: Content 2-->
    </div>

{% endblock content %}

  