{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

<section>
    <div class="text-center mb-5">
        <h1 class="mt-3">How We Got Here</h1>
    </div>
    <div class="container">
        <div class="col-md-12 mb-2">
            <h4 class="text-center"><strong>Iz</strong></h4>
            <p id="p_blog">
            Just a few days before I set off I realised even my mum wasn’t sure why I was doing this trip! Feel free to skip to the next section for the cycling-y bits. 
            But if you want the background please read on! 
            </p>
        </div>
        <h4 class="text-center"><strong>Travel re-imagined</strong></h4>
        <div class="col-md-12 mb-2">
            <p id="p_blog">
            The first seeds of this big adventure back were planted in 2018. I had been increasingly involved with various environmental movements at the University, and we created Healthy 
            Planet Sheffield society for students wanting to take action to make healthcare more environmentally sustainable. In general I don’t believe that individual actions alone will 
            solve the climate crisis – the responsibility lies within far bigger powers. However, I felt my behaviours could be more aligned with my concerns about the climate crisis.
            </p>
            <p id="p_blog">
            The first person I met who had given up flying due to the climate crisis was Tim Allen, the sustainability society support officer at the SU who provided lots of support for 
            Healthy Planet Sheffield. Before this point, I truly believed you couldn’t travel any big distance without taking an aeroplane. Tim and his partner had travelled around the 
            world just using cargo ships and public transport, and had seen more of the countries they passed through in the process.
            </p>
            <p id="p_blog">
            I took my last flight at the end of 2018 and decided to not take another for at least 3 years. It has now been over 5 years. I have had fantastic smaller adventures around 
            the UK, France, and Spain by train in this time which I probably wouldn’t have had if I hadn’t taken this pledge. Unless there is an emergency, I won’t be taking a flight 
            for many more years! 
            </p>
        </div>
        <h4 class="text-center"><strong>My constant companion – the bicycle</strong></h4>
        <div class="col-md-12 mb-2">
            <p id="p_blog">
            Cycling has gradually become a bigger and bigger feature in my life. My family have always been into cycling. I adopted cycling as a mode of transport around age 14 for 
            independence from relying on lifts. At University I cycled everywhere – up and down the seven hills of Sheffield. I realised I could cycle to the Northern General Hospital. 
            Then I realised I could cycle to my GP placement in Darnall. Then to Rotherham Hospital, to the psychiatric wards in Swallownest.
            </p>
            <p id="p_blog">
            I upgraded my incredibly heavy Halfords hybrid to a slightly less heavy Pinnacle gravel bike in January 2020. I had been given a placement in Chapeltown and wanted a speedier 
            bike which would still take the muddy tracks through Grenoside Woods.
            </p>
            <p id="p_blog">
            During the COVID-19 lockdown, avoiding the risk of infection my public transport took me to taking my longest journey to that date. I was temporarily living with my parents in 
            Nottingham whilst our course was online. To visit my new flat I was moving into in Sheffield I cycled between the two cities, a full day event. 
            </p>
            <p id="p_blog">
            I took my first multiday cycle tour straight after finishing medical school in 2021 with a group of friends from University (Penny, Charlotte, Ellen, Joe, Jimmy, and of course 
            Zoe!). We got the train to Anglesey and cycled down the coast of Wales to Pembrokeshire. I started the tour with a lot of energy for tackling the hills, however this soon burnt 
            out. From day 3 onwards I was lagging far behind and by the end I was convinced I wasn’t going to cycle again (<italic>getting food poisoning on the penultimate day certainly didn’t help!</italic>). 
            But after my muscles had recovered, I found myself back on my bike. 
            </p>
            <p id="p_blog">
            I could surely cycle anywhere now! 
            </p>
        </div>
        <h4 class="text-center"><strong>The impetus for a big adventure</strong></h4>
        <div class="col-md-12 mb-2">
            <p id="p_blog">
            I started working as a Junior Doctor in August 2021, a year after the eruption of the COVID-19 pandemic. No longer revising for medical school exams was a big relief – despite 
            working between 48-72 hour weeks I found myself having more free time than at medical school (although a fair amount of this I spent ony self-created role as the junior doctor 
            Sustainability Rep for the hospital!). The hours were less of an issue than the constant not knowing how everything works.
            </p>
            <p id="p_blog">
            You spend 5 or 6 years at medical school learning about the Krebs cycle and Addison’s disease. But all of this is far less relevant than knowing which of the seemingly hundreds 
            of different forms to use for what, and which cabinet to find them, and where to put the completed form as well as some additional random and unnecessary admin task to make sure 
            the form is acted upon. I enjoyed the patient interactions, but everything around it I found stressfully dull.
            </p>
            <p id="p_blog">
            This was my first placement of my first year…and it is a never ending train to get to the “end point” of becoming a GP or consultant – at the least five years, at the most ten years. 
            </p>
            <p id="p_blog">
            I sat down one day after returning from work and decided I needed to create a plan – how can I inject some fun into my life? The solution – a great adventure, an exciting 
            horizon to look forward to on long days, a comfort blanket during sleepless nights answering bleeps around the hospital.
            </p>
            <p id="p_blog">
            An important catalyst for these plans was our fantastic friend Lyds/Lizard. On New Year´s Eve 2021 in North Wales, Lizard, Zoe, and I were walking and chatting, all the time 
            trying to keep each other anchored to the ground on such a windy day. We realised we all were needing this trip, all in our different ways. In 2022 we did our “warm-up”: two 
            weeks along the Grande Traverse du Jura in France, camping every night. It was official – cycle touring is exactly how I want to spend a year! 
            </p>
            <p id="p_blog">
            I worked my last day of my contract on the 1st August 2023, a couple of weeks after shaving off my long blonde hair. My last patient was a General Practice home visit. 
            The carers remarked how unusual it was to see a doctor visiting on a bike. I had a bizarre and unnamable feeling at that point – standing in my scrubs with a stephascope around 
            my neck in a city so familiar to me, whilst holding the handlebars of the bike which is going to take me through many unknown places. A feeling of straddling between two different 
            worlds which had never seen each other before. I thanked them for being part of my last home visit for a very long time, and started pedalling, and pedalling, and pedalling.
            </p>
        </div>
        <h4 class="text-center"><strong>Zoe</strong></h4>
        <div class="col-md-12 mb-2">
            <p id="p_blog">
            The initial inspiration for the trip came from our friend Lyds, who proposed cycling around South America as a trio. This then morphed into cycling south to Morocco and then 
            north again for Sweden, mainly because this is more feasible without flying. Unfortunately in the end Lyds wasn’t able to join us for the whole trip, but might join for a month.
            </p>
            <p id="p_blog">
            We hadn’t determined when we would embark on this adventure, but the impetus to leave in December came when I was made redundant due to a funding crisis from my previous job 
            working as a Research and Policy Officer at UK100 – an organisation that supports local authorities to take climate action. 
            </p>
            <p id="p_blog">
            I also needed a break from working from home spending all of my time on a computer, as I was experiencing a lot of headaches and eye strain. 
            </p>
            <p id="p_blog">
            I first got into cycling as a child through riding with my Dad. Whilst in Sheffield I started to cycle both as my main form of transport and for fun. My first ride in the 
            Peak District was on a knackered hybrid bike with my friend Beth who had a nice road bike and I had no chance of keeping up with her! I started cycling more and more and began 
            going on cycle trips with friends around the Peak District, Wales and the Dales.
            </p>
            <p id="p_blog">
            My first camping cycle trip was the Grande Traverse de Jura in France with Lyds and Iz, it was so much fun that I decided that a long distance cycle tour was something I wanted to do.  
            </p>
        </div>
        <h4 class="text-center"><strong>The next steps</strong></h4>
        <div class="col-md-12 mb-2">
            <p id="p_blog">
            Read our post for the lead up to the “big adventure” – Panniers and Montañas.
            </p>
        </div>
    </div>
</section>
{% endblock content %}