{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

<div class="container">
    <!--Section: Content 1-->
    <h1 class="text-center mt-3">A return to the rocks</h1>
    <section>
        <div class="row mt-3">
            <p id="p_blog" class="mt-4">
                I needed to have a break from cycling so that my knees could recover, and so I left our very hospitable 
                hosts in Lisbon and took an overnight bus to Madrid and then another bus to Benidorm. I had arranged to 
                volunteer at the Orange House climbing hostel in Finestrat in return for free accommodation. I had to 
                remove both wheels and my seat and wrap my bike in bubble wrap to get it on the bus which made moving my 
                bike and all my things around very difficult!  
            </p>
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_1.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">My bike wrapped and ready to go</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p id="p_blog" class="mt-4">
            I was able to see a lot of Spain on the bus ride and was reading a book called Entangled Life about the 
            incredible abilities of fungi. Unfortunately when I arrived I realised that Iz had our bike tool and so 
            I couldn't put the seat back on my bike! Someone from the Orange House offered to pick me up and then 
            fortunately a passing cyclist lent me his bike tool.
        </p>
    </section>
    <section>
        <div class="row">
            <div class="col-md-7 gx-5 mb-2 order-1 order-md-1">
                <p id="p_blog" class="mt-4">
                I was reunited with my close friend Jodi at the Orange House who I hadn't seen for over a month, 
                she had spent 40 hours on buses coming there from the UK! Commitment to the flight free life! 
                As well as the hostel there is a garden area full of orange trees and camper vans with a view of 
                the nearby mountain the Puig Campana.
                </p>
            </div>
            <div class="col-md-5 gx-5 mt-4 order-2 order-md-2">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_2.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">The Orange House and the Puig Campagna</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p id="p_blog" class="mt-4">
        We chilled out for the rest of the day and met the other volunteers - Tanja from Sweden, Kat who was from 
        Poland but had been living in Scotland for a few years and her partner Isaac, Callum from England and John 
        and Paul from Scotland. Tanja has a dog which she rescued called Mancha and Paul was looking after a very 
        sweet little dog called Sally who he's fostering before someone adopts her. There is also a little cat called 
        Zina who is definitely the boss and there were plenty of stand offs between Mancha and Zina! Almost all of the 
        campers here are volunteering, with the exception of one guy working in rope access called Alex who lives full 
        time in his van, most of the time around Sheffield and the Peak District like me, and Jonathan who's a semi-resident 
        camper here.
        </p>
        <p id="p_blog" class="mt-4">
        On my first day I went climbing at Sella with Jodi, Tanja and Paul. There are loads of people from across 
        Europe living in their vans at the crag, people were cooking lunch in the car park when we arrived! I stuck 
        to easy routes to see how my knees felt and they were fine. It felt good to be back on the rock again but I was 
        definitely feeling out of practice having not climbed for about two months! The weather is great here - sunny 
        and warm - how we had expected Spain to be but had seriously underestimated the cold of the northern mountains! 
        I have been doing stretching and strengthening exercises morning and evening which seems to have been helping 
        the knees. 
        </p>
        <p id="p_blog" class="mt-4">
        Unusually for here it actually rained the next day! Sam who runs the Orange House also runs a charity shop to 
        raise money for her dog rescue charity as there are lots of stray dogs here. So we helped her to move a load of 
        things which someone had donated to the charity shop/garden centre, which was an eclectic mix of plants and random 
        objects including a plate with the Queen's face on!
        </p>
        <p id="p_blog" class="mt-4">
        The following day a bunch of us went climbing at Cabezon de Oro. It was a lovely crag with panoramic views 
        around the surrounding mountains. Rich - Sam's partner - joined us, he's an incredibly energetic character 
        who is always telling bizarre tales and making jokes which don't always make much sense. Whilst climbing Tanja 
        accidentally pulled off a huge block the size of a microwave which fortunately didn't hit her belayer! Jodi and 
        I started on an easy but scary slab which freaked me out and I didn't feel good climbing and so Jodi did all 
        the leading for the rest of the day.
        </p>
        <p id="p_blog" class="mt-4">
        The next day we started off with some cleaning and tidying - the work here is pretty easy - mostly odd jobs 
        like clearing garden waste and helping with house clearances. But as soon as we cleared out some stuff more 
        would arrive so it was an endless job! Two people turned up to buy a guidebook, one was feeling sick and so 
        asked if we could climb with her friend. We thought they were a couple to begin with but it turned out they 
        had met on Facebook and planned to go on a climbing trip together without knowing one another at all! There 
        was a lot of confusion as she suggested we go in her car but only she was insured to drive it. Eventually Jodi, 
        John, our new friend Chris and I went climbing at Sella again - it's such an extensive crag there is so much 
        to go at! Chris is from York in the UK and like us he frequents the Peak District - he is incredibly psyched 
        for getting out climbing! The routes we did were strangely graded - including a 5+ with a mantle move with no 
        footholds! Unfortunately Jodi pulled her finger on the 5+ - such bad luck! In the evening we played a game 
        called Perudo which originated from the Inca empire - it involved dice and cups and guessing how many of each 
        number were in the game.
        </p>
        <p id="p_blog" class="mt-4">
        The following day a group of us went climbing at Alcalali - it was baking at the crag in a sun trap! 
        We were dripping with sweat but Paul and I still managed to do 7 great routes. My head was back in the 
        game today and I didn't feel scared anymore! I did four 6bs which were quite technical and interesting routes. 
        Tanja managed to onsite her first 6c! 
        </p>
    </section> 
    <section>
        <div class="row mt-3">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_3.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Tanja sending the 6C</label>
                </div>
            </div>
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_4.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Mancha chilling at the crag</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-7 gx-5 mb-2 order-1 order-md-1">
                <p id="p_blog" class="mt-4">
                Paul also did a long cycle touring trip around Europe and so was keen to hear about our trip. Both him 
                and John work as climbing instructors in Scotland and live full time in their vans but when there's less 
                work available in the winter they spend the whole season climbing in Spain. In the evening we tried to go to 
                a local pizza restaurant but it wasn't open so we ended up at an English pub having some classic scran - 
                a burger, chips and a pint. Fortunately they had a vegan option. Afterwards we explored the small town and 
                someone decided we should all show one another our talents! John did some parkour which was impressive! Amy 
                did the worm, Jodi did a handstand, I did some cartwheels and Paul told some dad jokes.
                </p>
            </div>
            <div class="col-md-5 gx-5 mt-4 order-2 order-md-2">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_5.jpeg" %}' class="img-fluid" />
                    <label style="font-style: italic">Looking down on Finestrat after dinner</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p id="p_blog" class="mt-4">
        For the next couple of days Jodi and I started work renovating an old caravan because the house will be 
        full soon and so we need to move out of our room. We moved some of the stuff out of the caravan and found 
        that mice had been living there and there were lots of small holes for them to get in! We had to clean up a 
        lot of mouse poo whilst wearing gloves and masks! But after this we jumped in the freezing cold pool to cool 
        off and spent the rest of the day doing yoga and relaxing. 
        </p>
    </section> 
    <section>
        <div class="row mt-3">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_6.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">The Orange House and the pool</label>
                </div>
            </div>
            <div class="col-md-6 gx-5 mb-2 order-1 order-md-1">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_7.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Me chilling with Mancha</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p id="p_blog" class="mt-4">
        We continued doing a bit of a bodge job on the floor at the front of the caravan where the mice had been 
        getting in - gluing some planks of wood onto the metal floor. We had medium success through pressing the 
        planks down with some rocks, but I don't think wood glue is meant to be used onto metal!  
        </p>
        <p id="p_blog" class="mt-4">
        The next day Jodi, Callum, Isaac, Kat, Tanja and I did a house clearance for Sam's animal rescue charity. 
        Unfortunately the flat was on the fifth floor and there was no free car parking space outside. We ended up 
        parking 2 cars and a trailer directly in front of other people's cars! Sam proposed that Jodi should stay 
        with the cars to move them if people needed to get out despite her not being insured to drive them. 
        Fortunately Rich insisted on staying with the cars instead and had to do a lot of manoeuvring to get out of 
        people's way. The rest of us moved a random bunch of things down the lift - cupboards and tables, antique 
        dolls, a full china set, a chest of knick-knacks and a zimmer frame! We managed to cram everything into the 
        trailer, with cupboards precariously pointing out more than a metre, and slowly drove over to the garden 
        centre to unload. The final mission was how to fit everything into the already overflowing space, before we 
        returned to the house to play games around the warmth of the fire.  
        </p>
        <p id="p_blog" class="mt-4">
        Another successful day! All of us volunteers went to Pared de Rosalia at Sella. Sam's son Dan's partner Marie 
        joined us - she's around our age but now has two baby twins! Jodi's finger was feeling good enough for her to 
        climb today, so Jodi, Marie and I did three 6a/6b routes including the classic of the crag, which were all 
        quite thin and technical, and then Marie and I tried a 7a. Both of us managed the eponymous two-finger mono 
        crux, but ran out of beans for the later sections! We made it up with a couple of rests and decided it was 
        one to come back for. On the drive home Tanja, Jodi and I made up for the lack of signal for Spotify by taking 
        turns to sing a song for the others to guess the name! 
        </p>
        <p id="p_blog" class="mt-4">
        Yet another day climbing! Jodi and I went to Guadalest crag with a guest called Amy who is from 
        Colorado and came over here to do some work guiding, and decided to stay in the house for a week 
        afterwards. On route to the crag we saw a car being stopped by the police which turned out to be 
        Rich and Tanja getting a fine, as Rich hadn't got round to fixing the indicator lights on the trailer! 
        We had the crag all to ourselves, and did some great long routes. I managed to onsite a 6C, although 
        I felt like I was coming off for the whole of the first half the route as the holds were fairly 
        non-existent. 
        </p>
    </section>
    <section>
        <div class="row mt-3">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_8.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">On the crux of the route!</label>
                </div>
            </div>
            <div class="col-md-6 gx-5 mb-2 order-1 order-md-1">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_9.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Jodi contemplating her next move further up the route</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-7 gx-5 mb-2 order-1 order-md-1">
                <p id="p_blog" class="mt-4">
                On our well-deserved rest day Paul helped Jodi and I to cut and drill some pallet wood to hold 
                together the existing panels on the walls of the caravan and we painted the walls. There were still 
                a lot of holes left so we had to improvise with some duct tape. It was a big improvement on our new 
                home to be. 
                </p>
                <p id="p_blog" class="mt-4">
                Afterwards Tanja and Jodi and I went to the beach for a swim with Manca, who had a great time because 
                she got to meet plenty of other dogs. It was our first night in the caravan and fortunately it was 
                quite cosy with a little storage heater.
                </p>
            </div>
            <div class="col-md-5 gx-5 mt-4 order-2 order-md-2">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_10.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Our new home</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row mt-3">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_11.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Tanja and the dogs at the beach</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-7 gx-5 mb-2 order-1 order-md-1">
                <p id="p_blog" class="mt-4">
                A bigger group of us made another trip to Guadalest. Jodi and I did a great two pitch route which 
                had a surprisingly big overhang for a 5C! It was fun to multi-pitch again and we had great views 
                over the surrounding valley. Jodi made some valiant attempts on a 6b but it was quite awkward and 
                so I finished it off. By that point it was time to return home for dinner.
                </p>
                <p id="p_blog" class="mt-4">
                A Finnish couple, Hannah and Tim, had turned up to camp - they live full-time in their van and tour 
                around Europe climbing and kite surfing for most of the year, and spend the Summer in their tiny 
                house in Finland. Living the dream! They both work for 27 crags - a subscription based online guidebook. 
                A long debate ensued between Amy and Tim over whether online platforms that are replacing guidebooks 
                should be free and volunteer based like the Crag, or cost something so that route developers can be 
                paid for logging information about routes that they have put a lot of work into developing, like 27 Crags.
                </p>
                <p id="p_blog" class="mt-4">
                Tanja, Callum, Isaac, Tim and I went to a sector called Doggy Guantanamo at Sella - Rich and Jonathan 
                from the Orange House had put up most of the routes there. The routes are clearly following a theme 
                here - we did Piss on a Pooch and Doggy Guantanamo - which was unexpectedly my first 7a onsight! It 
                had a technical lower half followed by a pumpy but easier finish. We also tried a 7a+ La Bilyruina 
                which was very cruxy including one very reachy section, which Tim cruised up and I took a few falls on, 
                eventually making it up. .
                </p>
            </div>
            <div class="col-md-5 gx-5 mt-4 order-2 order-md-2">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_12.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">Taking a rest in a hole! </label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p id="p_blog" class="mt-4">
        When we returned a bit of a saga ensued over a guidebook which a couple wanted to buy. The guidebooks were 
        in the reception but the key was nowhere to be found. I phoned Sam but she had no idea where it was. First me, 
        next Callum and then Paul came to search for possible hiding points around the door which I think the couple 
        were a bit bewildered by. Eventually Paul sold them his guidebook as he could get another one when we found 
        the key. I felt like this summed up the general chaotic vibes of the Orange House.   
        </p>
        <p id="p_blog" class="mt-4">
        On my last day at the Orange House Jodi, Hannah and I went climbing at Sella again after clearing some 
        garden waste in the morning. Jodi was going really well on a 6b and a 6c and Hannah and I did the classic 
        of the sector - Kashba - a 6c+. I had tried this route multiple times last time I was here but had always 
        fallen off, and so I was pretty chuffed to do it clean. I got a lift back with Paul who had been climbing 
        nearby, and we stopped off to have a beer with old John on our way back, he is 70 odd years old but is still 
        climbing solidly despite walking into crags with a stick! We had planned to go out to the local pizza restaurant 
        but it was closed again! Me and Jodi only had two peppers to contribute but between us all we managed to rustle 
        up two cracking curries for a big group meal. We stayed up drinking beers and telling tales - it turned out that 
        back in the day Paul had been a graffiti artist and was interrogated in a cell by the British Transport Police 
        for spray painting trains  
        </p>
    </section>
    <section>
        <div class="row mt-3">
            <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 d-flex align-items-center">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src='{% static "imaxes/blog_photos/february_zoe_13.jpg" %}' class="img-fluid" />
                    <label style="font-style: italic">The view at Sella crag</label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p id="p_blog" class="mt-4">
        On the 1st of February I said goodbye to everyone at the Orange House, making a close escape from doing 
        another house clearance, and got a bla bla car to Algeciras. The car was pretty small and the back seats 
        didn't go down so even with the wheels off my bike was balanced across the top of the back seats and taking 
        up half of the car! The driver Manuel was a pop singer and had been attending a songwriting event in Benidorm - 
        he hoped to participate in Eurovision next year! Another girl who was getting a lift worked in the ferry port 
        in Algeciras and so was giving me all the information about getting the ferry to Morocco. Manuel very kindly 
        dropped me out of town so that I could find somewhere to camp. Unfortunately as I was putting the wheels back 
        on my bike I was approached by two soldiers who told me that the area was a military base and it was forbidden 
        for me to be there! So I continued cycling along the main road, but every track that I went down hoping to find 
        a quiet spot to camp turned out to be a housing development. Eventually I found a spot in a clearing just off 
        the road, made some spaghetti and settled down for the night.  
        </p>
        <p id="p_blog" class="mt-4">
        The following morning I continued cycling 10 kilometres to Tarifa and then treated myself to some vegan banana 
        bread and an oat latte. I waited for Iz on the beach whilst gazing out on the expanse of sea, which we would 
        cross later that day to continue the next phase of our adventure in Morocco!   
        </p>
    </section>
</div>
{% endblock content %}

  