{% extends 'base/base_registered.html' %}
{% load static %}
{% load i18n %}

<!--ESto é para que aparezan os puntos nos datos dos países e os números sexan máis visibles-->
{% load humanize %}

{% block content %}
<style>
    #grouping_card {
        background: none; /* Remove background */
        border: none; 
    }
</style>

<h2 class="mt-3 text-center">{% trans "Data of the Journey" %}</h2>
<div id="background_graphs" class="row justify-content-center">
    <div id="grouping_card" class="row col-lg-7 card p-3">
        <div class="row mt-3 text-center">
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 id="h5_card_title_data" class="card-title">Km</h5>
                    <p class="card-text">{{ total_km_html|intcomma }} km</p>
                    </div>
                </div>
            </div>
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Climb" %}</h5>
                    <p class="card-text">{{ total_climbing_html|intcomma }} {% trans "meters" %}</p>
                    </div>
                </div>
            </div>
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Countries" %}</h5>
                    <p class="card-text">{{ country_number_country_html }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Total days" %}</h5>
                    <p class="card-text">{{ current_journey_day_html }} {% trans "days" %}</p>
                    </div>
                </div>
            </div>
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Resting days" %}</h5>
                    <p class="card-text">{{resting_days_html}} {% trans "days" %}</p>
                    </div>
                </div>
            </div>
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Cycling days" %}</h5>
                    <p class="card-text">{{ cycling_days_html }} {% trans "days" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Nights outside" %}</h5>
                    <p class="card-text">{{ night_outside_html }} {% trans "nights" %}</p>
                    </div>
                </div>
            </div>
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Accommodation" %}</h5>
                    <p class="card-text">{{ night_inside_html }} {% trans "nights" %}</p>
                    </div>
                </div>
            </div>
            <div class="card-rows col-lg-4 mb-2">
                <div class="card text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Expenses" %}</h5>
                    <p class="card-text">{{ total_money_html|intcomma }} €uros</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        {{ pie_chart_expenses_type_html|safe }}
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-6 card mr-5 mb-1">
        {{ bar_chart__expenses_week_html|safe }}
    </div>
    <div class="col-lg-6 card ml-5 mb-1">
        {{ bar_chart_expenses_country_html|safe }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6 card mr-5 mb-1">
        {{ bar_km_meters_week_html|safe }}
    </div>
    <div class="col-lg-6 card ml-5 mb-1">
        {{ bar_km_meters_country_html|safe }}
    </div>
</div>
<div class="text-center mt-3 mb-3">
    <a href="{% url 'bicicleteiros_estadistica_plotly_full_report' %}" class="btn btn-link btn-lg" style="color: rgb(246, 158, 138);">{% trans "See full report" %}</a>
</div>
{% endblock content %}

  