{% extends 'base/base_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

 
    <div class="container">
      <!--Section: Content 1-->
      <section>
        <div class="row mb-4 mt-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/home_page_no_registration_1.jpg" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-4"><strong>Óscar Calleja</strong></h4></strong>
            </a>
            <p>
              Medioambielista de formación, funcionario de profesión y escritor de en sus ratos libres. Puedes descargarte sus libros en el siguiente enlace.
            </p>
            <p>
              Es el encargado de realizar las traduccion al Euskera 
           </p>
           <p>
            <strong>E ti, queres unirte a esta aventura?</strong> Se tocas algún instrumento, non dubides en contactar con nós a través das redes sociais ou no correo: bandadegaitasnovaera@gmail.com
         </p>
          </div>
        </div>
      </section>
      <!--Section: Content 1-->
      <!--Section: Content 2-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-2">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center"><strong>Jaume del Hoyo</strong></h4></strong>
            </a>
            <p>
              Jubilado de profesión, Jaume es un apasionado de la bicicleta que formará parte del viaje en la zona de España-Francia.
            </p>
           <p>
                Es el encargado de las tradcciones al catalán de la página web.
            </p>
            <p>
              A edición física de "Rumbo NE" presentase en formato CD, onde se narra a historia dunha viaxe en barco na que a banda sonora son as propias cancións que forman o disco.
            </p>
          </div>
          <div class="col-md-6 gx-5 mb-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/bici_praia.jpg" %}' class="img-fluid" />
                </a>
              </div>
          </div>
        </div>
      </section>
      <!--Section: Content 2-->
      <!--Section: Content 3-->
      <section>
        <div class="row mb-4">
          <div class="col-md-6 gx-5">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/amencer.jpg" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-4"><strong>Alberto Salgado</strong></h4></strong>
            </a>
            <p>
              Responsable, organizado y metódico
            </p>
            <p>
              Alberto Salgado es el encargado de la edición de los vídeos que se irán lanzando a la semana
           </p>
           <p>
            <strong>E ti, queres unirte a esta aventura?</strong> Se tocas algún instrumento, non dubides en contactar con nós a través das redes sociais ou no correo: bandadegaitasnovaera@gmail.com
         </p>
          </div>
        </div>
      </section>
      <!--End Section: Content 2-->
    </div>

{% endblock content %}

  