{% extends 'base/base_registered.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

 
    <div class="container">
      <!--Section: Content 1-->
      <section>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-2 mt-3">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/amaia_mario.jpeg" %}' class="img-fluid" />
                </a>
              </div>
      
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/amaia_mario_2.jpeg" %}' class="img-fluid" />
                </a>
              </div>
          </div>
          <div class="col-md-6 gx-5 mb-2 order-1 order-md-1">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-3"><strong>{% trans "Amaia & Mario" %} (multisport Verín)</strong></h4></strong>
            </a>
            <p>
              {% trans "Sports and Adventure lovers, they like travelling and immerse themselves in the culture of the country. They own an amazing sports store where you can gear up for your next adventure or for your day-to-day" %}
            </p>
            <p>
              {% trans "They are currently collaborating on a solidarity project ('Association Amal Khamlia'), which promotes the gender equality between children in a small hamlet in the Sahara Desert. For more information about the project," %}
              <a href="https://www.facebook.com/reel/884080213266438" target="_blank">{% trans "Watch vídeo." %}</a>
            </p>
           <p>
            {% trans "They are one of the contributors to this journey, providing the necessary gear to stay dry and warm during nights." %}
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content 1-->
      <section>
        <div class="row mb-4 mt-4 justify-content-center align-items-center">
          <div class="col-md-6 gx-5 order-2 order-md-1">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/oscar.jpeg" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-2 order-1 order-md-2">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-4"><strong>Óscar Calleja</strong></h4></strong>
            </a>
            <p>
              {% trans "An environmental scientist by training, a Public Health and Epidemiology Technician by profession, and a writer of terror and fantasy stories in his free time. You can find him on" %}
              <a href="https://x.com/Oscar_Calleja?s=20" target="_blank">{% trans "Twitter/X as @Oscar_Calleja." %}</a> 
              {% trans "You can also download some of the books he has been involved in for free clicking on the following links:" %}
            </p>
            <ul>
                <li id="li_notes_tool">
                <a href="https://lektu.com/l/vuelo-del-cometa/cazado-por-el-vampiro/21557" target="_blank">
                  Cazado por el Vampiro
                </a>
              </li>
                <li id="li_notes_tool">
                <a href="https://lektu.com/l/vuelo-del-cometa/los-pasos-del-angel/22486" target="_blank">
                  Los pasos del Ángel
                </a>
              </li>
            </ul>
           <p>
            {% trans "He is responsible of Basque translations on terrameiga.bike" %}
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content 1-->
      <section>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 mt-1" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/novaera.jpg" %}' class="img-fluid" />
                </a>
              </div>
          </div>
          <div class="col-md-6 gx-5 mb-2 order-1 order-md-1 justify-content-center align-items-center">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-3"><strong>{% trans "Nova Era pipe band" %}</strong></h4></strong>
            </a>
            <p>
              {% trans "Musical ensemble that emerge as an alternative to the standard musical style of Galician pipe bands, mainly distinguishing itself in terms of instrumentation and repertoire." %} 
            </p>
            <p>
              {% trans "They have nearly 10 years of history, during which it's worth highlighting the release of the CD 'Rumbo NE' and countless performances and activities they carry out in the town where they are based." %}
            </p>
            <p>
              {% trans "They are currently immersed in the creation of a commemorative documentary celebrating the band's 10-year anniversary, which will be premiere at the Short Film Festival of Verín 2024" %}
              <a href="http://ficviaxiv.com/" target="_blank">(FIC).</a>
              {% trans "For more information visit:" %} <a href="novaera.gal" target="_blank">novaera.gal</a>
            </p>
           <p>
            {% trans "It is responsible for providing the soundtrack to this journey." %}
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content 1-->
      <section>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 gx-5 mb-2 order-2 order-md-1">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 mt-1" data-mdb-ripple-color="light">
                <a href="">
                  <img src='{% static "imaxes/jaume.jpeg" %}' class="img-fluid" />
                </a>
              </div>
          </div>
          <div class="col-md-6 gx-5 mb-2 justify-content-center align-items-center order-1 order-md-2">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-4"><strong>Jaume del Hoyo</strong></h4></strong>
            </a>
            <p>
              {% trans "Retired by profession, a loving father and evena better husband; Jaume is a passionate cyclist who wil be part of the journey in the Spain-France border" %}
            </p>
            <p>
              {% trans "He loves paddle tennis, going to Galicia in his camper van and going on hiking. Jaume is a true bike commuter, as it is his main way of transportation in the city he lives." %}
            </p>
           <p>
            {% trans "He is the responsible of catalan translation on terrameiga.bike and he will be part of the route for some time." %}
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content 1-->
    
      <!--Section: Content 2-->
      <!--Section: Content 3-->
      <section>
        <div class="row mb-4">
          <div class="col-md-6 gx-5 order-2 order-md-2">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <div style="background-color: rgba(251, 251, 251, 0.15);">
                <a href="">
                  <img src='{% static "imaxes/amencer.jpg" %}' class="img-fluid" />
                </a>
                </div>
            </div>
          </div>

          <div class="col-md-6 mb-2 order-1 order-md-1">
            <a href="" style="text-decoration: none;">
              <strong><h4 class="text-center mt-4"><strong>Alberto Salgado</strong></h4></strong>
            </a>
            <p>
              {% trans "Responsible, organized, methodical and a big fan of Baskonia." %}
            </p>
            <p>
              {% trans "He has a dog named Bimba whom he takes for a walk every day and cares for with great affection." %}
            </p>
            <p>
              {% trans "Alberto is in charge of social media and the edition of the videos which will be released perdiodically" %}
           </p>
          </div>
        </div>
      </section>
      <!--End Section: Content 2-->
    </div>

{% endblock content %}

  