<!--To load the Django library to translate your text.-->
{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">

<!-- Bootstrap CSS --> <!--Esto é o css qie está cargado en internet. Se te fixas é unha stylesheet onde todos os formatos css-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!--Esto utilízase para imprimir as mensaxes de que a sesión foi iniciada con éxito-->
<div id="content" class="mt-5 fixed-top">
	{% if messages %}
	{% for m in messages %}
	<!--Esto é para que me imprima solo a última mensaxe das alertas que é a que se corresponde coa mensaxe de sucess-->
	<!--As Primeriras mensaxes son relativas a errores que pudo haber no formulario de sign in-->
	  {% if forloop.last %}
	  <div class="alert alert-{{ m.tags }} m-2 mt-1" id="msg" role="alert">
		<!--Esto é para que mostre un botón que permita pechar a mensaxe que se mostra-->
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>{{ m }}</strong>
	  </div>
	  {% endif %}
	{% endfor %}
  {% endif %}
  </div>
  <!--Eiqui estou decindo canto tempo ten que estar a alerta unha vez que se completou a acción-->
  <!--O 9000 está a endicar o tempo que está a alerta visible. Despois a alerta desaparece.-->
  <script>
	setTimeout(function(){
		if ($('#msg').length > 0) {
			$('#msg').remove();
		}
	}, 7000)
  </script>

<head>
	<meta charset="UTF-8">
	<title>Perfil Persoal</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
</head>

<header>
    <nav class="navbar navbar-expand-md" style="background-color: #0C0404;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: rgb(246, 197, 190);">
          <img src="/static/pictures/favicon.jpeg" width="35" height="35" class="d-inline-block align-top" alt="">
            <strong>TerraMeiga</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'bicleteiros_home_page' %}" style = "margin-left: 10px; color: rgb(246, 197, 190)">Inicio</a>
            </li>
            <li class="nav-item">
              <a type="button" class="nav-link" href="{% url 'route' %}" style = "margin-left: 10px; color: rgb(246, 197, 190)">Videos</a>
            </li>
            <li class="nav-item">
              <a type="button" class="nav-link" href="{% url 'route' %}" style = "margin-left: 10px; color: rgb(246, 197, 190)">Fotos</a>
            </li>
            <li class="nav-item">
              <a type="button" class="nav-link" href="{% url 'bicleteiros_estadisticas' %}" style = "margin-left: 10px; color: rgb(246, 197, 190)">Estadísticas</a>
            </li>
          </ul>
          <form class="d-flex-danger" role="search">
            <a class="btn btn-outline-light" id="button_area_persoal" href="{% url 'personal_data' %}" type="submit"><strong>Personal Area</strong></a>
            <a class="btn btn-outline-light" id="button_rexistro" href="{% url 'log_out' %}" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
              <strong>{{ user.username }} || Log Out</strong>
            </a>
          </form>
        </div>
      </div>
    </nav>
  </header>
  
	<section class="py-5 my-5">
		<div class="container">
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<h4 class="text-center">{{request.user.email}}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" href="{% url 'personal_data' %}" role="tab" aria-controls="account" aria-selected="true">
							<!--<i class="fa fa-home text-center mr-1"></i> -->
							&#127969{% trans "Personal Data" %}
						</a>
						<a class="nav-link" id="account-tab" href="{% url 'password' %}" role="tab" aria-controls="account" aria-selected="false">
							<i class="fa fa-home text-center mr-1"></i> 
							{% trans "Access Data" %}
						</a>
						<hr class="featurette-divider">
						<a class="nav-link" id="security-tab" href="http://127.0.0.1:8000/account/order/" role="tab" aria-controls="security" aria-selected="false">
							<i class="fa fa-user text-center mr-1"></i> 
							{% trans "Order Status" %}
						</a>
						<a class="nav-link" id="notification-tab" href="{% url 'returns' %}" role="tab" aria-controls="notification" aria-selected="false">
							<i class="fa fa-bell text-center mr-1"></i> 
							{% trans "Returns" %}
						</a>
						<a class="nav-link" id="notification-tab" href="{% url 'delete_account' %}" role="tab" aria-controls="notification" aria-selected="false" id="delete_account">
							<i class="fa fa-bell text-center mr-1"></i> 
							{% trans "Delete your account" %}
						</a>
					</div>
				</div>
                {% block content %} 
                {% endblock content %}
			</div>
		</div>
	</section>	
</html>


 <!--Esto son as scripts para que os diferentes elementos de bootstrap funcionen: carousel, botóns, cuadros de texto...-->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <!--Con esto funcionache o botón da navbar cando a pantalla é pequena. Sen esto o botón da navbar non funciona-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Esto é para configurar as mensaxes de "sucess" ou error de cuando unha accion é completada. Utilizamos sweet alert para que se mostren os pop-ups cas mensaxes-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    


