{% extends 'profile_account/base_profile_account.html' %}
<!--To load the Django library to translate your text.-->

{% load i18n %}

{% load static %}

{% block content %}

<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="access_data" role="tabpanel" aria-labelledby="account-tab">
        <h3 class="mb-4">Access Data</h3>
        <form class="mx-1 mx-md-4" method="POST" action="" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-left">{% trans "Email:" %} <strong>{{request.user.email}}</strong></label>
                    </div>
                </div>
                {% for field in password_update_form.visible_fields %}
                <tr>
                    <td>
                    <br>
                    {% if forloop.counter == 1 %}
                    <label>Current Password</label>
                    {% elif forloop.counter == 2 %}
                    <label>New Password</label>
                    {% elif forloop.counter == 3 %}
                    <label>Repeat New Password</label>
                    {% endif %}
                    <div class="col-md-6">
                        {{ field }}
                        <!--Co "if messages" solo imprimo os erros se hai alerta,se non hai non imprimo o erro-->
                        {% if messages %}
                        <label style="color: red;">{{ field.errors }}</label>
                        {% endif %}
                    </div>
                    </td>
                </tr>
                {% endfor %}

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-success btn-lg" id="deliveryNextBtn">Update</button>
                </div>

                <!--
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans "Current Password" %}</label>
                            {{ password_update_form.password }}
                    </div>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans "New Password" %}</label>
                            {{ password_update_form.password1 }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans "Repeat New Password" %}</label>
                            {{ password_update_form.password2 }}
                    </div>
                </div>-->
                
            </div>
    </div>


</div>

{% endblock content %}