{% extends 'base/base_registered.html' %}
<!--To load the Django library to translate your text.-->
{% load i18n %}

{% load static %}

{% block content %}

<section class="py-5 my-5 mt-0">
	<div class="container">
		<div class="shadow rounded-lg d-block d-sm-flex" style="background-color: #28282B;">
			<div class="profile-tab-nav border-right" id="navigation_personal_area_section">
				<div class="p-4">
					<h4 class="text-center">{{request.user.email}}</h4>
				</div>
                <!--The tab -->
				<ul class="nav nav-pills">
					<li class="nav-item">
					  <a id="personal_area_tab" class="nav-link" href="{% url 'personal_data' %}">{% trans "Personal Data" %}</a>
					</li>
					<li class="nav-item">
					  <a id="personal_area_tab" class="nav-link active" href="{% url 'password' %}">{% trans "Password" %}</a>
					</li>
					<li class="nav-item">
					  <a id="personal_area_tab" class="nav-link" href="{% url 'delete_account' %}">{% trans "Delete Account" %}</a>
					</li>
				  </ul>
                  <!--End tab -->
                </div>
			</div>
            <div id="personal_data_section" class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="access_data" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4"><strong>{% trans "Do you want to update the password?" %}</strong></h3>
                    <form class="mx-1 mx-md-4" method="POST" action="" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{% trans "Current Password" %}</label>
                                    <br>
                                    {{ password_update_form.old_password }}
                                    {% if messages %}
                                    <label id="label_error" style="color: red;">{{ password_update_form.old_password.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{% trans "New Password" %}</label>
                                    <br>
                                    {{ password_update_form.new_password1 }}
                                    {% if messages %}
                                    <label id="label_error" style="color: red;">{{ password_update_form.new_password1.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{% trans "Repeat New Password" %}</label>
                                    <br>
                                    {{ password_update_form.new_password2 }}
                                    {% if messages %}
                                    <label id="label_error" style="color: red;">{{ password_update_form.new_password2.errors }}</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <button id="update_personal_data_button" type="submit" class="btn btn-success btn-lg" id="deliveryNextBtn">{% trans "Update the Password" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}