{% extends 'profile_account/base_profile_account.html' %}
<!--To load the Django library to translate your text.-->

{% load i18n %}

{% load static %}

{% block content %}

<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="package_status" role="tabpanel" aria-labelledby="account-tab">
        <h3 class="mb-4">{% trans "Returns" %}</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <img class="card-img-top" src="{% static 'icons/exchange_uncolored.png' %}" alt="..." />
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">{% trans "Update" %}</button>
            <button class="btn btn-light">{% trans "Cancel" %}</button>
        </div>
    </div>
</div>

{% endblock content %}