{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

<!--ESto é para que aparezan os puntos nos datos dos países e os números sexan máis visibles-->
{% load humanize %}

{% block content %}

    <!-- Page content wrapper-->
    <div id="page-content-wrapper mt-5">
        <!-- Page content-->
        <div class="container-fluid">
            <h1>Main groups of the market</h1>
            <p>
            TerraMeiga shows the main groups available in the market with their different setups. Bear in mind with our tool you will know what's the steepest slope you could climb
            as well as the maximum speed you could reach.
            A continuacuón presentamos os principais grupos de mercado así como as súas diferentes configuracións. Lembra que coa nosa ferramenta podrás saber canto é a pendente
            máxmima que podrás ascender así como a velocidade máxima que podrás alcanzar.
            </p>
            <div>
                <button id="sign_in_button" class="btn-lg mt-2" style="margin-right: 30px;" href="#gravelOptions">Gravel</button>
                <button id="sign_in_button" class="btn-lg mt-2" style="margin-right: 30px;" href="#roadOptions">Road</button>
                <button id="sign_in_button" class="btn-lg mt-2" style="margin-right: 30px;"  href="#mtbOptions">MTB</button>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Gravel</th>
                    <th scope="row">Entry-Level</th>
                    <th scope="row">Mid-Range</th>
                    <th scope="row">Top-End</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Campagnolo</th>
                        <td></td>
                        <td></td>
                        <td>
                            Ekar
                            <li>Chainring (1): 38T; 40T; 42T; 44T</li>
                            <li>Cassette (13 speeds): 9-36T; 9-42T; 10-44T</li>
                        </td>
                      </tr>
                    <tr>
                        <th scope="col">Shimano</th>
                        <td></td>
                        <td>
                            GRX
                            <li>Chainring (1): 42T; 40T</li>
                            <li>Chainring (2): 46-30T; 48-31T</li>
                            <li>Cassette (10 speeds): 11-25T; 11-32T; 12-28T; 11-34T; 11-36T</li>
                            <li>Cassette (11 speeds):</li>
                            <li>11-25T; 11-28T; 11-30T; 11-32T; 11-34T; 11-40T; 11-42T; 11-46T; 12-25T; 14-28T</li>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="col">Sram</th>
                        <td>
                            Apex
                            <li>Chainring (1): 40T; 42T</li>
                            <li>Cassette (12 speeds): 11-44T</li>
                        </td>
                        <td>
                            Force eTap AXS (electronic)
                            <li>Chainring (1): 40T</li>
                            <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li>Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                            <br>
                            Force
                            <li>Chainring (1): 40T</li>
                            <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li>Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                            <br>
                            Rival Etap AXS (electronic)
                            <li>Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                            <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li>Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                            Rival
                            <li>Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                            <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li>Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="col">Microshift</th>
                            <td>
                                Sword
                                <li>Chainring (1): 40T; 42T</li>
                                <li>Chainring (2): 46-29T; 48-31T</li>
                                <li>Cassette (10 speeds): 11-38T; 11-48T </li>
                            </td>
                            <td></td>
                            <td></td>
                    </tr>
                    <tr>
                        <th scope="col">State</th>
                            <td>
                                All Road
                                <li>Chainring (1): 42T</li>
                                <li>Cassette (11 speeds): 11-42T </li>
                            </td>
                            <td></td>
                            <td></td>
                    </tr>
                </tbody>
            </table>
            <p>fnsdjkahnfjkdasnfjkdhnsjkfnjksdnfjkasdnfjkdnasjkfndsjkafndjksanfjknasjkfndjksanfjkdasnfjkndjkfndjknvjksdnrnfadrsvonsdaljkfvnrajkln</p>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">MTB</th>
                    <th scope="col">Shimano</th>
                    <th scope="col">Sram</th>
                    <th scope="col">Microshift</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Top-End</th>
                    <td>
                        XTR (electronical)
                        <li>Chainring (1): 30T; 32T; 34T; 36T; 38T</li>
                        <li>Chainring (2): 38-28T</li>
                        <li>Cassette (12 speeds): 10-45T; 10-51T </li>
                        <br>
                        XTR
                        <li>Chainring (1): 30T; 32T; 34T; 36T; 38T</li>
                        <li>Chainring (2): 38-28T</li>
                        <li>Cassette (12 speeds): 10-45T; 10-51T </li>
                        <br>
                        Deore XT (electronical)
                        <li>Chainring (1): 28T; 30T; 32T; 34T; 36T </li>
                        <li>Chainring (2): 36-26T</li>
                        <li>Cassette (11 speeds): 11-50T </li>
                        <li>Cassette (12 speeds): 10-45T; 10-51T </li>
                        <br>
                        Deore XT
                        <li>Chainring (1): 28T; 30T; 32T; 34T; 36T </li>
                        <li>Chainring (2): 36-26T</li>
                        <li>Cassette (11 speeds): 11-50T </li>
                        <li>Cassette (12 speeds): 10-45T; 10-51T </li>
                    </td>
                    <td>
                        XX1 Eagle AXS (electronic)
                        <li>Chainring (1): 30T; 32T; 34T; 36T; 38T</li>
                        <li>Cassette (12 speeds): 10-50T</li>
                        <br>
                        XX1 Eagle
                        <li>Chainring (1): 30T; 32T; 34T; 36T</li>
                        <li>Cassette (12 speeds): 10-52T</li>
                        <br>
                        X01 Eagle AXS (electronic)
                        <li>Chainring (1): 32T</li>
                        <li>Cassette (12 speeds): 10-50T; 10-52T </li>
                        <br>
                        X01 Eagle
                        <li>Chainring (1): 30T; 32T</li>
                        <li>Cassette (12 speeds): 10-52T</li>
                    </td>
                    <td>
                        Advent X
                        <li>Chainring (1): 30T</li>
                        <li>Cassette (10 speeds): 11-48T</li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Mid-Range</th>
                    <td>
                        Deore
                        <li>Chainring (1): 30T; 32T; 34T</li>
                        <li>Chainring (2): 36-26T</li>
                        <li>Cassette (10 speeds): 11-36T; 11-42T</li>
                        <li>Cassette (11 speeds): 11-42T; 11-51T</li>
                        <li>Cassette (12 speeds): 10-51T</li>
                        <br>
                        SLX
                        <li>Chainring (1): 30T; 32T; 34T</li>
                        <li>Chainring (2): 36-26T</li>
                        <li>Cassette (12 speeds): 10-45T; 10-51T</li>
                        <br>
                        Cues
                        <li>Chainring (1): 30T; 32T; 40T; 42T </li>
                        <li>Chainring (2): 36-22T; 46-30T; 46-32T </li>
                        <li>Cassette (11 speeds): 11-32T; 11-34T; 11-36T; 11-45T; 11-50T </li>
                    </td>
                    <td>
                        GX Eagle AXS (electronic):
                        <li>Chainring (1): 30T; 32T; 34T</li>
                        <li>Cassette (12 speeds): 10-52T</li>
                        <br>
                        GX Eagle:
                        <li>Chainring (1): 30T; 32T; 34T</li>
                        <li>Cassette (12 speeds): 10-52T</li>
                        <br>
                        NX Eagle
                        <li>Chainring (1): 30T; 32T; 34T</li>
                        <li>Cassette (12 speeds): 11-50T</li>
                    </td>
                    <td>
                        Advent
                        <li>Chainring (1): 32T</li>
                        <li>Cassette (9 speeds): 11-38T; 11-42T; 11-46T</li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Entry-Level</th>
                    <td>
                        Alivio
                        <li>Chainring (2): 36-22T; 46-30T </li>
                        <li>Chainring (3): 40-30-22T; 44-32-22T </li>
                        <li>Cassette (9 speeds): 11-25T; 11-32T; 11-34T; 11-36T </li>
                        <br>
                        Acera
                        <li>Chainring (2): 36-22T; 46-30T </li>
                        <li>Chainring (3): 40-30-22T; 44-32-22T; </li>
                        <li>Cassette (9 speeds): 11-25T; 11-28T; 11-32T; 11-34T; 11-36T; 12-36T </li>
                        <br>
                        Altus
                        <li>Chainring (3): 40-30-22T; 44-32-22T</li>
                        <li>Cassette (9 speeds): 11-32T; 11-34T; 11-36T  </li>
                    </td>
                    <td>
                        SX Eagle
                        <li>Chainring (1): 30T; 32T; 34T</li>
                        <li>Cassette (12 speeds): 11-50T </li>
                    </td>
                    <td>
                        Acolyte
                        <li>Chainring: Not specified</li>
                        <li>Cassette (8 speeds): 11-38T; 12-42T; 12-46T</li>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Road</th>
                    <th scope="col">Shimano</th>
                    <th scope="col">Sram</th>
                    <th scope="col">Campagnolo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Top-End</th>
                    <td>
                        Dura-Ace (electronic)
                        <li>Chainring (2): 46-36T; 50-34T; 52-36T; 54-40T</li>
                        <li>Cassette (12 speeds): 11-30T; 11-34T</li>
                    </td>
                    <td>
                        RED eTap AXS (electronic)
                        <li>Chainring (2): 46-33T; 48-35T; 50-37T; 52-39T; 54/41T; 56-43T</li>
                        <li>Cassette (12 speeds): 10-26T; 10-28T; 10-33T; 10-44T</li>
                    </td>
                    <td>
                        Super Record Wireless (electronic)
                        <li>Chainring (2): 45-29T; 48-32T; 50-34T
                        <li>Cassette (12 speeds): 10-25T; 10-27T; 10-29T
                        <br>
                        Super Record
                        <li>Chainring (2): 34-50T; 36-52T; 39-53T </li>
                        <li>Cassette (12 speeds): 11-29T; 11-32T; 11-34T </li>
                        <br>
                        Record
                        <li>Crankset (2): 34-50T; 36-52T; 39-53T</li>
                        <li>Cassette (12 speeds): 11-29T; 11-32T; 11-34T </li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Mid-Range</th>
                    <td>
                        Ultegra (electronic)
                        <li>Chainring (2): 46-36T; 50-34T; 52-36T</li>
                        <li>Cassette (12 speeds): 11-30T; 11-34T</li>
                        <br>
                        Shimano 105 (electronic)
                        <li>Chainring (2): 50-34T; 52-36T</li>
                        <li>Cassette (12 speeds): 11-34T; 11-36T</li>
                        <br>
                        Shimano 105
                        <li>Chainring (2): 50-34T; 52-36T</li>
                        <li>Cassette (12 speeds): 11-34T; 11-36T</li>
                    </td>
                    <td>
                        Force eTap AXS (electronic)
                        <li>Chainring (1): 40T</li>
                        <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li>Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                        <br>
                        Force
                        <li>Chainring (1): 40T</li>
                        <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li>Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                        <br>
                        Rival Etap AXS (electronic)
                        <li>Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                        <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li>Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                        Rival
                        <li>Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                        <li>Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li>Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                    </td>
                    <td>
                        Chorus
                        <li>Chainring (2): 32-48T; 34-50T; 36-52T</li>
                        <li>Cassette (12 speeds): 11-29T; 11-32T</li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Entry-Level</th>
                    <td>
                        Tiagra
                        <li>Chainring (2): 48-34T; 50-34T; 52-36T; 59-39-30T</li>
                        <li>Chainring (3): 59-39-30T</li>
                        <li>Cassette (10 speeds): 11-25T; 11-32T; 11-34T; 12-28T</li>
                        <br>
                        Sora
                        <li>Chainring (2): 48-34T; 50-34T; 52-36T</li>
                        <li>Chainring (3): 59-39-30T</li>
                        <li>Cassette (9 speeds): 11-30T; 12-25T; 13-25T; 14-25T</li>
                        <br>
                        Claris
                        <li>Chainring (2): 46-34T; 50-34T</li>
                        <li>Chainring (3): 50-39-30T</li>
                        <li>Cassette (8 speeds): 11-28T; 11-30T; 11-32T; 11-34T; 12-23T; 12-25T; 13-26T</li>
                    </td>
                    <td>
                        Apex
                        <li>Chainring (1): 40T; 42T</li>
                        <li>Cassette (12 speeds): 11-44T</li>
                    </td>
                  </tr>
                </tbody>
              </table>

              














            <ul>
                <li>
                    <ul><h3>MTB</h3>
                        <li>
                            <ul>
                                <li><h4>Sram</h4>
                                    <ul><h5>XX SL Eagle AXS</h5>
                                        <li>Chainring: 30T // 32T // 34T // 36T // 38T</li>
                                        <li>Cassette: 10-52T</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>XX Eagle AXS
                                        <li>Chainring: 30T // 32T // 34T // 36T // 38T</li>
                                        <li>Cassette: 10-52T</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>XX Eagle AXS E-Bike
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>X0 Eagle AXS E-Bike
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>X0 Eagle AXS
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>GX Eagle E-MTB
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>GX Eagle AXS
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Shimano
                                    <ul>XTR
                                        <li>Chainring: </li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Deore XT
                                        <li>Chainring: </li>
                                        <li>Cassette: </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>SLX
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Deore
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Saint
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Zee
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Cues
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Alivio
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Acera
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Altus
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Microshift
                                    <ul>Advent X
                                        <li>Chainring: </li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Advent
                                        <li>Chainring: </li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>Acolyte
                                        <li>Chainring: </li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><h3>Road Groups</h3>
                            <ul>
                                <li><h4>Sram</h4>
                                    <ul><h5>RED eTap AXS</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><h4>Shimano</h4>
                                    <ul><h5>Dura-Ace</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Ultegra</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Tiagra</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Sora</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Claris</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><h4>Campagnolo</h4>
                                    <ul><h5>Super Record Wireless</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Super Record</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Record</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul><h5>Chorus</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><h3>Gravel Groups</h3>
                            <ul>
                                <li><h4>Sram</h4>
                                    <ul><h5>Force AXS</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                    <ul><h5>Rival ETAP</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                    <ul><h5>Apex</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><h4>Shimano</h4>
                                    <ul><h5>GRX</h5>
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>Campagnolo
                                    <ul>Ekar
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>Microshift
                                    <ul>Sword
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>State
                                    <ul>All Road
                                        <li>Chainring:</li>
                                        <li>Cassette:</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
            <h3>Sram</h3>

            <h4>XX Eagle AXS E-Bike Transmission Groupset</h4>
            <h5>Chain ring: 30T // 32T // 34T // 36T // 38T</h5>
            <h5>Cassette: 10-52T</h5>

            <h4>X0 Eagle AXS E-Bike Transmission Groupset</h4>
            <h5>Chain ring: 30T // 32T // 34T // 36T // 38T</h5>
            <h5>Cassette: 10-52T</h5>

            <h4>X0 Eagle AXS Transmission Groupset </h4>
            <h5>Chain ring: 30T // 32T // 34T // 36T // 38T</h5>
            <h5>Cassette: 10-52T</h5>

            <h4>GX Eagle Transmission E-MTB Groupset</h4>
            <h5>Chain ring: 30T // 32T // 34T // 36T // 38T</h5>
            <h5>Cassette: 10-52T</h5>

            <h4>GX Eagle AXS Transmission Groupset </h4>
            <h5>Chain ring: 32T</h5>
            <h5>Cassette: 10-52T</h5>

            <h3>Shimano</h3>

            <h4>XTR</h4>
            <h5>Crankset: 30T // 32T // 34T // 36T // 38T // 38-28T</h5>
            <h5>Cassette (12 speeds): 10-45T // 10-51T </h5>

            <h4>Deore XT</h4>
            <h5>Crankset: 36-26T // 28T // 30T // 32T // 34T // 36T  </h5>
            <h5>Cassette (12 speeds): 10-45T // 10-51T  </h5>
            <h5>Cassette (11 speeds): 11-50T  </h5>

            <h4>SLX</h4>
            <h5>Crankset: 36-26T // 30T // 32T // 34T   </h5>
            <h5>Cassette (12 speeds): 10-45T // 10-51T</h5>

            <h4>Deore</h4>
            <h5>Crankset: 30T // 32T // 34T // 36-26T </h5>
            <h5>Cassette (12 speeds): 10-51T </h5>
            <h5>Cassette (11 speeds): 11-42T // 11-51T</h5>
            <h5>Cassette (10 speeds): 11-36T // 11-42T</h5>

            <h4>Saint</h4>
            <h5>Chainring: 34T // 36T // 38T  </h5>
            <h5>Cassette (10 speeds): 11-25T // 11-28T // 11-32T // 11-34T // 11-36T // 12-25T // 12-30T   </h5>

            <h4>Zee</h4>
            <h5>Chainring: 34T // 36T // 38T   </h5>
            <h5>Cassette (10 speeds): 11-25T // 11-28T  </h5>

            <h4>Cues</h4>
            <h5>Chainring: 30T // 32T // 40T // 42T // 36-22T // 46-30T // 46-32T </h5>
            <h5>Cassette (11 speeds): 11-32T // 11-34T // 11-36T // 11-45T // 11-50T  </h5>

            <h4>Alivio</h4>
            <h5>Chainring: 40-30-22T // 44-32-22T // 36-22T // 46-30T </h5>
            <h5>Cassette (9 speeds): 11-25T // 11-32T // 11-34T // 11-36T   </h5>

            <h4>Acera</h4>
            <h5>Chainring: 40-30-22T // 44-32-22T // 36-22T // 46-30T</h5>
            <h5>Cassette (9 speeds): 11-25T // 11-28T // 11-32T // 11-34T // 11-36T // 12-36T   </h5>

            <h4>Altus</h4>
            <h5>Chainring: 40-30-22T // 44-32-22T //  </h5>
            <h5>Cassette (9 speeds): 11-32T // 11-34T // 11-36T   </h5>

            <h3>Microshift</h3>

            <h4>Advent X</h4>
            <h5>Chainring: </h5>
            <h5>Cassette (10 speeds): 11-48T </h5>

            <h4>Advent</h4>
            <h5>Chainring: </h5>
            <h5>Cassette (9 speeds): 11-38T // 11-42T // 11-46T  </h5>

            <h4>Acolyte</h4>
            <h5>Chainring: </h5>
            <h5>Cassette (8 speeds): 11-38T // 12-42T // 12-46T  </h5>

            <h2>Road Groups</h2>

            <h3>Sram</h3>

            <h4>RED eTap AXS Groupset</h4>
            <h5>Chain ring: 48-35T</h5>
            <h5>Cassette: 10-26T</h5>

            <h3>Shimano</h3>

            <h4>Dura-Ace</h4>
            <h5>Crankset: 46-36T // 50-34T // 52-36T // 54-40T</h5>
            <h5>Cassette: 11-30T // 11-34T</h5>

            <h4>Ultegra</h4>
            <h5>Crankset: 46-36T // 50-34T // 52-36T</h5>
            <h5>Cassette: 11-30T // 11-34T</h5>

            <h4>Shimano 105</h4>
            <h5>Crankset: 50-34T // 52-36T</h5>
            <h5>Cassette (12 speeds): 11-34T // 11-36T</h5>

            <h4>Tiagra</h4>
            <h5>Crankset: 48-34T // 50-34T // 52-36T // 59-39-30T</h5>
            <h5>Cassette (10 speeds): 11-25T // 11-32T // 11-34T // 12-28T</h5>

            <h4>Sora</h4>
            <h5>Crankset: 48-34T // 50-34T // 52-36T // 59-39-30T</h5>
            <h5>Cassette (9 speeds): 11-30T // 12-25T // 13-25T // 14-25T</h5>

            <h4>Claris</h4>
            <h5>Crankset: 46-34T // 50-34T // 50-39-30T</h5>
            <h5>Cassette (8 speeds): 11-28T // 11-30T // 11-32T // 11-34T // 12-23T // 12-25T // 13-26T</h5>

            <h3>Campagnolo</h3>

            <h4>Super Record Wireless</h4>
            <h5>Crankset: 45-29T // 48-32T // 50-34T</h5>
            <h5>Cassette (12 speeds): 10-25T // 10-27T // 10-29T</h5>

            <h4>Super Record</h4>
            <h5>Crankset: 34-50T // 36-52T // 39-53T</h5>
            <h5>Cassette (12 speeds): 11-29T // 11-32T // 11-34T </h5>

            <h4>Record</h4>
            <h5>Crankset: 34-50T // 36-52T // 39-53T</h5>
            <h5>Cassette (12 speeds): 11-29T // 11-32T // 11-34T </h5>

            <h4>Chorus</h4>
            <h5>Crankset: 32-48T // 34-50T // 36-52T</h5>
            <h5>Cassette (12 speeds): 11-29T // 11-32T</h5>

            <h2>Gravel Groups</h2>

            <h3>Sram</h3>

            <h4>Force AXS Groupset</h4>
            <h5>Crankset: 43-30T // 46-33T // 48-35T // 50-37T</h5>
            <h5>Crankset: 40T</h5>
            <h5>Cassette: 10-28T // 10-30T // 10-33T // 10-36T // 10-44T</h5>

            <h4>Rival Etap AXS</h4>
            <h5>Crankset: 43-30T // 46-33T // 48-35T // 50-37T</h5>
            <h5>Crankset: 33T // 35T // 38T // 40T // 42T // 43T // 44T // 46T // 48T</h5>
            <h5>Cassette: 10-30T // 10-36T // 10-44T</h5>

            <h4>Apex</h4>
            <h5>Crankset: 40T // 42T</h5>
            <h5>Cassette: 11-44T</h5>

            <h3>Shimano</h3>

            <h4>GRX</h4>
            <h5>Crankset: 46-30T // 48-31T // 42T // 40T</h5>
            <h5>Cassette (11 speeds): 11-25T // 11-28T // 11-30T // 11-32T // 11-34T // 11-40T // 11-42T // 11-46T // 12-25T // 14-28T</h5>
            <h5>Cassette (10 speeds): 11-25T // 11-32T // 12-28T // 11-34T // 11-36T</h5>

            <h3>Campagnolo</h3>

            <h4>Ekar</h4>
            <h5>Crankset: 38T // 40T // 42T // 44T</h5>
            <h5>Cassette (13 speeds): 9-36T // 9-42T // 10-44T</h5>

            <h3>Microshift</h3>

            <h4>Sword</h4>
            <h5>Chainring: 40T // 42T // 46-29T // 48-31T </h5>
            <h5>Cassette (10 speeds): 11-38T // 11-48T </h5>

            <h3>State</h3>

            <h4>All Road</h4>
            <h5>Chainring: 42T </h5>
            <h5>Cassette (11 speeds): 11-42T </h5>
        </div>
    </div>



{% endblock content %}