{% extends 'base/base_non_registered.html' %}
{% load static %}
{% load i18n %}

<!--ESto é para que aparezan os puntos nos datos dos países e os números sexan máis visibles-->
{% load humanize %}

{% block content %}

    <!-- Page content wrapper-->
    <div id="page-content-wrapper mt-5">
        <!-- Page content-->
        <div class="container-fluid">
            <h1>Main groups of the market</h1>
            <p>
            TerraMeiga shows the main groups available in the market with their different setups. Bear in mind with our tool you will know what's the steepest slope you could climb
            as well as the maximum speed you could reach.
            A continuacuón presentamos os principais grupos de mercado así como as súas diferentes configuracións. Lembra que coa nosa ferramenta podrás saber canto é a pendente
            máxmima que podrás ascender así como a velocidade máxima que podrás alcanzar.
            </p>
            <div class="text-center">
                <a id="sign_in_button" class="btn-lg mt-2" style="margin-right: 30px; text-decoration: None;" href="#gravel_table">Gravel</a>
                <a id="sign_in_button" class="btn-lg mt-2" style="margin-right: 30px; text-decoration: None;" href="#road_table">Road</a>
                <a id="sign_in_button" class="btn-lg mt-2" style="margin-right: 30px; text-decoration: None;" href="#mtb_table">MTB</a>
            </div>

            

            <table class="table mt-4" id="gravel_table">
                <thead>
                  <tr>
                    <th scope="col"><h3>GRAVEL</h3></th>
                    <th scope="row">Entry-Level</th>
                    <th scope="row">Mid-Range</th>
                    <th scope="row">Top-End</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Campagnolo</th>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Ekar</h5>
                            <li id="li_table">Chainring (1): 38T; 40T; 42T; 44T</li>
                            <li id="li_table">Cassette (13 speeds): 9-36T; 9-42T; 10-44T</li>
                        </td>
                      </tr>
                    <tr>
                        <th scope="col">Shimano</th>
                        <td></td>
                        <td>
                            <h5>GRX</h5>
                            <li id="li_table">Chainring (1): 42T; 40T</li>
                            <li id="li_table">Chainring (2): 46-30T; 48-31T</li>
                            <li id="li_table">Cassette (10 speeds): 11-25T; 11-32T; 12-28T; 11-34T; 11-36T</li>
                            <li id="li_table">Cassette (11 speeds):</li>
                            <li id="li_table">11-25T; 11-28T; 11-30T; 11-32T; 11-34T; 11-40T; 11-42T; 11-46T; 12-25T; 14-28T</li>
                            <li id="li_table">Cassette (12 speeds): 10-45T; 10-51T; 11-30T; 11-34T</li>
                            <li id="li_table"></li>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="col">Sram</th>
                        <td>
                            <h5>Apex</h5>
                            <li id="li_table">Chainring (1): 40T; 42T</li>
                            <li id="li_table">Cassette (12 speeds): 11-44T</li>
                        </td>
                        <td>
                            <h5>Force eTap AXS (electronic)</h5>
                            <li id="li_table">Chainring (1): 40T</li>
                            <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li id="li_table">Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                            <br>
                            <h5>Force</h5>
                            <li id="li_table">Chainring (1): 40T</li>
                            <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li id="li_table">Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                            <br>
                            <h5>Rival Etap AXS (electronic)</h5>
                            <li id="li_table">Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                            <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li id="li_table">Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                            <br>
                            <h5>Rival</h5>
                            <li id="li_table">Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                            <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                            <li id="li_table">Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="col">Microshift</th>
                            <td>
                                <h5>Sword</h5>
                                <li id="li_table">Chainring (1): 40T; 42T</li>
                                <li id="li_table">Chainring (2): 46-29T; 48-31T</li>
                                <li id="li_table">Cassette (10 speeds): 11-38T; 11-48T </li>
                            </td>
                            <td></td>
                            <td></td>
                    </tr>
                    <tr>
                        <th scope="col">State</th>
                            <td>
                                <h5>All Road</h5>
                                <li id="li_table">Chainring (1): 42T</li>
                                <li id="li_table">Cassette (11 speeds): 11-42T </li>
                            </td>
                            <td></td>
                            <td></td>
                    </tr>
                </tbody>
            </table>
            <p>fnsdjkahnfjkdasnfjkdhnsjkfnjksdnfjkasdnfjkdnasjkfndsjkafndjksanfjknasjkfndjksanfjkdasnfjkndjkfndjknvjksdnrnfadrsvonsdaljkfvnrajkln</p>

            

              <table class="table" id="road_table">
                <thead>
                  <tr>
                    <th scope="col"><h3>Road</h3></th>
                    <th scope="row">Entry-Level</th>
                    <th scope="row">Mid-Range</th>
                    <th scope="row">Top-End</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Campagnolo</th>
                    <td></td>
                    <td>
                        <h5>Chorus</h5>
                        <li id="li_table">Chainring (2): 48-32T; 50-34T; 52-36T</li>
                        <li id="li_table">Cassette (12 speeds): 11-29T; 11-32T; 11-34T</li>
                    </td>
                    <td>
                        <h5>Super Record Wireless (electronic)</h5>
                        <li id="li_table">Chainring (2): 45-29T; 48-32T; 50-34T</li>
                        <li id="li_table">Cassette (12 speeds): 10-25T; 10-27T; 10-29T</li>
                        <br>
                        <h5>Super Record</h5>
                        <li id="li_table">Chainring (2): 50-34T; 52-36T; 53-39T </li>
                        <li id="li_table">Cassette (12 speeds): 11-29T; 11-32T; 11-34T </li>
                        <br>
                        <h5>Record</h5>
                        <li id="li_table">Crankset (2): 50-34T; 52-36T; 53-39T</li>
                        <li id="li_table">Cassette (12 speeds): 11-29T; 11-32T; 11-34T </li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Shimano</th>
                    <td>
                        <h5>Tiagra</h5>
                        <li id="li_table">Chainring (2): 48-34T; 50-34T; 52-36T</li>
                        <li id="li_table">Chainring (3): 59-39-30T</li>
                        <li id="li_table">Cassette (10 speeds): 11-25T; 11-32T; 11-34T; 12-28T</li>
                        <br>
                        <h5>Sora</h5>
                        <li id="li_table">Chainring (2): 48-34T; 50-34T; 52-36T</li>
                        <li id="li_table">Chainring (3): 59-39-30T</li>
                        <li id="li_table">Cassette (9 speeds): 11-30T; 12-25T; 13-25T; 14-25T</li>
                        <br>
                        <h5>Claris</h5>
                        <li id="li_table">Chainring (2): 46-34T; 50-34T</li>
                        <li id="li_table">Chainring (3): 50-39-30T</li>
                        <li id="li_table">Cassette (8 speeds): 11-28T; 11-30T; 11-32T; 11-34T; 12-23T; 12-25T; 13-26T</li>
                    </td>
                    <td>
                        <h5>Shimano 105 (electronic)</h5>
                        <li id="li_table">Chainring (2): 50-34T; 52-36T</li>
                        <li id="li_table">Cassette (12 speeds): 11-34T; 11-36T</li>
                        <br>
                        <h5>Shimano 105</h5>
                        <li id="li_table">Chainring (2): 50-34T; 52-36T</li>
                        <li id="li_table">Cassette (12 speeds): 11-34T; 11-36T</li>
                    </td>
                    <td>
                        <h5>Dura-Ace (electronic)</h5>
                        <li id="li_table">Chainring (2): 46-36T; 50-34T; 52-36T; 54-40T</li>
                        <li id="li_table">Cassette (12 speeds): 11-30T; 11-34T</li>
                        <br>
                        <h5>Ultegra (electronic)</h5>
                        <li id="li_table">Chainring (2): 46-36T; 50-34T; 52-36T</li>
                        <li id="li_table">Cassette (12 speeds): 11-30T; 11-34T</li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Sram</th>
                    <td>
                        <h5>Apex</h5>
                        <li id="li_table">Chainring (1): 40T; 42T</li>
                        <li id="li_table">Cassette (12 speeds): 11-44T</li>
                    </td>
                    <td>
                        <h5>Force eTap AXS (electronic)</h5>
                        <li id="li_table">Chainring (1): 40T</li>
                        <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li id="li_table">Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                        <br>
                        <h5>Force</h5>
                        <li id="li_table">Chainring (1): 40T</li>
                        <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li id="li_table">Cassette (12 speeds): 10-28T; 10-30T; 10-33T; 10-36T; 10-44T</li>
                        <br>
                        <h5>Rival Etap AXS (electronic)</h5>
                        <li id="li_table">Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                        <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li id="li_table">Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                        <h5>Rival</h5>
                        <li id="li_table">Chainring (1): 33T; 35T; 38T; 40T; 42T; 43T; 44T; 46T; 48T</li>
                        <li id="li_table">Chainring (2): 43-30T; 46-33T; 48-35T; 50-37T</li>
                        <li id="li_table">Cassette (12 speeds): 10-30T; 10-36T; 10-44T</li>
                    </td>
                    <td>
                        <h5>RED eTap AXS (electronic)</h5>
                        <li id="li_table">Chainring (2): 46-33T; 48-35T; 50-37T; 52-39T; 54-41T; 56-43T</li>
                        <li id="li_table">Cassette (12 speeds): 10-26T; 10-28T; 10-33T; 10-44T</li>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>fnsdjkahnfjkdasnfjkdhnsjkfnjksdnfjkasdnfjkdnasjkfndsjkafndjksanfjknasjkfndjksanfjkdasnfjkndjkfndjknvjksdnrnfadrsvonsdaljkfvnrajkln</p>

              <table class="table" id="mtb_table">
                <thead>
                  <tr>
                    <th scope="col"><h3>MTB</h3></th>
                    <th scope="row">Entry-Level</th>
                    <th scope="row">Mid-Range</th>
                    <th scope="row">Top-End</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Shimano</th>
                    <td>
                        <h5>Alivio</h5>
                        <li id="li_table">Chainring (2): 36-22T; 46-30T </li>
                        <li id="li_table">Chainring (3): 40-30-22T; 44-32-22T </li>
                        <li id="li_table">Cassette (9 speeds): 11-25T; 11-32T; 11-34T; 11-36T </li>
                        <br>
                        <h5>Acera</h5>
                        <li id="li_table">Chainring (2): 36-22T; 46-30T </li>
                        <li id="li_table">Chainring (3): 40-30-22T; 44-32-22T; </li>
                        <li id="li_table">Cassette (9 speeds): 11-25T; 11-32T; 11-34T; 11-36T </li>
                        <br>
                        <h5>Altus</h5>
                        <li id="li_table">Chainring (3): 40-30-22T; 44-32-22T</li>
                        <li id="li_table">Cassette (9 speeds): 11-32T; 11-34T; 11-36T  </li>
                    </td>
                    <td>
                        <h5>Deore</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Chainring (2): 36-26T</li>
                        <li id="li_table">Cassette (10 speeds): 11-36T; 11-42T; 11-43T</li>
                        <li id="li_table">Cassette (11 speeds): 11-42T; 11-51T</li>
                        <li id="li_table">Cassette (12 speeds): 10-51T</li>
                        <br>
                        <h5>SLX</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Chainring (2): 36-26T</li>
                        <li id="li_table">Cassette (12 speeds): 10-45T; 10-51T</li>
                        <br>
                        <h5>Cues</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 40T; 42T </li>
                        <li id="li_table">Chainring (2): 36-22T; 46-30T; 46-32T </li>
                        <li id="li_table">Cassette (11 speeds): 11-45T; 11-50T </li>
                    </td>
                    <td>
                        <h5>XTR (electronic)</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T; 36T; 38T</li>
                        <li id="li_table">Chainring (2): 38-28T</li>
                        <li id="li_table">Cassette (12 speeds): 10-45T; 10-51T </li>
                        <br>
                        <h5>XTR</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T; 36T; 38T</li>
                        <li id="li_table">Chainring (2): 38-28T</li>
                        <li id="li_table">Cassette (12 speeds): 10-45T; 10-51T </li>
                        <br>
                        <h5>Deore XT (electronic)</h5>
                        <li id="li_table">Chainring (1): 28T; 30T; 32T; 34T; 36T </li>
                        <li id="li_table">Chainring (2): 36-26T</li>
                        <li id="li_table">Cassette (11 speeds): 11-50T </li>
                        <li id="li_table">Cassette (12 speeds): 10-45T; 10-51T </li>
                        <br>
                        <h5>Deore XT</h5>
                        <li id="li_table">Chainring (1): 28T; 30T; 32T; 34T; 36T </li>
                        <li id="li_table">Chainring (2): 36-26T</li>
                        <li id="li_table">Cassette (11 speeds): 11-50T </li>
                        <li id="li_table">Cassette (12 speeds): 10-45T; 10-51T </li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Sram</th>
                    <td>
                        <h5>SX Eagle</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Cassette (12 speeds): 11-50T </li>
                    </td>
                    <td>
                        <h5>GX Eagle AXS (electronic):</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Cassette (12 speeds): 10-52T</li>
                        <br>
                        <h5>GX Eagle:</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Cassette (12 speeds): 10-52T</li>
                        <br>
                        <h5>NX Eagle:</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Cassette (12 speeds): 11-50T</li>
                    </td>
                    <td>
                        <h5>XX1 Eagle AXS (electronic)</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T; 36T; 38T</li>
                        <li id="li_table">Cassette (12 speeds): 10-50T</li>
                        <br>
                        <h5>XX1 Eagle</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T; 36T</li>
                        <li id="li_table">Cassette (12 speeds): 10-52T</li>
                        <br>
                        <h5>X01 Eagle AXS (electronic)</h5>
                        <li id="li_table">Chainring (1): 32T</li>
                        <li id="li_table">Cassette (12 speeds): 10-50T; 10-52T </li>
                        <br>
                        <h5>X01 Eagle</h5>
                        <li id="li_table">Chainring (1): 30T; 32T</li>
                        <li id="li_table">Cassette (12 speeds): 10-52T</li>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Microshift</th>
                    <td>
                        <h5>Advent</h5>
                        <li id="li_table">Chainring (1):30T; 32T; 34T</li>
                        <li id="li_table">Cassette (9 speeds): 11-38T; 11-42T; 11-46T</li>
                        <br>
                        <h5>Acolyte</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Cassette (8 speeds): 11-38T; 12-42T; 12-46T</li>
                    </td>
                    <td>
                        <h5>Advent X</h5>
                        <li id="li_table">Chainring (1): 30T; 32T; 34T</li>
                        <li id="li_table">Cassette (10 speeds): 11-48T</li>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <p>fnsdjkahnfjkdasnfjkdhnsjkfnjksdnfjkasdnfjkdnasjkfndsjkafndjksanfjknasjkfndjksanfjkdasnfjkndjkfndjknvjksdnrnfadrsvonsdaljkfvnrajkln</p>


{% endblock content %}