{% extends 'base/base_registered.html' %}
{% load static %}
{% load i18n %}

<!--ESto é para que aparezan os puntos nos datos dos países e os números sexan máis visibles-->
{% load humanize %}

{% block content %}
<style>
    #grouping_card {
        background: none; /* Remove background */
        border: none; 
    }
</style>

<h2 class="mt-3 text-center">{% trans "Speed Tool" %}</h2>
<div id="background_graphs" class="row text-center" style="color: green;">
    <h2>{{speed_km_h_html}} km/h</h2>
    <h2>{{force_back_wheel_html}} Newtons Forza roda traseira</h2>
    <h2>{{force_slope_html}} Newtons Forza necesaria para subir a costa</h2>
    <h2>{{slope_percentage_html}} Pendiente máxima que pode subir</h2>
</div>
       
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Cassette 1</li>
        </ol>
        <form class="mx-1 mx-md-4" method="POST" action="" novalidate>
        {% csrf_token %}
            <div class="row">
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">What kind of cyclist are you?</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            {{ wattios_input_html.wattios }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Your weight</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            {{ weight_input_html.weight }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Group Brand Name</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            {{ groupset_brand_input_html.groupset_brand }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Group Model</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            {{ groupset_model_input_html.groupset_model }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Teeth of your chainring
                            <button id="1_chainring_button" style="display: none;">1</button>
                            <button id="2_chainring_button" style="display: none;">2</button>
                            <button id="3_chainring_button" style="display: none;">3</button>
                        </div>
                        <div>
                            {{ teeth_1chainring_input_html.teeth_1chainring }}
                        </div>
                        <div>
                            {{ teeth_2chainring_input_html.teeth_2chainring }} 
                        </div>
                        <div>
                            {{ teeth_3chainring_input_html.teeth_3chainring }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Teeth of your cassette</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            {{ teeth_cassette_input_html.teeth_cassette }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button id="update_personal_data_button" type="submit" class="btn btn-success btn-lg" id="deliveryNextBtn">Calculate</button>
            </div>
        </form>

        <div style="display: flex;">
            <div id="1_design_chainring" style="display: flex; align-items: center; margin-left: 50px;" class="mb-3">
                <div style="border-left: 10px solid blue; height: 150px; margin-left: 10px;"> </div> 
            </div>
            
            <div id="2_design_chainring" style="display: flex; align-items: center; margin-left: 50px;" class="mb-3">
                <div style="border-left: 10px solid blue; height: 150px; margin-left: 10px;"> </div> 
                <div style="border-left: 10px solid green; height: 300px; margin-left: 10px;"> </div> 
            </div>
            
            <div id="3_design_chainring" style="display: flex; align-items: center; margin-left: 50px" class="mb-3">
                <div style="border-left: 10px solid red; height: 75px;"> </div>
                <div style="border-left: 10px solid blue; height: 150px; margin-left: 10px;"> </div> 
                <div style="border-left: 10px solid green; height: 300px; margin-left: 10px;"> </div> 
            </div>
        </div>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    
                </table>
            </div>
        </div>
    </div>

<label>
    <ul id="ul_notes_tool">Assupmtions for the slope percent calculation:
        <li id="li_notes_tool">Climbing constant speed: 3.6 km/h</li>
        <li id="li_notes_tool">Surface: asphalt (there is always grip)</li>
        <li id="li_notes_tool">Ignoring resistance forces in the pedal, chain, bearings, wind... Considering only rolling force</li>
        <li id="li_notes_tool">Bike weight: 13 kg</li>
        <li id="li_notes_tool">Diameter of the wheels: 700mm</li>
        <li id="li_notes_tool">Wattios/kg measured for 5min:
            <ul>
                <li>Exceptional: 6.2 W/kg</li>
                <li>Excelent: 5.6 W/kg</li>
                <li>Very good: 5 W/kg</li>
                <li>Good: 4.3 W/kg</li>
                <li>Moderate 3.7 W/kg</li>
                <li>Novice: 1.7 W/kg</li>
            </ul>
        </li>
    </ul>
    <ul id="ul_notes_tool">Assupmtions for maximun speed:
        <li id="li_notes_tool">Crankarm: 165mm</li>
        <li id="li_notes_tool">Revolutions per minute: 130 rpm</li>
    </ul>
</label>
</main>

<!-- Include jQuery from CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    jQuery(document).ready(function () {
        // Function to update weight choices based on the selected wattios value
        function updateWeightChoices() {
            var selectedWattios = jQuery('#id_wattios_form').val();
            var weightSelect = jQuery('#id_weight_form');
            var newWeightChoices = [];

            if (selectedWattios === '6.2') {
                newWeightChoices = [
                    { value: '60', text: '60' },
                    { value: '65', text: '65' },
                    { value: '70', text: '70' },
                    { value: '75', text: '75' },
                    { value: '80', text: '80' },
                    { value: '85', text: '85' },
                ];
            } else if (selectedWattios === '5.6' ||  selectedWattios === '5') {
                newWeightChoices = [
                    { value: '60', text: '60' },
                    { value: '65', text: '65' },
                    { value: '70', text: '70' },
                    { value: '75', text: '75' },
                    { value: '80', text: '80' },
                    { value: '85', text: '85' },
                    { value: '90', text: '90' },
                ];
            } else if (selectedWattios === '4.3' || selectedWattios === '3.7' ) {
                newWeightChoices = [
                    { value: '50', text: '50' },
                    { value: '55', text: '55' },
                    { value: '60', text: '60' },
                    { value: '65', text: '65' },
                    { value: '70', text: '70' },
                    { value: '75', text: '75' },
                    { value: '80', text: '80' },
                    { value: '85', text: '85' },
                    { value: '90', text: '90' },
                    { value: '95', text: '95' },
                    { value: '100', text: '100' },
                ];
            } else if (selectedWattios === '1.7') {
                newWeightChoices = [
                    { value: '40', text: '40' },
                    { value: '45', text: '45' },
                    { value: '50', text: '50' },
                    { value: '55', text: '55' },
                    { value: '60', text: '60' },
                    { value: '65', text: '65' },
                    { value: '70', text: '70' },
                    { value: '75', text: '75' },
                    { value: '80', text: '80' },
                    { value: '85', text: '85' },
                    { value: '90', text: '90' },
                    { value: '95', text: '95' },
                    { value: '105', text: '105' },
                    { value: '110', text: '110' },
                    { value: '115', text: '115' },
                    { value: '120', text: '120' },
                    { value: '125', text: '125' },
                    { value: '130', text: '130' },
                    { value: '135', text: '135' },
                    { value: '140', text: '140' },
                    { value: '145', text: '145' },
                    { value: '150', text: '150' },
                ];
            }
            // Clear existing options and add new options
            weightSelect.empty();
            jQuery.each(newWeightChoices, function (index, item) {
                weightSelect.append(jQuery('<option>', {
                    value: item.value,
                    text: item.text
                }));
            });
        }
        // Attach the update function to the change event of the wattios dropdown
        jQuery('#id_wattios_form').change(updateWeightChoices);
    });
</script>

<!--This script connecs the groupset brand name with the group model name. Therefore if user selects Campagnolo, only groups from Campagnolo are showed up-->
<script>
    jQuery(document).ready(function () {
        function update_groupset_choices() {
            var select_groupset_brand = jQuery('#id_groupset_brand_form').val();
            var select_groupset_model = jQuery('#id_groupset_model_form');
            var new_groupset_choices = [];

            if (select_groupset_brand === 'Campagnolo') {
                new_groupset_choices = [
                    { value: 0, text: 'Ekar' },
                    { value: 0, text: 'Super Record Wireless' },
                    { value: 0, text: 'Super Record' },
                    { value: 0, text: 'Record' },
                    { value: 0, text: 'Chorus' },
                ];
            } else if (select_groupset_brand === 'Shimano') {
                new_groupset_choices = [
                    { value: 0, text: 'GRX' },
                    { value: 0, text: 'Dura-Ace' },
                    { value: 0, text: 'Ultegra' },
                    { value: 0, text: 'Shimano 105' },
                    { value: 0, text: 'Tiagra' },
                    { value: 0, text: 'Sora' },
                    { value: 0, text: 'Claris' },
                    { value: 0, text: 'XTR electronic'},
                    { value: 0, text: 'XTR'},
                    { value: 0, text: 'Deore XT electronic'},
                    { value: 0, text: 'Deore'},
                    { value: 0, text: 'SLX'},
                    { value: 0, text: 'Cues'},
                    { value: 0, text: 'Alivio'},
                    { value: 0, text: 'Acera'},
                    { value: 0, text: 'Altus'},
                ];
            } else if (select_groupset_brand === 'Sram' ) {
                new_groupset_choices = [
                    { value: 0, text:'Force eTap AXS (electronic)'},
                    { value: 0, text:'Force'},
                    { value: 0, text:'Rival Etap AXS (electronic)'},
                    { value: 0, text:'Rival'},
                    { value: 0, text:'Apex'},
                    { value: 0, text: 'Red eTap AXS'},
                    { value: 0, text: 'XX1 Eagle AXS electronic' },
                    { value: 0, text: 'XX1 Eagle' },
                    { value: 0, text: 'X01 Eagle AXS electronic' },
                    { value: 0, text: 'X01 Eagle' },
                    { value: 0, text: 'GX Eagle AXS electronic' },
                    { value: 0, text: 'GX Eagle' },
                    { value: 0, text: 'NX Eagle' },
                    { value: 0, text: 'SX Eagle' },
                ];
            } else if (select_groupset_brand === 'Microshift') {
                new_groupset_choices = [
                    { value: 'Sword', text: 'Sword' },
                    { value: 'Advent X', text: 'Advent X' },
                    { value: 'Advent', text: 'Advent' },
                    { value: 'Acolyte', text: 'Acolyte' },
                ];
            } else if (select_groupset_brand === 'State') {
                new_groupset_choices = [
                    { value: 'All Road', text: 'All Road' },
                ];
            }
            // Clear existing options and add new options
            select_groupset_model.empty();
            jQuery.each(new_groupset_choices, function (index, item) {
                select_groupset_model.append(jQuery('<option>', {
                    value: item.value,
                    text: item.text
                }));
            });
        }
        // Attach the update function to the change event of the wattios dropdown
        jQuery('#id_groupset_brand_form').change(update_groupset_choices);
    });
</script>

<!-- Actualizar os dropdowns do chainring 1 en fución do modelo de group set que se seleccione-->
<script>
    jQuery(document).ready(function () {
        function update_dropdown_chainring_choices() {
            var selected_model_groupset = jQuery('#id_groupset_model_form').val(); 
            var teeth_chainring_1 = jQuery('#id_teeth_1chainring_form'); 
            var new_teeth_choices = [];

            if (selected_model_groupset === 'Ekar') {
                new_teeth_choices = [
                    { value: 0, text: '38T' },
                    { value: 0, text: '40T' },
                    { value: 0, text: '42T' },
                    { value: 0, text: '44T' },
                ];
            }
            if (selected_model_groupset === 'GRX' || selected_model_groupset === 'Apex') {
                new_teeth_choices = [
                    { value: 0, text: '40T' },
                    { value: 0, text: '42T' },
                ];
            }
            if (selected_model_groupset === 'Deore' || selected_model_groupset === 'SLX') {
                new_teeth_choices = [
                    { value: 0, text: '30T' },
                    { value: 0, text: '32T' },
                    { value: 0, text: '34T' },
                ];
            }
            if (selected_model_groupset === 'Cues') {
                new_teeth_choices = [
                    { value: 0, text: '30T' },
                    { value: 0, text: '32T' },
                    { value: 0, text: '40T' },
                    { value: 0, text: '42T' },
                ];
            }
            if (selected_model_groupset === 'Force eTap AXS (electronic)' || selected_model_groupset === 'Force') {
                new_teeth_choices = [
                    { value: 0, text: '40T' },
                ];
            }
            if (selected_model_groupset === 'Rival eTap AXS (electronic)' || selected_model_groupset === 'Rival') {
                new_teeth_choices = [
                    { value: 0, text: '33T' },
                    { value: 0, text: '35T' },
                    { value: 0, text: '38T' },
                    { value: 0, text: '40T' },
                    { value: 0, text: '42T' },
                    { value: 0, text: '43T' },
                    { value: 0, text: '44T' },
                    { value: 0, text: '46T' },
                    { value: 0, text: '48T' },
                ];
            }
            if (selected_model_groupset === 'XX1 Eagle AXS (electronic)') {
                new_teeth_choices = [
                    { value: 0, text: '30T' },
                    { value: 0, text: '32T' },
                    { value: 0, text: '34T' },
                    { value: 0, text: '36T' },
                    { value: 0, text: '38T' },
                ];
            }
            // Clear existing options and add new options
            teeth_chainring_1.empty();

            jQuery.each(new_teeth_choices, function (index, item) {
                teeth_chainring_1.append(jQuery('<option>', {
                    value: item.value,
                    text: item.text
                }));
            });
        }
        // Attach the update function to the change event of the groupset model dropdown
        jQuery('#id_groupset_model_form').change(update_dropdown_chainring_choices);  // Update ID here
    });
</script>


<!-- Actualizar os dropdowns do chainring 2 en función do modelo de group set que se seleccione-->
<script>
    jQuery(document).ready(function () {
        function update_dropdown_chainring_choices() {
            var selected_model_groupset = jQuery('#id_groupset_model_form').val(); 
            var teeth_chainring_2 = jQuery('#id_teeth_2chainring_form'); 
            var new_teeth_choices = [];

            if (selected_model_groupset === 'Ekar') {
                new_teeth_choices = [
                    { value: 160.3, text: '38T/20T' },
                    { value: 168.4, text: '40T/20T' },
                ];
            }
            if (selected_model_groupset === 'GRX') {
                new_teeth_choices = [
                    { value: 168.4, text: '40T/20T' },
                    { value: 168.4, text: '41T/20T' },
                ];
            }
            // Clear existing options and add new options
            teeth_chainring_2.empty();

            jQuery.each(new_teeth_choices, function (index, item) {
                teeth_chainring_2.append(jQuery('<option>', {
                    value: item.value,
                    text: item.text
                }));
            });
        }
        // Attach the update function to the change event of the groupset model dropdown
        jQuery('#id_groupset_model_form').change(update_dropdown_chainring_choices);  // Update ID here
    });
</script>


<!--Mostrar o correspondente dropdown para o chainring e o cassette dependendo do gruposet que se seleccione-->
<script>
    jQuery(document).ready(function(){
        update_chainring_dropdown();
        jQuery ('#id_groupset_model_form').on ('change', function(){
            update_chainring_dropdown();
        });
        function update_chainring_dropdown () {
        var selected_groupset_model = jQuery('#id_groupset_model_form').val();

        if (selected_groupset_model === 'Ekar'){
            jQuery("#1_chainring_button").hide();
            jQuery("#id_teeth_1chainring_form").show();
            jQuery("#1_design_chainring").show();
            jQuery("#2_chainring_button").hide();
            jQuery("#id_teeth_2chainring_form").hide();
            jQuery("#2_design_chainring").hide();
            jQuery("#3_chainring_button").hide();
            jQuery("#id_teeth_3chainring_form").hide();
            jQuery("#3_design_chainring").hide();
        }
        else if (selected_groupset_model === 'GRX') {
            jQuery("#1_chainring_button").show();
            jQuery("#id_teeth_1chainring_form").show();
            jQuery("#1_design_chainring").hide();
            jQuery("#2_chainring_button").show();
            jQuery("#id_teeth_2chainring_form").hide();
            jQuery("#2_design_chainring").show();
            jQuery("#id_teeth_3chainring_form").hide();
            jQuery("#3_design_chainring").hide();
        }
    }})
</script>

<!--This script is to show the corresponding dropdown depending on the customer choice (1 chain ring or 2 chain rings)-->
<script>
    jQuery(document).ready(function () {
        var chainringDropdownState = sessionStorage.getItem('chainringDropdownState');

        var showDropdown1 = chainringDropdownState === '1';
        var showDropdown2 = chainringDropdownState === '2';
        var showDropdown2 = chainringDropdownState === '3';

    
        jQuery("#1_chainring_button").click(function (event) {
            event.preventDefault();  // Con esto o formulario non se submite cando clico nalgún dos botóns do chainring para mostrar o dropdown correspondente
            jQuery("#id_teeth_1chainring_form").show();
            jQuery("#1_design_chainring").show();
            jQuery("#id_teeth_2chainring_form").hide();
            jQuery("#2_design_chainring").hide();
            jQuery("#id_teeth_3chainring_form").hide();
            jQuery("#3_design_chainring").hide();
            sessionStorage.setItem('chainringDropdownState', '1'); //Con esto gardo o elemento na sesión para cando se me cargue a páxina sepa cal ten que aplicar. Ou dropdown 1 ou o 2
        });

        jQuery("#2_chainring_button").click(function (event) {
            event.preventDefault();  // Con esto o formulario non se submite cando clico nalgún dos botóns do chainring para mostrar o dropdown correspondente
            jQuery("#id_teeth_1chainring_form").hide();
            jQuery("#1_design_chainring").hide();
            jQuery("#id_teeth_2chainring_form").show();
            jQuery("#2_design_chainring").show();
            jQuery("#id_teeth_3chainring_form").hide();
            jQuery("#3_design_chainring").hide();
            sessionStorage.setItem('chainringDropdownState', '2'); //Con esto gardo o elemento na sesión para cando se me cargue a páxina sepa cal ten que aplicar. Ou dropdown 1 ou o 2
        });

        jQuery("#3_chainring_button").click(function (event) {
            event.preventDefault();  // Con esto o formulario non se submite cando clico nalgún dos botóns do chainring para mostrar o dropdown correspondente
            jQuery("#id_teeth_1chainring_form").hide();
            jQuery("#1_design_chainring").hide();
            jQuery("#id_teeth_2chainring_form").hide();
            jQuery("#2_design_chainring").hide();
            jQuery("#id_teeth_3chainring_form").show();
            jQuery("#3_design_chainring").show();
            sessionStorage.setItem('chainringDropdownState', '3'); //Con esto gardo o elemento na sesión para cando se me cargue a páxina sepa cal ten que aplicar. Ou dropdown 1 ou o 2
        });
        // Set initial visibility based on sessionStorage
        jQuery("#id_teeth_1chainring_form").toggle(showDropdown1);
        jQuery("#id_teeth_2chainring_form").toggle(showDropdown2);
        jQuery("#id_teeth_3chainring_form").toggle(showDropdown3);
    });
</script>

{% endblock content %}

  