<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#messages">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#settings">Settings</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="container tab-pane active"><h3>Home</h3></div>
    <div id="profile" class="container tab-pane fade"><h3>Profile</h3></div>
    <div id="messages" class="container tab-pane fade"><h3>Messages</h3></div>
    <div id="settings" class="container tab-pane fade"><h3>Settings</h3></div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
