{% load static %}

<!doctype html>
<html lang="en">

<!-- Bootstrap CSS --> <!--Esto é o css qie está cargado en internet. Se te fixas é unha stylesheet onde todos os formatos css-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>TerraMeiga</strong></a>
        <form class="d-flex-danger" role="search">
          <a type="button" class="btn btn-secondary btn-sm" href="{% url 'home_page' %}">GL</a>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}" style = "margin-left: 10px;">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'route' %}" style = "margin-left: 10px;">Percorrido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'info' %}" style = "margin-left: 10px;">Máis info</a>
            </li>
          </ul>
          <form class="d-flex-danger" role="search">
            <a class="btn btn-outline-light" href="{% url 'sign_in' %}" type="submit"><strong>Área Persoal</strong></a>
            <a class="btn btn-outline-danger" href="{% url 'sign_up' %}" type="submit"><strong>Rexístrarse</strong></a>
          </form>
        </div>
      </div>
    </nav>
  </header>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div>
          <div class="list-group">
              <a id="a_sidebar_classification" class="list-group-item list-group-item-action" data-toggle="collapse" href="#mtbOptions"><strong>MTB</strong></a>
              <div id="mtbOptions" class="collapse">
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text">Sram</span></a>
                  <div id="Sram_options" class="collapse">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">XX SL Eagle AXS</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">XX Eagle AXS</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">XX Eagle AXS E-Bike</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">X0 Eagle AXS E-Bike</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">X0 Eagle AXS</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">GX Eagle</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">GX Eagle AXS</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_options"><span class="text">Shimano</span></a>
                  <div class="collapse" id="Shimano_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">XTR</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Deore XT</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">SLX</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Deore</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Saint</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Zee</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Cues</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Alivio</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Acera</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Altus</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Microshift_options"><span class="text">Microshift</span></a>
                  <div class="collapse" id="Microshift_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Advent X</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Advent</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">Acolyte</span></a>
                  </div>
              </div>
      
              <a id="a_sidebar_classification" class="list-group-item list-group-item-action" data-toggle="collapse" href="#roadOptions">Road</a>
              <div class="collapse" id="roadOptions">
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_road_options"><span class="text">Sram</span></a>
                  <div class="collapse" id="Sram_road_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_options"><span class="text-type">RED eTap AXS</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text">Shimano</span></a>
                  <div class="collapse" id="Shimano_road_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Dura-Ace</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Ultegra</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Shimano 105</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Tiagra</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Sora</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Claris</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Campagnolo_road_options"><span class="text">Campagnolo</span></a>
                  <div class="collapse" id="Campagnolo_road_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Super Record Wireless</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Super Record</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Record</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">Chorus</span></a>
                  </div>
              </div>
      
              <a id="a_sidebar_classification" class="list-group-item list-group-item-action" data-toggle="collapse" href="#gravelOptions">Gravel</a>
              <div class="collapse" id="gravelOptions">
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_gravel_options"><span class="text">Sram</span></a>
                  <div class="collapse" id="Sram_gravel_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_road_options"><span class="text-type">Force AXS</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_road_options"><span class="text-type">Rival Etap AXS</span></a>
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Sram_road_options"><span class="text-type">Apex</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_gravel_options"><span class="text">Shimano</span></a>
                  <div class="collapse" id="Shimano_gravel_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Shimano_road_options"><span class="text-type">GRX</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Campagnolo_gravel_options"><span class="text">Campagnolo</span></a>
                  <div class="collapse" id="Campagnolo_gravel_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Campagnolo_gravel_options"><span class="text-type">Ekar</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Microshift_gravel_options"><span class="text">Microshift</span></a>
                  <div class="collapse" id="Microshift_gravel_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#Microshift_gravel_options"><span class="text-type">Sword</span></a>
                  </div>
                  <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#State_gravel_options"><span class="text">State</span></a>
                  <div class="collapse" id="State_gravel_options">
                      <a id="a_sidebar_brands" class="list-group-item list-group-item-action list-group-item-light" data-toggle="collapse" href="#State_gravel_options"><span class="text-type">All Road</span></a>
                  </div>
              </div>
          </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper mt-5">
            <!-- Page content-->
            <div class="container-fluid">
                <h1 class="mt-4">Información</h1>
                    <h2>Punto de saída da carreira</h2>
                        <p>A saída dará comezo dende Verín</p>
                    <h2>Como chegar</h2>
                        <p>Verín sitúase  no sur da provincia de Ourense, a 10km da fronteira portuguesa. Os principias medios de transaporte son:</p>
                    <ul>
                        <li>Tren</li>
                            <p>A 35 km de distancia sitúase a estación AVE de A Gudiña - Porta de Galicia</p>
                            <p>Existe un bus dende a estación ata Verín, pero a mellor opción é a de ir en bicicleta. É un percorrido agradable con pouco tráfico e con bastante baixada</p>

                        <li>Autobús</li>
                            <p>Esto é vos unha merda</p>
                        <li>Coche</li>
                            <p>Verín sitúase no cruce da A52 (Autovía das Rías Baixas) con fdk (Autovía portuguesa)</p>
                        <li>Avión</li>
                            <p>O aerporto con máis voos internacionais serña Porto. Para vir dende Porto a Verín pódese vir en Bus ata Chaves e despois son 30km chairos </p>
                    </ul>
                    <h2>Aloxamentos</h2>
                        <p>Cada persona podrá organizarse como ela mellor queira. Existirán onde se pode durmir en hospedaxe se se require ou pernoctar en calqueira sitio</p>
                    <h2>Onde comer</h2>
                        <p>Durante a ruta pódense encontrar bos establecementos para recuperar enerxías</p>
                    <h2>Tempo</h2>
                        <p>Galicia caracterízase por ter un tempo cambiante. Ben preparado para xornadas de choiva. Mételle un enlace a meteo galicia</p>
                    <h2>Entorno</h2>
                    <h2>Normas</h2>
                        <ul>
                            <li>Queda terminantemente prohibido tira lixo no monte. Será motivo de descalificación</li>
                            <li>Queda terminantemente prohibido facer lume</li>
                            <li>Queda terminantemente prohibido subirse a un coche ou ser arrastrado por calquera medio de locomoción</li>
                        </ul>
                    <h2>Perigos</h2>
                    <ul>
                      <li>Nalgúns camiños da serra é habitual atopar gando no camiño</li>
                      <li>Poden existir pistas con moita pedra na que se require gran destreza coa bicicleta</li>
                      <li>Queda terminantemente prohibido subirse a un coche ou ser arrastrado por calquera medio de locomoción</li>
                  </ul>
                    <h2>Condicións legais</h2>
                    <h2>Normas</h2>
                    <ul>
                        <li>A organización quedará exenta de calquera accidente que se poda ocasinar na carreira</li>
                        <li>Non se pode salir da ruta establecida pola organización a non ser que sexa por motivos mecánicos de abitullament. En ningún caso se poderá atallar</li>
                        <li>Pode existir tramos que puderon sufrir alteracións por circunstancias varias. Nese caso, podrá tomar unha vía alternativa</li>
                        <li>Queda terminantemente prohibido subirse a un coche ou ser arrastrado por calquera medio de locomoción</li>
                        <li>É obrigatorio circular pola marxe dereita da estrada, deixando o máximo espazo posible aos coches para que fagan o adiantamento</li>
                    </ul>
                    <h2>Filosofía da carreira</h2> 
                    <p>Terra meiga non é un paseo dun día en bicicleta. Requírese estar longas xornadas en bicicleta e requírese destreza con esta. a proba é dura</p>
            </div>
        </div>
      </div>

<body>
  
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>